Repository UKCloud/documentation, pull requests merged in 2019-05, with the labels that each got.

#503 Add S2S VPN via PowerShell doc
  articles/azure/azs-how-create-S2S-VPN-ps.md
Labels: Azure Stack, new article

#521 Updated link on AZS scale set doc
  articles/azure/azs-how-create-scale-set.md
Labels: Azure Stack, minor fix

#489 How to resize disks document
  articles/azure/azs-how-resize-disks.md
  articles/azure/images/azs-browser-vm-disk-save-button.png
  articles/azure/images/azs-browser-vm-disk-size-managed.png
  articles/azure/images/azs-browser-vm-disk-size.png
  articles/azure/images/azs-browser-vm-menu-disks-button.png
Labels: Azure Stack, new article

#507 Updating outdated info
  articles/openshift/oshift-gs.md
Labels: OpenShift

#534 Update azs-how-resize-disks.md
  articles/azure/azs-how-resize-disks.md
Labels: Azure Stack, minor fix

#531 Remove N3 from VMware doc
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-ref-access-to-vms.md
  articles/vmware/vmw-ref-service-options.md
  articles/vmware/vmw-sco.md
Labels: Connectivity, minor fix

#530 Remove N3 from Private Cloud doc
  articles/private-compute/prc-sco.md
  articles/private-storage/prs-sco.md
Labels: Connectivity, minor fix

#529 Remove N3 from Oracle doc
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-sco.md
Labels: Connectivity, minor fix

#527 Remove N3 from HPC doc
  articles/hpc/hpc-ref-overview.md
Labels: Connectivity, minor fix

#525 Removed N3 refs in Email doc
  articles/email/email-faq.md
  articles/email/email-how-use-with-app.md
Labels: Connectivity, minor fix

#523 Remove n3 storage
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-sco.md
Labels: Connectivity, minor fix

#532 Remove N3 from remaining articles
  articles/connectivity/conn-faq.md
  articles/other/other-faq-promon.md
  articles/other/other-faq-sla.md
  articles/other/other-ref-best-practice-guide.md
  articles/other/other-ref-services-by-region.md
  articles/other/other-ref-services-by-zone.md
  articles/other/other-ref-sla-definition.md
  articles/other/other-sco-free-trials.md
Labels: Connectivity, minor fix

#524 Remove N3 from DRaaS doc
  articles/draas/draas-faq.md
Labels: Connectivity, minor fix

#538 Added additional connectivity
  articles/other/other-ref-services-by-region.md
  articles/other/other-ref-services-by-zone.md
Labels: OpenShift

#539 Fixed 3 occurrences
  articles/azure/azs-how-create-S2S-VPN.md
  articles/azure/azs-how-create-key-vault-portal.md
  articles/azure/azs-how-resize-disks.md
Labels: Azure Stack, minor fix

#536 Azs add html forms
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
  articles/azure/azs-how-create-S2S-VPN-ps.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-how-retrieve-quota-ps.md
Labels: Azure Stack, enhancement

#522 Update SRA FAQ
  articles/sra/sra-faq.md
Labels: SRA/CDSZ

#537 Update vmw-how-upgrade-edge.md
  articles/vmware/vmw-how-upgrade-edge.md
Labels: VMware

#533 Update vmw-how-convert-edge.md
  articles/vmware/vmw-how-convert-edge.md
Labels: VMware

#543 Fixed prerequisites
  articles/azure/azs-how-create-S2S-VPN-ps.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-list-vm-extensions.md
Labels: Azure Stack, minor fix

#542 Fixes from comments in PR 520
  articles/azure/azs-how-resize-disk-portal.md
Labels: Azure Stack, minor fix

#520 Update AZS resize disk - PowerShell
  articles/azure/azs-how-resize-disk-ps.md
  articles/azure/azs-how-resize-os-drive.md
Labels: Azure Stack, enhancement

#545 Fixed problems, added Armendpoint variable
  articles/azure/azs-how-resize-disk-ps.md
Labels: Azure Stack, enhancement

#546 Update Configure PoSH environment doc for 1.7.2
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, enhancement

#430 Openshift security best practices
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift, new article

#535 Oshift proxy add subdomain warning
  articles/openshift/oshift-how-add-domains-proxy-whitelist.md
Labels: OpenShift

#526 Oshift prometheus monitoring
  articles/openshift/oshift-ref-cluster-monitoring.md
Labels: OpenShift, new article

#547 Added line regarding MCA to AZS getting started guide
  articles/azure/azs-gs.md
Labels: Azure Stack, new info

#549 Changed write-host to write-output
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-deploy-sql-template-powershell.md
Labels: Azure Stack, minor fix

#550 Updated SPN portal doc and images
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/images/azs-browser-app-registrations.png
  articles/azure/images/azs-browser-create-spn.png
  articles/azure/images/azs-browser-select-SPN-App-ID.png
Labels: Azure Stack, update info

#554 remove Get-AzureRmProfile as it is no longer needed
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, update info

#553 Azure Stack Azure Site Recovery doc
  articles/azure/azs-how-deploy-asr-template-powershell.md
Labels: Azure Stack, new article

#555 Added how to convert VM to managed disks doc
  articles/azure/azs-how-convert-to-managed-disks-ps.md
Labels: Azure Stack, new article

#556 Add moving VM between VNets doc
  articles/azure/azs-how-move-vm-new-vnet-ps.md
Labels: Azure Stack, new article

#552 Virtual hardware 11
  articles/vmware/vmw-ref-virtual-hardware-v11.md
Labels: VMware, update info

#560 Removed old screenshot
  articles/vmware/images/ptl-mnu-my-calls.png
  articles/vmware/images/ptl-my-calls-new-ticket.png
  articles/vmware/images/redhat-image-1.png
  articles/vmware/vmw-how-license-red-hat.md
  docs/articles/vmware/images/redhat-image-1.png
Labels: VMware, update info

#565 Remove old article
  articles/other/other-ref-ideas-competition.md
  docs/articles/other/other-ref-ideas-competition.html
Labels: update info

#567 Fixed location retrieval method
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
  articles/azure/azs-how-convert-to-managed-disks-ps.md
  articles/azure/azs-how-create-S2S-VPN-ps.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-deploy-asr-template-powershell.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-how-move-vm-new-vnet-ps.md
  articles/azure/azs-how-retrieve-quota-ps.md
Labels: Azure Stack, update info
