Repository UKCloud/documentation, pull requests merged in 2019-10, with the labels that each got.

#729 Add Q about default class of service
  articles/email/email-faq.md
Labels: new info

#728 Add link to bulk renewal form
  articles/sra/sra-faq.md
Labels: SRA/CDSZ, update info

#727 Update link to MISO form
  articles/other/other-faq-miso-rebate.md
Labels: G-Cloud, update info

#731 Make escalation info clearer
  articles/portal/ptl-how-raise-escalate-service-request.md
Labels: Support, update info

#732 removal of CloudArray
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-create-user.md
  articles/cloud-storage/cs-how-install-cloudarray.md
  articles/cloud-storage/cs-how-install-geodrive2-client.md
  articles/cloud-storage/cs-how-reset-secret-key.md
  articles/cloud-storage/cs-how-use-ecs-python-boto.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-how-view-info-portal.md
  articles/cloud-storage/cs-sco.md
  articles/cloud-storage/cs-sd.md
  articles/cloud-storage/toc.yml
  docs/articles/cloud-storage/cs-how-install-cloudarray.html
Labels: Cloud Storage

#733 Remove old Spectre article
  articles/other/other-ref-spectre-meltdown.md
  docs/articles/other/other-ref-spectre-meltdown.html
Labels: X-platform, update info

#725 New article for ideas
  articles/other/images/other-ideas-add.png
  articles/other/images/other-ideas-challenges.png
  articles/other/images/other-ideas-comment.png
  articles/other/images/other-ideas-home.png
  articles/other/images/other-ideas-links.png
  articles/other/images/other-ideas-mnu-challenges.png
  articles/other/images/other-ideas-status.png
  articles/other/images/other-ideas-submit.png
  articles/other/images/other-ideas-vote.png
  articles/other/other-how-share-ideas.md
Labels: Support, new article

#738 Update review date
  articles/openshift/oshift-faq.md
Labels: OpenShift, minor fix

#744 Add known issue
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-sco.md
Labels: OpenStack, new info

#741 Fix broken toc link
  articles/vmware/vmw-how-zerto-create-vpg.md
Labels: minor fix

#740 Update review date
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-how-access-edge.md
  articles/vmware/vmw-how-configure-load-balancer.md
  articles/vmware/vmw-how-create-catalog.md
  articles/vmware/vmw-how-create-dhcp-pool.md
  articles/vmware/vmw-how-create-firewall-rules.md
  articles/vmware/vmw-how-create-isolated-network.md
  articles/vmware/vmw-how-create-nat-rules.md
  articles/vmware/vmw-how-create-routed-network.md
  articles/vmware/vmw-how-create-static-route.md
  articles/vmware/vmw-how-create-vapp-network.md
  articles/vmware/vmw-how-create-vapp.md
  articles/vmware/vmw-how-create-vm-from-scratch.md
  articles/vmware/vmw-how-create-vm-from-template.md
  articles/vmware/vmw-how-find-ip-addresses.md
  articles/vmware/vmw-how-portal-view-vms.md
  articles/vmware/vmw-how-switch-web-console.md
  articles/vmware/vmw-how-update-vm-settings.md
  articles/vmware/vmw-how-upload-media-iso-flp.md
  articles/vmware/vmw-how-use-affinity-rules.md
  articles/vmware/vmw-how-use-ovf-tool.md
  articles/vmware/vmw-ref-trouble-ipsec-nsx64.md
  articles/vmware/vmw-ref-trouble-null-pointer.md
  articles/vmware/vmw-ref-twreuse.md
  articles/vmware/vmw-ref-virtual-hardware-v11.md
  articles/vmware/vmw-sco-synchronous-protection.md
Labels: VMware, minor fix

#736 Fix typo
  articles/other/other-how-share-ideas.md
Labels: minor fix

#746 Add WSUS video
  articles/vmware/vmw-how-connect-windows-update.md
  articles/vmware/vmw-vid-wsus.md
Labels: VMware, new article

#735 Oshift migration tool
  articles/openshift/oshift-how-backup-migrate.md
Labels: OpenShift, new article

#519 Public guide regarding DNS Zone Forwarding
  articles/openshift/oshift-ref-dns-zone-forwarding.md
Labels: OpenShift

#754 PVC issues
  articles/openshift/oshift-faq.md
  articles/openshift/oshift-sco.md
Labels: OpenShift

#759 Updated link to 3rd party software pricing guide
  articles/other/other-ref-service-definitions.md
Labels: minor fix, third-party

#760 Update link to 3rd party pricing guide
  articles/other/other-ref-pricing-guide.md
Labels: minor fix, third-party

#748 Update zone for OSP13
  articles/other/other-ref-services-by-region.md
Labels: OpenStack, minor fix

#756 Update review date
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-how-build-vm.md
  articles/oracle/orcl-how-enable-ha.md
  articles/oracle/orcl-ref-rac.md
  articles/oracle/orcl-ref-templates.md
Labels: Oracle

#763 Updated My Calls steps
  articles/openshift/oshift-how-create-users.md
  articles/openstack/ostack-how-create-users.md
  articles/vmware/vmw-how-license-microsoft.md
  articles/vmware/vmw-how-license-red-hat.md
Labels: X-platform, update info

#758 Update third-sd-cyberscore.md
  articles/third-party/third-sd-cyberscore.md
Labels: minor fix, third-party

#766 Flip linux and windows vm in tf
  articles/azure/azs-how-create-vm-terraform.md
Labels: Azure Stack, minor fix
