Repository UKCloud/documentation, pull requests merged in 2019-11, with the labels that each got.

#776 Remove orphaned HTML file
  docs/articles/portal/ptl-overview-permissions.html
Labels: Portal

#777 Update review date
  articles/email/email-gs.md
Labels: minor fix

#734 Add article for adding storage to VM
  articles/vmware/images/vmw-vcd-mnu-storage-policies.png
  articles/vmware/images/vmw-vcd-storage-limit.png
  articles/vmware/images/vmw-vcd-vm-hardware.png
  articles/vmware/vmw-how-increase-storage.md
Labels: VMware, new article

#781 Fix broken links
  articles/gpu/gpu-faq.md
  articles/gpu/gpu-sco.md
Labels: GPU, minor fix

#780 Update Oracle licensing info
  articles/oracle/orcl-ref-licensing.md
Labels: Oracle, update info

#782 Fix broken external links
  articles/azure/azs-how-use-azure-api.md
  articles/gpu/gpu-sco.md
  articles/other/other-how-use-webhooks.md
  articles/vmware/vmw-ref-vcd-97.md
  articles/vmware/vmw-sco-byof.md
  articles/vmware/vmw-sco.md
Labels: minor fix

#778 New high availability article
  articles/other/other-ref-high-availability.md
Labels: X-platform, new article

#785 Update max resource limits
  articles/vmware/vmw-ref-oversized-vms.md
Labels: VMware, update info

#784 Update Zerto version
  articles/draas/draas-faq.md
  articles/draas/draas-gs.md
  articles/migration/migr-how-zerto-migrate-to-ukcloud.md
Labels: draas, update info

#788 Fix broken link
  articles/cloud-storage/cs-sco.md
  articles/openstack/ostack-how-move-resources.md
  articles/oracle/orcl-sco.md
Labels: minor fix

#680 Oshift kibana dashboards
  articles/openshift/images/oshift-kibana-dash-311.png
  articles/openshift/images/oshift-kibana-dash-39.png
  articles/openshift/images/oshift-kibana-hosts.png
  articles/openshift/images/oshift-kibana-returncodes.png
  articles/openshift/oshift-ref-kibana-dashboards.md
Labels: OpenShift

#787 Update Portal articles
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-raise-escalate-service-request.md
  articles/portal/ptl-how-use-api.md
  articles/portal/ptl-ref-overview-permissions.md
  articles/portal/ptl-ref-user-access.md
  articles/vmware/vmw-gs.md
Labels: Portal, update info

#795 Fix metadata
  articles/openshift/oshift-ref-kibana-dashboards.md
Labels: OpenShift, minor fix

#794 Update oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift

#796 Openshift reviews
  articles/openshift/oshift-how-build-app-private-repo.md
  articles/openshift/oshift-how-monitor-cluster.md
Labels: OpenShift, minor fix

#786 Annual review
  articles/other/other-ref-dc-notice.md
Labels: minor fix

#799 Add licence questions to SRA FAQ
  articles/sra/sra-faq.md
Labels: SRA/CDSZ, new info

#798 OpenStack windows password update
  articles/openstack/images/ostack-horizon-retrieve-password-decrypt.png
  articles/openstack/images/ostack-horizon-retrieve-password.png
  articles/openstack/ostack-how-retrieve-windows-password.md
Labels: OpenStack

#803 Add glossary
  articles/other/other-ref-glossary.md
Labels: X-platform, new article

#807 Add article for creating VDC video
  articles/vmware/vmw-home.md
  articles/vmware/vmw-vid-build-vdc-portal.md
Labels: VMware, new article

#809 Add letters to top of article
  articles/other/other-ref-glossary.md
Labels: X-platform, new info

#815 fix broken links
  articles/azure/azs-how-create-S2S-VPN-azurestack-to-azure.md
Labels: Azure Stack, minor fix

#801 Add article for IPsec VPN
  articles/openstack/images/ostack-vpn-horizon-static-route.png
  articles/openstack/images/ostack-vpn-infrastructure-template.png
  articles/openstack/images/ostack-vpn-launch-stack.png
  articles/openstack/images/ostack-vpn-networks.png
  articles/openstack/images/ostack-vpn-pfsense-firewall.png
  articles/openstack/images/ostack-vpn-pfsense-ipsec-overview.png
  articles/openstack/images/ostack-vpn-pfsense-login.png
  articles/openstack/images/ostack-vpn-pfsense-tunnels.png
  articles/openstack/ostack-how-configure-ipsec-vpn.md
Labels: OpenStack, new article
