Repository UKCloud/documentation, pull requests merged in 2019-12, with the labels that each got.

#783 Add articles for Portal security settings
  articles/portal/images/ptl-2fa-enable.png
  articles/portal/images/ptl-mnu-settings.png
  articles/portal/images/ptl-security-memorable-word-enable.png
  articles/portal/images/ptl-security-memorable-word-exclude.png
  articles/portal/images/ptl-security-memorable-word-switch.png
  articles/portal/images/ptl-security-password-expiration.png
  articles/portal/images/ptl-security-settings-enabled.png
  articles/portal/images/ptl-security-settings.png
  articles/portal/images/ptl-settings-ip-api-account.png
  articles/portal/images/ptl-settings-ip-api-user.png
  articles/portal/images/ptl-settings-ip-portal-account.png
  articles/portal/images/ptl-settings-ip-portal-user.png
  articles/portal/images/ptl-settings-tab-security.png
  articles/portal/ptl-how-enable-2fa.md
  articles/portal/ptl-how-enable-memorable-word.md
  articles/portal/ptl-how-restrict-access-portal.md
  articles/portal/ptl-how-restrict-access-vcloud-api.md
  articles/portal/ptl-how-setup-2fa.md
  articles/portal/ptl-how-setup-password-expiration.md
  articles/portal/ptl-ref-memorable-word.md
  articles/portal/ptl-ref-security-settings.md
  docs/articles/portal/ptl-ref-memorable-word.html
Labels: Portal, new article

#488 Update vmw-how-access-centos-update-servers.md
  articles/vmware/vmw-how-access-centos-update-servers.md
Labels: VMware

#802 Adding Hystax EULA to KC
  articles/third-party/third-ref-eula.md
Labels: OpenStack

#818 Add more keywords for support
  articles/portal/ptl-how-raise-escalate-service-request.md
Labels: Support, new info

#817 Consolidate promon info
  articles/other/images/all_contacts.png
  articles/other/images/contact_permissions.png
  articles/other/images/edit_contact.png
  articles/other/images/monitoring_permissions.png
  articles/other/images/searching_filtering.png
  articles/other/images/security_brief.png
  articles/other/other-faq-promon.md
  articles/other/other-ref-cyber-security-news.md
  articles/other/other-ref-promon-showback.md
  articles/other/other-ref-promon.md
Labels: X-platform, update info

#819 Fixing broken links
  articles/azure/azs-faq.md
  articles/cloud-storage/cs-faq.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-glossary.md
  articles/portal/ptl-gs.md
Labels: minor fix

#790 Oshift gs review update
  articles/openshift/oshift-gs.md
Labels: OpenShift, update info

#797 Updates to How to obtain usage metrics to use for OpenShift capacity management
  articles/openshift/images/oshift-adm-top.png
  articles/openshift/images/oshift-desc-node.png
  articles/openshift/images/oshift-get-nodes.png
  articles/openshift/images/oshift-get-pv.png
  articles/openshift/oshift-how-obtain-usage-metrics.md
Labels: OpenShift, update info

#821 Remove CyberScore
  articles/other/other-faq-g11.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
  articles/third-party/images/third-cyberscore-btn-new-vm.png
  articles/third-party/images/third-cyberscore-cyber-essentials.png
  articles/third-party/images/third-cyberscore-mnu-setup.png
  articles/third-party/images/third-cyberscore-registration-complete.png
  articles/third-party/images/third-cyberscore-vm-details.png
  articles/third-party/images/third-cyberscore-vm-network.png
  articles/third-party/images/third-cyberscore-vm.png
  articles/third-party/images/vmw-vcd-tab-vms.png
  articles/third-party/third-faq-cyberscore.md
  articles/third-party/third-how-deploy-cyberscore-vm.md
  articles/third-party/third-ref-cyberscore-prereqs.md
  articles/third-party/third-ref-eula.md
  articles/third-party/third-sco-cyberscore.md
  articles/third-party/third-sd-cyberscore.md
  articles/third-party/third-vid-cyberscore.md
  docs/articles/third-party/images/third-cyberscore-btn-new-vm.png
  docs/articles/third-party/images/third-cyberscore-cyber-essentials.png
  docs/articles/third-party/images/third-cyberscore-mnu-setup.png
  docs/articles/third-party/images/third-cyberscore-registration-complete.png
  docs/articles/third-party/images/third-cyberscore-vm-details.png
  docs/articles/third-party/images/third-cyberscore-vm-network.png
  docs/articles/third-party/images/third-cyberscore-vm.png
  docs/articles/third-party/images/vmw-vcd-tab-vms.png
  docs/articles/third-party/third-faq-cyberscore.html
  docs/articles/third-party/third-how-deploy-cyberscore-vm.html
  docs/articles/third-party/third-ref-cyberscore-prereqs.html
  docs/articles/third-party/third-sco-cyberscore.html
  docs/articles/third-party/third-sd-cyberscore.html
  docs/articles/third-party/third-vid-cyberscore.html
Labels: third-party, update info

#823 Add Trilio video
  articles/openstack/ostack-home.md
  articles/openstack/ostack-how-use-triliovault.md
  articles/openstack/ostack-vid-trilio.md
Labels: OpenStack, new article

#826 Remove memorable word for login
  articles/portal/images/ptl-mem-word-switch.png
  articles/portal/images/ptl-mem-word.png
  articles/portal/images/ptl-memorable-word.png
  articles/portal/images/ptl-security-memorable-word-enable.png
  articles/portal/images/ptl-security-memorable-word-exclude.png
  articles/portal/images/ptl-security-memorable-word-switch.png
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-enable-memorable-word.md
  articles/portal/ptl-how-reset-password.md
  articles/portal/ptl-how-setup-2fa.md
  articles/portal/ptl-how-use-my-calls.md
  articles/portal/ptl-ref-overview-permissions.md
  articles/portal/ptl-ref-security-settings.md
  articles/portal/ptl-ref-user-access.md
  articles/vmware/vmw-gs.md
  docs/articles/portal/images/ptl-mem-word-switch.png
  docs/articles/portal/images/ptl-mem-word.png
  docs/articles/portal/images/ptl-memorable-word.png
  docs/articles/portal/images/ptl-security-memorable-word-enable.png
  docs/articles/portal/images/ptl-security-memorable-word-exclude.png
  docs/articles/portal/images/ptl-security-memorable-word-switch.png
  docs/articles/portal/ptl-how-enable-memorable-word.html
Labels: Portal, update info

#831 Update ostack-faq.md
  articles/openstack/ostack-faq.md
Labels: OpenStack
