Repository UKCloud/documentation, pull requests merged in 2019-08, with the labels that each got.

#548 Storage security
  articles/cloud-storage/cs-faq.md
Labels: Cloud Storage

#648 Update My Calls article
  articles/portal/images/ptl-mycalls-btn-add-note-incident.png
  articles/portal/images/ptl-mycalls-btn-add-note-request.png
  articles/portal/images/ptl-mycalls-btn-attach-incident.png
  articles/portal/images/ptl-mycalls-btn-attach-request.png
  articles/portal/images/ptl-mycalls-btn-request-submit.png
  articles/portal/images/ptl-mycalls-btn-roles.png
  articles/portal/images/ptl-mycalls-btn-save-incident-details.png
  articles/portal/images/ptl-mycalls-btn-save-incident.png
  articles/portal/images/ptl-mycalls-btn-save-request.png
  articles/portal/images/ptl-mycalls-edit-incident.png
  articles/portal/images/ptl-mycalls-edit-request.png
  articles/portal/images/ptl-mycalls-home.png
  articles/portal/images/ptl-mycalls-incident-close.png
  articles/portal/images/ptl-mycalls-incident-reopen.png
  articles/portal/images/ptl-mycalls-new-incident.png
  articles/portal/images/ptl-mycalls-new-request.png
  articles/portal/images/ptl-mycalls-service-catalog.png
  articles/portal/images/ptl-mycalls-tab-admin.png
  articles/portal/images/ptl-mycalls-tab-catalog.png
  articles/portal/images/ptl-mycalls-tab-request-details.png
  articles/portal/images/ptl-mycalls-template-incident.png
  articles/portal/images/ptl-mycalls-template-request.png
  articles/portal/images/ptl-mycalls-user.png
  articles/portal/ptl-how-use-my-calls.md
Labels: Support, update info

#650 Update SLA for Oracle
  articles/oracle/orcl-sd.md
  articles/other/other-ref-sla-definition.md
Labels: Oracle

#628 Fix/Expanded Create VM with TF
  articles/azure/azs-how-create-vm-terraform.md
Labels: Azure Stack, new info, update info

#657 Vcd 820
  articles/other/other-ref-customer-admin.md
  articles/vmware/images/manage-image-4.png
  articles/vmware/images/ovf-image-1.png
  articles/vmware/images/ptl-contact-permissions-vapp-user.png
  articles/vmware/images/vmw-estate.png
  articles/vmware/images/vmw-portal-login.png
  articles/vmware/images/vmw-vcd-btn-vapp-from-ovf.png
  articles/vmware/images/vmw-vcd-build-vapp.png
  articles/vmware/images/vmw-vcd-home-91.png
  articles/vmware/images/vmw-vcd-home-page.png
  articles/vmware/images/vmw-vcd-logout-link.png
  articles/vmware/images/vmw-vcd-mnu-affinity.png
  articles/vmware/images/vmw-vcd-mnu-edges.png
  articles/vmware/images/vmw-vcd-storage-policies.png
  articles/vmware/images/vmw-vcd-storage.png
  articles/vmware/images/vmw-vcd91-mnu-edges.png
  articles/vmware/vmw-faq-sharing-catalogs.md
  articles/vmware/vmw-gs.md
  articles/vmware/vmw-how-convert-edge.md
  articles/vmware/vmw-how-create-vapp.md
  articles/vmware/vmw-how-find-ip-addresses.md
  articles/vmware/vmw-how-install-openvpn.md
  articles/vmware/vmw-how-manage-vapp-permissions.md
  articles/vmware/vmw-how-migrate-vapp.md
  articles/vmware/vmw-how-setup-kms.md
  articles/vmware/vmw-how-update-vm-settings.md
  articles/vmware/vmw-how-upgrade-edge.md
  articles/vmware/vmw-how-upload-media-iso-flp.md
  articles/vmware/vmw-how-use-affinity-rules.md
  articles/vmware/vmw-how-use-ovf-tool.md
  articles/vmware/vmw-how-view-storage-usage.md
  articles/vmware/vmw-ref-cant-manage-edge.md
  articles/vmware/vmw-ref-storage-policies.md
  articles/vmware/vmw-ref-vcd-820.md
  articles/vmware/vmw-ref-vcd-91.md
  articles/vmware/vmw-vid-vcd91.md
  docs/articles/vmware/vmw-gs-build-vm-vcd91.html
  docs/articles/vmware/vmw-how-build-vm.html
  docs/articles/vmware/vmw-ref-cant-manage-edge.html
  docs/articles/vmware/vmw-ref-storage-policies.html
  docs/articles/vmware/vmw-ref-vcd-820.html
  docs/articles/vmware/vmw-ref-vcd-91.html
Labels: VMware, update info

#658 Fix broken link
  articles/vmware/vmw-how-update-vm-settings.md
Labels: VMware, minor fix

#640 Update guidelines
  articles/other/other-how-contribute-knowledge.md
  articles/other/other-ref-knowledge-guidelines.md
  articles/other/other-ref-knowledge-template.md
Labels: KC, update info

#662 Fix "T".
  articles/azure/azs-how-create-vm-terraform.md
Labels: Azure Stack, minor fix

#660 Osp13 updates
  articles/openshift/oshift-faq.md
  articles/openstack/ostack-how-create-load-balancer.md
  articles/openstack/ostack-how-use-barbican.md
Labels: OpenStack

#664 fix metadata in the file
  articles/openstack/ostack-how-use-barbican.md
Labels: OpenStack, minor fix

#666 Changed Horizone to Horizon
  articles/openstack/ostack-home.md
Labels: OpenStack, minor fix

#667 removing target blank code
  articles/openstack/ostack-ref-cli-clients.md
Labels: OpenStack, minor fix

#668 Fix home pages html links
  articles/openshift/oshift-home.md
  articles/openstack/ostack-home.md
  articles/oracle/orcl-home.md
  articles/vmware/vmw-home.md
Labels: X-platform, minor fix

#669 Azs home page changes
  articles/azure/azs-home.md
Labels: Azure Stack, update info

#676 change html to md
  articles/azure/azs-home.md
Labels: Azure Stack, minor fix

#678 MMaaS content
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-monitoring-sco.md
  articles/managed-services/man-sd-monitoring.md
Labels: Managed Services

#665 Update ostack-how-use-api-sso.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-use-api-sso.md
  articles/openstack/ostack-how-use-barbican.md
  articles/openstack/ostack-ref-auto-scaling.md
  articles/openstack/ostack-ref-cli-clients.md
  articles/openstack/ostack-ref-dashboard.md
Labels: OpenStack

#677 G11 Cloud Storage Updates
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-sco.md
Labels: Cloud Storage

#683 Delete old HDD scope
  articles/enablement/enbl-sco-mtf-hdd.md
  articles/enablement/enbl-sco-mtf-nas.md
  docs/articles/enablement/enbl-sco-mtf-hdd.html
Labels: update info

#684 Change links to MTF service scopes
  articles/enablement/enbl-ref-services.md
  articles/enablement/enbl-sco-dtf.md
  articles/vmware/vmw-faq.md
  docs/articles/enablement/enbl-ref-services.html
Labels: minor fix

#687 Fix broken links
  articles/vmware/vmw-how-install-openvpn.md
  articles/vmware/vmw-how-use-ovf-tool.md
Labels: VMware, minor fix

#688 Update gpu faq
  articles/gpu/gpu-faq.md
Labels: G-Cloud, GPU

#681 G11 OpenStack Updates
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-gs.md
  articles/openstack/ostack-how-use-barbican.md
  articles/openstack/ostack-sco.md
Labels: OpenStack

#690 Update HybridConnect pricing
  articles/connectivity/conn-ref-hybrid-crown-connect.md
Labels: Connectivity, update info

#691 VMware FAQ updates
  articles/vmware/vmw-faq.md
Labels: VMware, update info

#692 Update DRaaS FAQ
  articles/draas/draas-faq.md
Labels: update info
