Repository UKCloud/documentation, pull requests merged in 2019-09, with the labels that each got.

#641 Update GeoDrive steps
  articles/cloud-storage/cs-how-install-geodrive2-client.md
Labels: Cloud Storage, minor fix

#695 Add article for CyberScore VM deployment
  articles/third-party/images/third-cyberscore-btn-new-vm.png
  articles/third-party/images/third-cyberscore-mnu-setup.png
  articles/third-party/images/third-cyberscore-registration-complete.png
  articles/third-party/images/third-cyberscore-vm-details.png
  articles/third-party/images/third-cyberscore-vm-network.png
  articles/third-party/images/third-cyberscore-vm.png
  articles/third-party/images/vmw-vcd-tab-vms.png
  articles/third-party/third-how-deploy-cyberscore-vm.md
Labels: new article, third-party

#652 Update for G11
  articles/other/other-ref-sla-definition.md
Labels: G-Cloud, X-platform

#693 CDSZ updates
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-sco.md
  articles/cdsz/images/cdsz-walled-garden.png
Labels: SRA/CDSZ, update info

#689 Update ostack-gs.md
  articles/openstack/ostack-gs.md
Labels: OpenStack

#694 SRA service scope
  articles/sra/sra-sco.md
Labels: SRA/CDSZ, new article

#697 Change GLB to UltraDNS
  articles/connectivity/conn-faq-glb.md
  articles/connectivity/conn-sco-app-ddos.md
  articles/connectivity/conn-sco-glb.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-offboarding.md
  articles/vmware/vmw-faq.md
Labels: Connectivity, update info

#696 Remove old files
  articles/private-compute/prc-faq.md
  articles/private-compute/prc-sco.md
  articles/private-compute/toc.yml
  articles/private-storage/prs-faq.md
  articles/private-storage/prs-sco.md
  articles/private-storage/toc.yml
  articles/support-docs/sup-dfx-file-names.md
  articles/support-docs/toc.yml
  docs/articles/private-compute/prc-faq.html
  docs/articles/private-compute/prc-sco.html
  docs/articles/private-compute/toc.html
  docs/articles/private-storage/prs-faq.html
  docs/articles/private-storage/prs-sco.html
  docs/articles/private-storage/toc.html
  docs/articles/support-docs/sup-dfx-file-names.html
  docs/articles/support-docs/toc.html
Labels: KC

#700 Fix broken links to private cloud FAQs
  articles/other/other-faq-ukcloud.md
Labels: minor fix

#701 Add t&cs for Community MTT competition
  articles/other/other-ref-community-competition.md
Labels: KC, new article

#698 Change Application-tuned DDoS to SiteProtect
  articles/connectivity/conn-faq-app-ddos.md
  articles/connectivity/conn-faq-ddos.md
  articles/connectivity/conn-faq-glb.md
  articles/connectivity/conn-ref-ddos-protection.md
  articles/connectivity/conn-sco-app-ddos.md
  articles/connectivity/conn-sco-glb.md
  articles/other/other-faq-ukcloud.md
Labels: Connectivity, update info

#686 Azs s2s vpn doc improvement
  articles/azure/azs-how-create-S2S-VPN-azurestack-to-azure.md
  articles/azure/azs-how-create-S2S-VPN.md
  articles/azure/images/azs-browser-all-services-connections-networking.png
  articles/azure/images/azs-browser-create-lnetwork-gateway.png
  articles/azure/images/azs-browser-create-vnetwork-gateway.png
  articles/azure/images/azs-browser-local-network-gateway-all-services.png
  articles/azure/images/azs-browser-local-network-gateway-configuration.png
  articles/azure/images/azs-browser-local-network-gateway-ip-address.png
  articles/azure/images/azs-browser-site-to-site-vpn-connection-public-ip.png
  articles/azure/images/azs-browser-virtual-network-gateway-all-services.png
  articles/azure/images/azs-browser-virtual-network-gateway-connected.png
  articles/azure/images/azs-browser-virtual-network-gateway-connections.png
  articles/azure/images/azs-browser-vpn-connection-view.png
  articles/azure/images/azs-public-browser-add-connection-blade.png
  articles/azure/images/azs-public-browser-connection-ip.png
  articles/azure/images/azs-public-browser-create-local-network-gateway-blade.png
  articles/azure/images/azs-public-browser-create-resource-button.png
  articles/azure/images/azs-public-browser-create-virtual-network-gateway.png
  articles/azure/images/azs-public-browser-local-gateway-configuration-button.png
  articles/azure/images/azs-public-browser-local-gateway-ip.png
  articles/azure/images/azs-public-browser-new-local-network-gateway-create.png
  articles/azure/images/azs-public-browser-new-local-network-gateway-search.png
  articles/azure/images/azs-public-browser-new-networking-button.png
  articles/azure/images/azs-public-browser-new-virtual-network-blade.png
  articles/azure/images/azs-public-browser-new-virtual-network-gateway.png
  articles/azure/images/azs-public-browser-new-virtual-network.png
  articles/azure/images/azs-public-browser-services-connections-button.png
  articles/azure/images/azs-public-browser-services-virtual-network-gateway-button.png
  articles/azure/images/azs-public-browser-services-virtual-network-gateway.png
  articles/azure/images/azs-public-browser-services-virtual-networks.png
  articles/azure/images/azs-public-browser-virtual-network-add-gateway-subnet.png
  articles/azure/images/azs-public-browser-virtual-network-blade.png
  articles/azure/images/azs-public-browser-virtual-network-gateway-connections-button.png
  articles/azure/images/azs-public-browser-virtual-network-gateway-subnet-button.png
  articles/azure/images/azs-public-browser-virtual-network-subnets-button.png
Labels: Azure Stack, new article, new info

#699 Fix azs how create service fabric portal
  articles/azure/azs-how-create-service-fabric-portal.md
Labels: Azure Stack, update info

#645 Azs custom script extension
  articles/azure/azs-how-configure-custom-script-extension.md
Labels: Azure Stack, new article

#706 Update vmw-faq.md
  articles/vmware/vmw-faq.md
Labels: VMware, new info

#709 Remove XQ Cyber from product name
  articles/other/other-faq-g11.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-service-definitions.md
  articles/third-party/third-faq-cyberscore.md
  articles/third-party/third-how-deploy-cyberscore-vm.md
  articles/third-party/third-ref-cyberscore-prereqs.md
  articles/third-party/third-ref-eula.md
  articles/third-party/third-sco-cyberscore.md
  articles/third-party/third-sd-cyberscore.md
Labels: third-party, update info

#707 Add product overview article
  articles/other/other-ref-products-overview.md
Labels: X-platform, new article

#718 Remove old article
  articles/connectivity/conn-ref-ids.md
  docs/articles/connectivity/conn-ref-ids.html
Labels: Connectivity, update info

#717 Updated video links
  articles/azure/azs-home.md
  articles/azure/azs-vid-overview.md
  articles/cloud-storage/cs-vid-geodrive2-client-overview.md
  articles/openstack/ostack-home.md
  articles/openstack/ostack-vid-overview.md
  articles/oracle/orcl-home.md
  articles/oracle/orcl-vid-overview.md
  articles/other/other-vid-community.md
  articles/other/other-vid-kc-contribution.md
  articles/portal/ptl-vid-portal.md
  articles/third-party/third-vid-cyberscore.md
  articles/vmware/vmw-home.md
  articles/vmware/vmw-vid-dfw.md
  articles/vmware/vmw-vid-l2-vpn.md
  articles/vmware/vmw-vid-licensing-kms.md
  articles/vmware/vmw-vid-vcd91.md
Labels: X-platform, update info

#708 Services by region updates
  articles/other/other-ref-services-by-region.md
Labels: X-platform, update info

#719 OpenShift custom 503 Error page
  articles/openshift/oshift-how-customise-error-page.md
Labels: OpenShift, new article

#721 Update location of video
  articles/other/other-vid-pricing-tool-overview.md
Labels: X-platform, new info

#720 Update ostack-faq.md
  articles/openstack/ostack-faq.md
Labels: OpenStack

#716 added image - new user request offering
  articles/portal/images/ptl-mycalls-new-user-request-offering.png
  articles/portal/ptl-how-use-my-calls.md
Labels: Support, new info

#724 TAM job title change
  articles/azure/azs-faq.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-ref-application-process.md
  articles/cdsz/cdsz-ref-bp-overview.md
  articles/cdsz/cdsz-sco.md
  articles/cloud-storage/cs-how-install-cloudarray.md
  articles/cloud-storage/cs-sco.md
  articles/connectivity/conn-faq-janet.md
  articles/dedicated-compute/dc-sco.md
  articles/enablement/enbl-sco-dtf.md
  articles/gpu/gpu-sco.md
  articles/hpc/hpc-ref-overview.md
  articles/managed-services/man-monitoring-sco.md
  articles/openshift/oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-sco.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-sco.md
  articles/other/other-faq-g11.md
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-terms-and-conditions.md
  articles/portal/ptl-how-raise-escalate-service-request.md
  articles/portal/ptl-ref-multiple-accounts.md
  articles/private-cloud/prc-sco-orcl.md
  articles/private-cloud/prc-sco-storage.md
  articles/private-cloud/prc-sco.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-faq-snapshot-protection.md
  articles/vmware/vmw-how-license-microsoft.md
  articles/vmware/vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco-synchronous-protection.md
  articles/vmware/vmw-sco.md
Labels: Support, update info

#723 Add power states article
  articles/vmware/images/vmw-powercli-open.png
  articles/vmware/images/vmw-task-create.png
  articles/vmware/images/vmw-task-script.png
  articles/vmware/images/vmw-task-security-options.png
  articles/vmware/images/vmw-task-trigger.png
  articles/vmware/vmw-how-manipulate-power-states-powercli.md
Labels: VMware, new article
