Repository UKCloud/documentation, pull requests merged in 2019-03, with the labels that each got.

#436 Update azs-faq.md
  articles/azure/azs-faq.md
Labels: Azure Stack, minor fix

#435 Update ostack-faq.md
  articles/openstack/ostack-faq.md
Labels: OpenStack, minor fix

#434 Update payment options
  articles/vmware/vmw-faq.md
Labels: VMware, minor fix

#432 Update conn-ref-hybrid-crown-connect.md
  articles/connectivity/conn-ref-hybrid-crown-connect.md
Labels: Connectivity

#433 Fix link to t&cs
  articles/other/other-sco-free-trials.md
Labels: X-platform, minor fix

#431 Found some errors
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-convert-vms.md
  articles/openstack/ostack-how-create-load-balancer.md
Labels: OpenStack, minor fix

#415 update info for backup icons
  articles/vmware/images/snapshot-image-1.png
  articles/vmware/images/snapshot-image-11.png
  articles/vmware/images/snapshot-image-12.png
  articles/vmware/images/snapshot-image-2.png
  articles/vmware/images/snapshot-image-3.png
  articles/vmware/images/snapshot-image-4.png
  articles/vmware/images/snapshot-image-5.png
  articles/vmware/images/snapshot-image-6.png
  articles/vmware/images/snapshot-image-7.png
  articles/vmware/images/snapshot-image-9.png
  articles/vmware/vmw-how-manage-snapshot-protection.md
Labels: Portal

#440 New My Calls article
  articles/portal/images/ptl-contact-edit.png
  articles/portal/images/ptl-mnu-add-new-contact.png
  articles/portal/images/ptl-mnu-change-password.png
  articles/portal/images/ptl-mnu-mycalls-archive.png
  articles/portal/images/ptl-mnu-mycalls.png
  articles/portal/images/ptl-mycalls-btn-attach-file.png
  articles/portal/images/ptl-mycalls-btn-cancel.png
  articles/portal/images/ptl-mycalls-btn-create-note.png
  articles/portal/images/ptl-mycalls-btn-roles.png
  articles/portal/images/ptl-mycalls-home.png
  articles/portal/images/ptl-mycalls-login.png
  articles/portal/images/ptl-mycalls-my-items.png
  articles/portal/images/ptl-mycalls-request-submit.png
  articles/portal/images/ptl-mycalls-service-catalogue.png
  articles/portal/images/ptl-mycalls-tab-admin.png
  articles/portal/images/ptl-mycalls-tab-catalogue.png
  articles/portal/images/ptl-mycalls-tab-items.png
  articles/portal/images/ptl-mycalls-tab-progress.png
  articles/portal/images/ptl-mycalls-ticket-details.png
  articles/portal/images/ptl-mycalls-ticket-summary.png
  articles/portal/images/ptl-mycalls-user.png
  articles/portal/images/ptl-new-contact.png
  articles/portal/ptl-how-use-my-calls-archive.md
  articles/portal/ptl-how-use-my-calls.md
Labels: Portal, enhancement

#441 Added Windows Server 2012 R2 option
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack

#444 Update oshift-how-publish-routes-on-multiple-networks.md
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
Labels: OpenShift

#386 PR for new OpenShift lifecycle and patch management article
  articles/openshift/images/oshift-supported-versions.png
  articles/openshift/oshift-ref-lifecycle.md
Labels: OpenShift, enhancement

#439 Add SPN creation via portal doc
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/images/azs-browser-add-RBAC-user.png
  articles/azure/images/azs-browser-add-SPN-key.png
  articles/azure/images/azs-browser-add-SPN-role.png
  articles/azure/images/azs-browser-app-registrations.png
  articles/azure/images/azs-browser-create-spn.png
  articles/azure/images/azs-browser-select-SPN-App-ID.png
  articles/azure/images/azs-browser-select-aad.png
Labels: Azure Stack

#446 Removed invalid doc
  articles/azure/azs-how-to-obtain-clientid-via-api.md
Labels: Azure Stack

#445 Update feedback text
  articles/other/other-ref-knowledge-template.md
Labels: enhancement

#418 Openshift trials info
  articles/openshift/oshift-ref-trial.md
Labels: OpenShift

#452 Attempt to fix formatting on SPN doc
  articles/azure/azs-how-create-spn-portal.md
Labels: Azure Stack, minor fix

#453 Fix metadata
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-ref-application-process.md
  articles/cdsz/cdsz-ref-bp-overview.md
  articles/cloud-storage/cs-ref-s3-examples.md
  articles/connectivity/conn-ref-ids.md
  articles/draas/draas-ref-troubleshooting.md
  articles/portal/ptl-ref-overview-permissions.md
  articles/support-docs/sup-dfx-file-names.md
Labels: X-platform, minor fix

#457 Added script for creating report of all docs in KC
  Get-KCArticleReport.ps1
Labels: enhancement

#458 Added missing categories to products and types
  articles/other/other-ref-knowledge-guidelines.md
Labels: minor fix

#460 Update azure environment setup
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, minor fix

#426 Openshift cluster scaling considerations
  articles/openshift/oshift-ref-scaling.md
Labels: OpenShift

#461 add LastModifiedDate to the report
  Get-KCArticleReport.ps1
Labels: X-platform, enhancement

#465 Removing html version of old CIFS-ECS articles
  docs/articles/cloud-storage/cs-how-install-cifs-ecs.html
  docs/articles/cloud-storage/cs-s3-examples.html
  docs/articles/cloud-storage/cs-vid-cifs-ecs-overview.html
Labels: Cloud Storage, minor fix

#450 Create vmw-ref-ipsec-vpn.md
  articles/vmware/vmw-ref-ipsec-vpn.md
Labels: VMware

#462 Azure Stack documentation overhaul
  articles/azure/azs-faq.md
  articles/azure/azs-gs.md
  articles/azure/azs-how-configure-cli.md
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
  articles/azure/azs-how-create-S2S-VPN.md
  articles/azure/azs-how-create-aks.md
  articles/azure/azs-how-create-key-vault-portal.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-load-balancer.md
  articles/azure/azs-how-create-service-fabric-portal.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-create-vm-terraform.md
  articles/azure/azs-how-deploy-asdk.md
  articles/azure/azs-how-deploy-sql-template-powershell.md
  articles/azure/azs-how-identify-global-admins.md
  articles/azure/azs-how-link-storage-explorer.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-how-manage-azure-group.md
  articles/azure/azs-how-ps-update-azure-stack.md
  articles/azure/azs-how-resize-os-drive.md
  articles/azure/azs-how-retrieve-quota-ps.md
  articles/azure/azs-how-use-azure-api.md
  articles/azure/azs-ref-overview.md
  articles/azure/azs-ref-troubleshooting.md
  articles/azure/azs-sco.md
  articles/azure/azs-vid-overview.md
Labels: Azure Stack

#449 Final updates for synchronous protection
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/connectivity/conn-faq.md
  articles/vmware/vmw-how-access-redhat-update-servers.md
Labels: VMware

#442 Synchronous protection
  articles/other/other-ref-services-by-region.md
  articles/other/other-ref-services-by-zone.md
  articles/vmware/images/vmw-vmware-options.png
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-ref-service-options.md
  articles/vmware/vmw-sco-synchronous-protection.md
Labels: VMware

#443 Update VMware FAQ
  articles/vmware/vmw-faq.md
Labels: VMware

#447 More synchronous protection changes
  articles/other/other-ref-cloud-economics.md
  articles/vmware/vmw-faq-journaling-protection.md
  articles/vmware/vmw-faq-snapshot-protection.md
  articles/vmware/vmw-how-manage-snapshot-protection.md
  articles/vmware/vmw-ref-tier1-storage.md
  articles/vmware/vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco.md
Labels: VMware

#467 Moved step 8 before step 3 because the function needs to be used in s…
  articles/vmware/vmw-how-ps-export-edge-data.md
Labels: VMware

#472 fix uninstall code to make it more efficient
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, enhancement

#477 Fix metadata
  articles/vmware/vmw-how-locate-vdc.md
Labels: VMware, minor fix
