Repository UKCloud/documentation, pull requests merged in 2019-07, with the labels that each got.

#585 Add prereqs article for CyberScore
  articles/third-party/third-ref-cyberscore-prereqs.md
Labels: new article, third-party

#590 Fix publish script module load
  createTOC.ps1
Labels: KC

#589 Add G11 service definitions
  articles/cdsz/cdsz-sd.md
  articles/cdsz/images/ukc-services.png
  articles/cloud-storage/cs-sd.md
  articles/cloud-storage/images/ukc-services.png
  articles/dedicated-compute/dc-sd.md
  articles/dedicated-compute/images/ukc-services.png
  articles/draas/draas-sd.md
  articles/draas/images/ukc-services.png
  articles/hpc/hpc-sd.md
  articles/hpc/images/ukc-services.png
  articles/managed-services/images/ukc-services.png
  articles/managed-services/man-sd-compute.md
  articles/managed-services/man-sd-monitoring.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-optimisation.md
  articles/mcbs/images/ukc-services.png
  articles/mcbs/mcbs-sd.md
  articles/migration/images/ukc-services.png
  articles/migration/migr-sd.md
  articles/openshift/images/ukc-services.png
  articles/openshift/oshift-sd.md
  articles/openstack/images/ukc-services.png
  articles/openstack/ostack-sd.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-terms-and-conditions.md
  articles/private-cloud/images/ukc-services.png
  articles/private-cloud/prc-sd-orcl.md
  articles/private-cloud/prc-sd-storage.md
  articles/private-cloud/prc-sd.md
  articles/sra/images/ukc-services.png
  articles/sra/sra-sd.md
  articles/third-party/images/third-appdynamics-ui.png
  articles/third-party/images/third-cyberscore-cyber-essentials.png
  articles/third-party/images/third-moogsoft-overview.png
  articles/third-party/images/ukc-services.png
  articles/third-party/third-sd-appdynamics.md
  articles/third-party/third-sd-cloudsoc.md
  articles/third-party/third-sd-cyberscore.md
  articles/third-party/third-sd-hytrust.md
  articles/third-party/third-sd-moogsoft.md
  articles/third-party/third-sd-portworx.md
  articles/transition-services/images/ukc-services.png
  articles/transition-services/trans-sd.md
  articles/vmware/images/ukc-services.png
  articles/vmware/vmw-sd.md
Labels: g-cloud, new article

#588 G11 updates for Oracle
  articles/oracle/images/ukc-services.png
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-sco.md
  articles/oracle/orcl-sd.md
Labels: Oracle, g-cloud

#586 G11 updates for Azure
  articles/azure/azs-faq.md
  articles/azure/azs-sco.md
  articles/azure/azs-sd.md
  articles/azure/images/ukc-services.png
Labels: Azure Stack, g-cloud

#591 Update stylesheet for extra row
  custom_template/styles/main.css
Labels: KC

#593 New home page
  articles/third-party/third-ref-eula.md
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: KC

#603 Service scopes and FAQs for...
  articles/third-party/third-faq-appdynamics.md
  articles/third-party/third-faq-cyberscore.md
  articles/third-party/third-faq-moogsoft.md
  articles/third-party/third-sco-appdynamics.md
  articles/third-party/third-sco-cyberscore.md
  articles/third-party/third-sco-moogsoft.md
Labels: new article, third-party

#606 Fix metadata
  articles/third-party/third-faq-appdynamics.md
  articles/third-party/third-faq-cyberscore.md
  articles/third-party/third-faq-moogsoft.md
  articles/third-party/third-sco-appdynamics.md
  articles/third-party/third-sco-moogsoft.md
Labels: g-cloud, minor fix

#595 G11 private cloud
  articles/private-cloud/prc-faq-storage.md
  articles/private-cloud/prc-faq.md
  articles/private-cloud/prc-sco-orcl.md
  articles/private-cloud/prc-sco-storage.md
  articles/private-cloud/prc-sco.md
Labels: g-cloud

#604 G11 updates to service scopes (GM)
  articles/dedicated-compute/dc-sco.md
  articles/dedicated-compute/images/vmw-dc-contingency1.png
  articles/dedicated-compute/images/vmw-dc-contingency2.png
  articles/draas/draas-sco.md
  articles/gpu/gpu-sco.md
  articles/vmware/vmw-sco-dedicated-compute.md
  articles/vmware/vmw-sco.md
Labels: g-cloud

#608 Fix broken link
  articles/vmware/vmw-sco-dedicated-compute.md
Labels: minor fix

#610 Change environment name
  articles/azure/azs-ref-overview.md
Labels: Azure Stack, minor fix

#611 Azs create vm ps change
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, new info

#616 Fix az configure cli
  articles/azure/azs-how-configure-cli.md
Labels: Azure Stack, minor fix

#617 Update oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift, minor fix

#598 Add document about viewing OpenShift router logs
  articles/openshift/images/oshift-kibana.png
  articles/openshift/oshift-how-view-router-logs.md
Labels: OpenShift

#540 New status page
  articles/other/images/other-status-all-operational.png
  articles/other/images/other-status-btn-subscribe.png
  articles/other/images/other-status-help.png
  articles/other/images/other-status-history.png
  articles/other/images/other-status-incident-subscribe.png
  articles/other/images/other-status-incident.png
  articles/other/images/other-status-maintenance.png
  articles/other/images/other-status-notification-email.png
  articles/other/images/other-status-notification-rss.png
  articles/other/images/other-status-notification-text.png
  articles/other/images/other-status-notification-webhook.png
  articles/other/images/other-status-outage.png
  articles/other/images/other-status-page.png
  articles/other/images/other-status-service.png
  articles/other/images/other-status-subscribe-incident.png
  articles/other/images/other-status-subscriptions.png
  articles/other/images/other-status-webhook.png
  articles/other/other-how-use-webhooks.md
  articles/other/other-how-view-status-info.md
Labels: Support, new article

#614 Add OpenShift service scope
  articles/openshift/oshift-sco.md
Labels: OpenShift, g-cloud, new article

#618 Azs add vm managed disk docs
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, new info

#605 Add G11 transition FAQ
  articles/other/other-faq-g10.md
  articles/other/other-faq-g11.md
  docs/articles/other/other-faq-g10.html
Labels: g-cloud

#623 Fix broken links
  articles/openshift/oshift-sco.md
  articles/other/other-faq-ukcloud.md
Labels: minor fix

#619 Fixed timing issue for assigning SPN roles
  articles/azure/azs-how-create-spn-powershell.md
Labels: Azure Stack, update info

#609 Prod landing pages
  articles/azure/azs-home.md
  articles/openshift/oshift-home.md
  articles/openstack/ostack-home.md
  articles/oracle/orcl-home.md
  articles/vmware/vmw-home.md
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: KC

#630 Fix error in metadata
  articles/vmware/vmw-home.md
Labels: KC, minor fix

#634 Fix links
  articles/azure/azs-home.md
  articles/openshift/oshift-home.md
  articles/openstack/ostack-home.md
  articles/oracle/orcl-home.md
  articles/vmware/vmw-home.md
Labels: KC, minor fix

#635 Fix broken table
  articles/vmware/vmw-sco.md
Labels: VMware, minor fix

#636 Updated link for known issues
  articles/azure/azs-ref-known-issues.md
Labels: Azure Stack, minor fix

#629 Added terraform folder to .gitignore file
  .gitignore
Labels: X-platform, minor fix

#639 Add review information to KC script
  Get-KCArticleReport.ps1
Labels: KC, new info

#637 Azs change html form defaults
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, minor fix

#632 Added product grid banner
  custom_template/partials/products.tmpl.partial
  custom_template/styles/assets/banner.png
  custom_template/styles/main.css
Labels: KC

#638 Update browser reqs
  articles/other/other-ref-browsers.md
Labels: X-platform, update info

#642 AZS Fix VM Creation PS HTML
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, minor fix

#643 Fix VM agent provisioning issue
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, new info

#627 Add HTML forms to all Azure CLI docs
  articles/azure/azs-how-configure-cli.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack, new info
