Repository UKCloud/documentation, pull requests merged in 2019-04, with the labels that each got.

#476 Update AZS getting started on-boarding process
  articles/azure/azs-gs.md
  articles/azure/images/azs-browser-MS-SfB-agreement.png
  articles/azure/images/azs-browser-authorize-csp.png
Labels: Azure Stack, minor fix

#480 Azs update module installation
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, minor fix

#463 Created guide to connect services using netpol objects
  articles/openshift/oshift-how-use-netpol.md
Labels: OpenShift

#484 Add article for creating Portal users
  articles/portal/ptl-how-create-users.md
Labels: Portal, new article

#492 Article for live migration
  articles/openstack/ostack-ref-live-migration.md
Labels: OpenStack, new article

#491 Ps openrc script change
  articles/openstack/ostack-how-use-cli.md
Labels: OpenStack

#471 Typo
  articles/other/other-ref-offboarding.md
Labels: X-platform, minor fix

#496 Added Creation date and comment-based help
  Get-KCArticleReport.ps1
Labels: X-platform, enhancement

#499 Set lastreviewed date and reviewer on AZS docs
  articles/azure/azs-faq.md
  articles/azure/azs-gs.md
  articles/azure/azs-how-configure-cli.md
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
  articles/azure/azs-how-create-S2S-VPN.md
  articles/azure/azs-how-create-aks.md
  articles/azure/azs-how-create-key-vault-portal.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-load-balancer.md
  articles/azure/azs-how-create-service-fabric-portal.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-create-vm-terraform.md
  articles/azure/azs-how-deploy-asdk.md
  articles/azure/azs-how-deploy-sql-template-powershell.md
  articles/azure/azs-how-identify-global-admins.md
  articles/azure/azs-how-link-storage-explorer.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-how-manage-azure-group.md
  articles/azure/azs-how-ps-update-azure-stack.md
  articles/azure/azs-how-resize-os-drive.md
  articles/azure/azs-how-retrieve-quota-ps.md
  articles/azure/azs-how-use-azure-api.md
  articles/azure/azs-ref-overview.md
  articles/azure/azs-ref-troubleshooting.md
  articles/azure/azs-sco.md
  articles/azure/azs-vid-overview.md
Labels: Azure Stack, minor fix

#483 Multiple Accounts Article
  articles/portal/ptl-ref-multiple-accounts.md
Labels: Portal, new article

#486 Article for GiB
  articles/other/other-ref-gib.md
Labels: X-platform

#505 New connection compliance article
  articles/connectivity/conn-ref-psn-connection.md
  articles/connectivity/images/conn-psn-connection-compliance.png
Labels: Connectivity, new article

#493 New article for Hadoop proposition
  articles/other/other-ref-hadoop-proposition.md
Labels: new article

#473 New article for adding managed disks to a VM
  articles/azure/azs-how-add-managed-disks-portal.md
  articles/azure/images/azs-browser-add-vm-disk.png
  articles/azure/images/azs-browser-button-add-disk.png
  articles/azure/images/azs-browser-button-save-add-data-disk.png
  articles/azure/images/azs-browser-button-vm-disks-setting.png
  articles/azure/images/azs-browser-button-vm-disks.png
  articles/azure/images/azs-browser-disks.png
  articles/azure/images/azs-browser-input-disk-lun.png
  articles/azure/images/azs-browser-input-disk-name.png
  articles/azure/images/azs-browser-notification-disks-complete.png
  articles/azure/images/azs-browser-notification-disks-progress.png
Labels: Azure Stack, new article

#508 Added links to AZS Repo on FAQ, GS and Ref
  articles/azure/azs-faq.md
  articles/azure/azs-gs.md
  articles/azure/azs-ref-overview.md
Labels: Azure Stack, enhancement

#485 Article for Janet connectivity
  articles/connectivity/conn-ref-janet.md
Labels: Connectivity

#479 Remove refs to N3
  articles/azure/azs-ref-overview.md
  articles/azure/azs-sco.md
Labels: Connectivity, minor fix

#478 Remove N3
  articles/cloud-storage/cs-how-install-geodrive2-client.md
Labels: Connectivity, minor fix

#474 adding instructions on how to modify your RC file to work with an SSO…
  articles/openstack/ostack-how-use-api-sso.md
  articles/openstack/ostack-how-use-cli.md
Labels: OpenStack, enhancement, new article

#509 Update info for large VMs
  articles/vmware/vmw-faq-snapshot-protection.md
  articles/vmware/vmw-sco-snapshot-protection.md
Labels: VMware, minor fix

#501 Fix issue with table
  articles/other/other-ref-sla-definition.md
Labels: minor fix

#502 Mcbs docs
  articles/mcbs/mcbs-faq.md
  articles/mcbs/mcbs-gs.md
  articles/mcbs/toc.yml
Labels: MCBS, new article

#513 Add MCBS
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: MCBS

#510 Updated AZS FAQ with changes since beta
  articles/azure/azs-faq.md
Labels: Azure Stack, enhancement

#512 Updating metadata
  articles/azure/azs-how-create-S2S-VPN.md
Labels: Azure Stack, minor fix

#487 Article for external security review testing
  articles/other/images/other-esrt-scope.png
  articles/other/other-ref-external-security-review-testing.md
Labels: X-platform

#470 Added a guide for virtual machine scale sets
  articles/azure/azs-how-create-scale-set.md
  articles/azure/images/azs-browser-button-create-scale-set.png
  articles/azure/images/azs-browser-button-save-instance-count.png
  articles/azure/images/azs-browser-button-scale-set-menu.png
  articles/azure/images/azs-browser-button-scaling.png
  articles/azure/images/azs-browser-create-scale-set.png
  articles/azure/images/azs-browser-instance-count-slidebar.png
  articles/azure/images/azs-browser-resources-menu.png
  articles/azure/images/azs-browser-scale-set-overview.png
  articles/azure/images/azs-browser-scale-set-unsupported-operating-systems.png
  articles/azure/images/azs-browser-select-all-services.png
  articles/azure/images/azs-browser-select-scale-set.png
  articles/azure/images/azs-createvm-progress-complete.png
  articles/azure/images/azs-resources-menu-scale-set.png
Labels: Azure Stack, new article

#500 New guide - expanding persistent volumes
  articles/openshift/oshift-how-expand-persistent-vols.md
Labels: OpenShift

#516 Remove AZS orphaned html files
  docs/articles/azure/asz-sco.html
  docs/articles/azure/azs-how-create-azure-group.html
  docs/articles/azure/azs-how-replace-certificates.html
  docs/articles/azure/azs-how-to-deploy-asdk.html
  docs/articles/azure/azs-how-to-obtain-clientid-via-api.html
  docs/articles/azure/azs-list-vm-extensions.html
Labels: Azure Stack, minor fix

#517 fix typos and formatting
  articles/azure/azs-gs.md
  articles/openstack/ostack-gs.md
  articles/vmware/vmw-gs.md
Labels: Azure Stack, OpenStack, VMware, minor fix

#511 Add /billing-csv to portal API docs
  articles/portal/ptl-ref-portal-api.md
Labels: Portal
