Repository UKCloud/documentation, pull requests merged in 2020-02, with the labels that each got.

#879 Removing My Calls archive article
  articles/portal/ptl-how-use-my-calls-archive.md
  docs/articles/portal/ptl-how-use-my-calls-archive.html
Labels: KC, fix build issue

#872 Shorten article titles - final articles
  articles/azure/azs-how-create-load-balancer.md
  articles/azure/azs-how-create-scale-set.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/azs-how-deploy-asr-template-powershell.md
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/email/email-how-setup-android.md
  articles/openshift/oshift-how-create-users.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-use-netpol.md
  articles/openstack/ostack-how-use-barbican.md
  articles/openstack/ostack-how-use-cli.md
  articles/openstack/ostack-how-use-triliovault.md
  articles/openstack/ostack-vid-trilio.md
  articles/portal/ptl-how-raise-escalate-service-request.md
  articles/vmware/vmw-how-license-microsoft.md
  articles/vmware/vmw-how-setup-kms.md
Labels: KC, update metadata

#870 Update docfx.json
  docfx.json
Labels: KC, update metadata

#873 Publish application routes to multiple external networks Review
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
Labels: OpenShift

#816 Oshift how view proxy logs
  articles/openshift/oshift-how-view-proxy-logs.md
Labels: OpenShift, new article

#822 Oshift review 11 12
  articles/openshift/oshift-how-create-users.md
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
Labels: OpenShift

#846 Remove refs to Atmos
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-how-view-info-portal.md
  articles/cloud-storage/cs-sco.md
Labels: Cloud Storage, update info

#883 Add Big Colo service scope
  articles/enablement/enbl-sco-bigcolo.md
Labels: new article

#876 Update vmw-sco-journaling-protection.md
  articles/vmware/vmw-sco-journaling-protection.md
Labels: VMware, update info

#867 Update review date
  articles/openshift/oshift-how-add-domains-proxy-whitelist.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expand-persistent-vols.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/other/other-ref-external-security-review-testing.md
Labels: OpenShift, minor fix

#890 Update vmw-ref-edge-ha.md
  articles/vmware/vmw-ref-edge-ha.md
Labels: VMware, minor fix

#885 Service scope - data transfer between assured and elevated
  articles/enablement/enbl-sco-transfer-assured-elevated.md
  articles/enablement/images/cdsz-example-setup.png
Labels: Enablement, new article

#891 missing /
  articles/enablement/enbl-sco-transfer-assured-elevated.md
Labels: fix build issue

#892 Add terraform (HCL) syntax highlighting
  articles/azure/azs-how-create-vm-terraform.md
  custom_template/partials/scripts.tmpl.partial
  custom_template/styles/terraform.js
Labels: Azure Stack

#893 change var to text so we do not affect 649ec2e6fd8908475739cb8f7106b6…
  custom_template/partials/cookie-notice.tmpl.partial
Labels: fix build issue

#875 Hystax How To
  articles/openstack/images/hystax1.jpg
  articles/openstack/images/hystax10.jpg
  articles/openstack/images/hystax2.jpg
  articles/openstack/images/hystax3.jpg
  articles/openstack/images/hystax4.jpg
  articles/openstack/images/hystax5.jpg
  articles/openstack/images/hystax6.jpg
  articles/openstack/images/hystax7.jpg
  articles/openstack/images/hystax8.jpg
  articles/openstack/images/hystax9.jpg
  articles/openstack/ostack-how-use-hystax.md
Labels: OpenStack

#895 Move MCBS content
  articles/mcbs/toc.yml
  articles/openstack/ostack-faq.md
  articles/oracle/orcl-sd.md
  articles/other/images/ukc-services.png
  articles/other/other-faq-mcbs.md
  articles/other/other-how-connect-mcbs.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-sd-mcbs.md
  custom_template/partials/products.tmpl.partial
  docs/articles/mcbs/images/ukc-services.png
  docs/articles/mcbs/mcbs-faq.html
  docs/articles/mcbs/mcbs-gs.html
  docs/articles/mcbs/mcbs-sd.html
  docs/articles/mcbs/toc.html
  toc.yml
Labels: MCBS, update info

#897 Add cloud enablement
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-product-overview.md
Labels: Enablement, new info

#898 Add CloudSOC video
  articles/third-party/third-vid-cloudsoc-intro.md
Labels: new article, third-party

#887 Ptl remove vm cost info
  articles/portal/images/portal_permissions.png
  articles/portal/ptl-ref-overview-permissions.md
  articles/portal/ptl-ref-portal-api.md
Labels: Portal, update info

#880 Remove edge gateway tab
  articles/other/other-ref-best-practice-guide.md
  articles/portal/ptl-ref-portal-api.md
  articles/vmware/images/conver-image-2.png
  articles/vmware/images/conver-image-3.png
  articles/vmware/images/conver-image-4.png
  articles/vmware/images/ptl-myvms-select-vdc.png
  articles/vmware/images/ptl-myvms-vapp-info.png
  articles/vmware/images/ptl-myvms-vapp-vms.png
  articles/vmware/images/ptl-myvms-vapps.png
  articles/vmware/images/ptl-myvms-vm-info.png
  articles/vmware/images/ptl-myvms-vms.png
  articles/vmware/images/ptl-tab-myvms.png
  articles/vmware/images/upgrade-image-1.png
  articles/vmware/images/upgrade-image-2.png
  articles/vmware/images/upgrade-image-3.png
  articles/vmware/images/upgrade-image-4.png
  articles/vmware/images/upgrade-image-5.png
  articles/vmware/images/upgrade-image-6.png
  articles/vmware/images/upgrade-image-7.png
  articles/vmware/images/upgrade-image-8.png
  articles/vmware/images/upgrade-image-9.png
  articles/vmware/images/vmw-myvms-edge-version.png
  articles/vmware/images/vmw-vcd-btn-redeploy.png
  articles/vmware/images/vmw-vcd-edge-btn-convert.png
  articles/vmware/vmw-gs-build-vm-vcd.md
  articles/vmware/vmw-how-build-edge.md
  articles/vmware/vmw-how-configure-distributed-logical-router.md
  articles/vmware/vmw-how-configure-l2-vpn.md
  articles/vmware/vmw-how-convert-edge.md
  articles/vmware/vmw-how-portal-view-vms.md
  articles/vmware/vmw-how-upgrade-edge.md
  articles/vmware/vmw-ref-trouble-ipsec-nsx64.md
  articles/vmware/vmw-ref-vcd-97.md
  docs/articles/vmware/images/conver-image-2.png
  docs/articles/vmware/images/conver-image-3.png
  docs/articles/vmware/images/conver-image-4.png
  docs/articles/vmware/images/upgrade-image-1.png
  docs/articles/vmware/images/upgrade-image-2.png
  docs/articles/vmware/images/upgrade-image-3.png
  docs/articles/vmware/images/upgrade-image-4.png
  docs/articles/vmware/images/upgrade-image-5.png
  docs/articles/vmware/images/upgrade-image-6.png
  docs/articles/vmware/images/upgrade-image-7.png
  docs/articles/vmware/images/upgrade-image-8.png
  docs/articles/vmware/images/upgrade-image-9.png
  docs/articles/vmware/images/vmw-myvms-edge-version.png
  docs/articles/vmware/images/vmw-vcd-btn-redeploy.png
  docs/articles/vmware/images/vmw-vcd-edge-btn-convert.png
  docs/articles/vmware/vmw-how-convert-edge.html
  docs/articles/vmware/vmw-how-upgrade-edge.html
Labels: Portal, update info

#902 Update ostack-faq.md
  articles/openstack/ostack-faq.md
Labels: OpenStack

#840 My Calls updates
  articles/portal/images/ptl-contact-btn-edit.png
  articles/portal/images/ptl-contact-mycalls-access-deselected.png
  articles/portal/images/ptl-contact-mycalls-access-selected.png
  articles/portal/images/ptl-contact-tab-mycalls-permissions.png
  articles/portal/ptl-how-create-users.md
  articles/portal/ptl-how-manage-my-calls.md
  articles/portal/ptl-how-use-my-calls.md
Labels: Portal, Support, update info
