Repository UKCloud/documentation, pull requests merged in 2020-04, with the labels that each got.

#970 edit-spn-powershell-username
  articles/azure/azs-how-create-spn-powershell.md
Labels: Azure Stack Hub, update info

#965 Reviewed azs-how-create-spn-cli
  articles/azure/azs-how-create-spn-cli.md
Labels: Azure Stack Hub, review - no changes

#967 Reviewed azs-how-retrieve-quota-ps
  articles/azure/azs-how-retrieve-quota-ps.md
Labels: Azure Stack Hub, review - no changes

#963 Reviewed azs-how-create-spn-portal
  articles/azure/azs-how-create-spn-portal.md
  articles/azure/images/azs-browser-add-RBAC-user.png
  articles/azure/images/azs-browser-add-SPN-role.png
  articles/azure/images/azs-browser-create-spn.png
Labels: Azure Stack Hub, update info

#960 Reviewed azs-how-create-load-balancer
  articles/azure/azs-how-create-load-balancer.md
  articles/azure/images/azs-browser-create-load-balancer.png
  articles/azure/images/azs-browser-create-virtual-network.png
  articles/azure/images/azs-browser-vm-settings-as.png
Labels: Azure Stack Hub, update info

#966 Reviewed azs-how-list-vm-extensions
  articles/azure/azs-how-list-vm-extensions.md
Labels: Azure Stack Hub, review - no changes

#971 Reviewed azs-how-deploy-asr-template-powershell
  articles/azure/azs-how-deploy-asr-template-powershell.md
Labels: Azure Stack Hub, update info

#972 Reviewed azs-how-identify-global-admins
  articles/azure/azs-how-identify-global-admins.md
Labels: Azure Stack Hub, update info

#969 Reviewed azs-how-resize-disk-ps
  articles/azure/azs-how-resize-disk-ps.md
Labels: Azure Stack Hub, update info

#973 Reviewed azs-how-link-storage-explorer
  articles/azure/azs-how-configure-cli.md
  articles/azure/azs-how-create-spn-cli.md
  articles/azure/azs-how-create-vm-terraform.md
  articles/azure/azs-how-deploy-sql-template-powershell.md
  articles/azure/azs-how-link-storage-explorer.md
  articles/azure/images/azs-installation-storage-tool-1.png
  articles/azure/images/azs-installation-storage-tool-2.png
  articles/azure/images/azs-installation-storage-tool-3.png
  articles/azure/images/azs-installation-storage-tool-4.png
  articles/azure/images/azs-installation-storage-tool-7.png
Labels: Azure Stack Hub, update info

#624 Azs document monitoring process
  articles/azure/azs-how-config-vm-update-management.md
  articles/azure/azs-how-setup-monitoring.md
  articles/azure/images/azs-browser-add-automation-account.png
  articles/azure/images/azs-browser-example-change-tracking.png
  articles/azure/images/azs-browser-example-enable-update-management.png
  articles/azure/images/azs-browser-example-inventory.png
  articles/azure/images/azs-browser-example-log-analytics-workspace.png
  articles/azure/images/azs-browser-example-log-enable.png
  articles/azure/images/azs-browser-example-monitor-map.png
  articles/azure/images/azs-browser-example-monitor-stats.png
  articles/azure/images/azs-browser-example-performance-counters.png
  articles/azure/images/azs-browser-example-update-management-compliant-ok.png
  articles/azure/images/azs-browser-hybrid-switch.png
  articles/azure/images/azs-browser-log-analytics-enable-update-management.png
  articles/azure/images/azs-browser-log-analytics-workspace-advanced-settings.png
  articles/azure/images/azs-browser-log-analytics-workspace-computers-connected.png
  articles/azure/images/azs-browser-log-analytics-workspace-query-example.png
  articles/azure/images/azs-browser-public-azure-hamburger-menu-monitor.png
  articles/azure/images/azs-browser-public-azure-monitor-virtual-machines.png
  articles/azure/images/azs-browser-search-automation-account.png
  articles/azure/images/azs-browser-search-log-analytics.png
Labels: Azure Stack Hub, new article

#980 Fix incorrect review date
  articles/vmware/vmw-how-access-syslog-data-adv.md
Labels: VMware, minor fix, update metadata

#961 Reviewed azs-how-create-service-fabric-portal
  articles/azure/azs-how-create-service-fabric-portal.md
  articles/azure/images/azs-browser-create-key-vault.png
  articles/azure/images/azs-browser-create-sf-basics.png
  articles/azure/images/azs_advancedaccesspolicies.png
Labels: Azure Stack Hub, update info

#659 Updates to Azure Stack API docs.
  articles/azure/azs-how-use-api.md
  articles/azure/azs-how-use-azure-api.md
  docs/articles/azure/azs-how-use-azure-api.html
Labels: Azure Stack Hub, new info, update info

#978 Update review date
  articles/vmware/vmw-how-access-redhat-update-servers.md
Labels: VMware, review - no changes

#977 Reviewed azs-how-ps-update-azure-stack
  articles/azure/azs-how-ps-update-azure-stack.md
Labels: Azure Stack Hub, update info, update metadata

#976 Reviewed azs-how-create-aks
  articles/azure/azs-how-create-aks.md
Labels: Azure Stack Hub, update info

#975 Reviewed azs-how-manage-azure-group
  articles/azure/azs-how-manage-azure-group.md
  articles/azure/images/azs-portal-add-group.png
  articles/azure/images/azs-portal_add-permissions.png
Labels: Azure Stack Hub, update info

#979 Update review date (RHUI)
  articles/vmware/vmw-how-install-rhui-vm.md
Labels: VMware, review - no changes

#974 Update to show the new SSO-based process
  articles/openstack/images/ostack-portal-menu-openstack.png
  articles/openstack/images/ostack-portal-sso-permissions.png
  articles/openstack/images/ptl-contacts-tab-openstack-permissions.png
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-create-users.md
  articles/openstack/ostack-how-manage-accounts-portal.md
  articles/other/other-how-delete-sso-user.md
  articles/portal/ptl-how-create-users.md
  articles/portal/ptl-ref-overview-permissions.md
  docs/articles/openstack/ostack-how-create-users.html
  docs/articles/other/other-how-delete-sso-user.html
Labels: OpenStack, Portal, update info

#654 Azs sql docs change
  articles/azure/azs-how-deploy-sql-template-powershell.md
  articles/azure/images/azs-browser-mysql-alwayson-deployments.png
  articles/azure/images/azs-browser-mysql-alwayson-resource-group.png
Labels: Azure Stack Hub, update info

#983 Update lastreviewed date
  articles/openstack/ostack-how-static-ip.md
Labels: OpenStack, review - no changes

#986 Fix internal link
  articles/azure/azs-how-deploy-sql-template-powershell.md
Labels: Azure Stack Hub, fix build issue

#987 Reviewed azs-gs
  articles/azure/azs-gs.md
  articles/azure/images/azs-browser-authorize-csp.png
Labels: Azure Stack Hub, update info

#988 Article review (live migrations)
  articles/openstack/ostack-ref-live-migration.md
Labels: OpenStack, review - no changes

#985 Add info for playbooks
  articles/managed-services/man-monitoring-how-change-config.md
Labels: Managed Services, new info

#990 Add missing image
  articles/managed-services/images/man-monitoring-playbooks.png
Labels: Managed Services, fix build issue

#993 Reviewed azs-ref-known-issues
  articles/azure/azs-ref-known-issues.md
Labels: Azure Stack Hub, update info, update metadata

#991 Reviewed azs-how-create-scale-set
  articles/azure/azs-how-create-scale-set.md
  articles/azure/images/azs-browser-button-create-scale-set.png
  articles/azure/images/azs-browser-button-scale-set-menu.png
  articles/azure/images/azs-browser-create-scale-set.png
  articles/azure/images/azs-browser-scale-set-unsupported-operating-systems.png
Labels: Azure Stack Hub, new info, update info

#992 Reviewed azs-how-resize-disk-portal
  articles/azure/azs-how-resize-disk-portal.md
  articles/azure/images/azs-browser-vm-disk-save-button.png
  articles/azure/images/azs-browser-vm-disk-size-managed.png
  articles/azure/images/azs-browser-vm-disk-size.png
Labels: Azure Stack Hub, update info

#995 Change CSM to SDM
  articles/azure/azs-faq.md
  articles/azure/azs-gs.md
  articles/azure/azs-how-use-ukc-csp.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/cdsz/cdsz-sco.md
  articles/cloud-storage/cs-sco.md
  articles/connectivity/conn-faq-janet.md
  articles/email/email-faq.md
  articles/email/email-how-setup-iphone.md
  articles/gpu/gpu-sco.md
  articles/hpc/hpc-ref-overview.md
  articles/openstack/ostack-faq.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-sco.md
  articles/other/other-faq-eps.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-offboarding.md
  articles/other/other-sco-free-trials.md
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-raise-escalate-service-request.md
  articles/portal/ptl-ref-multiple-accounts.md
  articles/private-cloud/prc-sco-orcl.md
  articles/private-cloud/prc-sco-storage.md
  articles/private-cloud/prc-sco.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-gs.md
  articles/vmware/vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco.md
Labels: Support, update info

#989 Reviewed azs-how-add-managed-disks-portal
  articles/azure/azs-how-add-managed-disks-portal.md
  articles/azure/images/azs-browser-add-vm-disk.png
Labels: Azure Stack Hub, new info, update info

#999 Remove N3 refs
  articles/connectivity/conn-faq-hscn.md
  articles/connectivity/conn-faq-n3.md
  articles/connectivity/conn-faq-psn-police.md
  articles/connectivity/conn-faq-psn.md
  articles/connectivity/conn-how-migrate-n3-hscn.md
  docs/articles/connectivity/conn-how-migrate-n3-hscn.html
Labels: Connectivity, update info

#1001 Fix reviewed date again...
  articles/vmware/vmw-how-access-syslog-data-adv.md
Labels: minor fix, update metadata

#1002 Update review date
  articles/vmware/vmw-how-access-ubuntu-update-servers.md
Labels: VMware, review - no changes

#907 New articles for region to region data transfer
  articles/enablement/enbl-how-migrate-edge-config.md
  articles/enablement/images/vmw-firefox-restclient-icon.png
  articles/enablement/images/vmw-restclient-accept-header.png
  articles/enablement/images/vmw-restclient-api-url.png
  articles/enablement/images/vmw-restclient-authentication-details.png
  articles/enablement/images/vmw-restclient-authentication-header.png
  articles/enablement/images/vmw-restclient-authentication-token.png
  articles/enablement/images/vmw-restclient-basic-authentication-remove.png
  articles/enablement/images/vmw-restclient-basic-authentication.png
  articles/enablement/images/vmw-restclient-custom-header.png
  articles/enablement/images/vmw-restclient-get-vorg-url.png
  articles/enablement/images/vmw-restclient-get-vorg.png
  articles/enablement/images/vmw-restclient-method-get.png
  articles/enablement/images/vmw-restclient-request-headers-token.png
  articles/enablement/images/vmw-restclient-request-headers.png
  articles/enablement/images/vmw-restclient-request-method-post.png
Labels: Enablement, new article
