Repository UKCloud/documentation, pull requests merged in 2020-12, with the labels that each got.

#1256 Update doc for VCD access restriction
  articles/portal/images/ptl-mnu-settings.png
  articles/portal/images/ptl-settings-ip-api-account.png
  articles/portal/images/ptl-settings-ip-api-user.png
  articles/portal/images/ptl-settings-tab-security.png
  articles/portal/ptl-how-restrict-access-portal.md
  articles/portal/ptl-how-restrict-access-vcloud-api.md
Labels: Portal, VMware, update info

#1257 G12 overview articles
  articles/other/other-ref-discount-schemes.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-services-by-region.md
Labels: G-Cloud, X-platform

#1259 Fix broken internal link
  articles/other/other-ref-glossary.md
Labels: X-platform, fix build issue

#1260 Missing semicolon
  articles/other/other-ref-discount-schemes.md
Labels: X-platform, fix build issue

#1262 Fix metadata
  articles/vmware/vmw-how-manage-vapp-permissions.md
Labels: VMware, minor fix

#1212 Vcd 10.1 updates part5
  articles/other/other-faq-billing.md
  articles/vmware/images/vmw-vcd-adv-edge-tab-settings.png
  articles/vmware/images/vmw-vcd-btn-syslog-server.png
  articles/vmware/images/vmw-vcd-edit-syslog-server.png
  articles/vmware/images/vmw-vcd-ico-console-gpu.png
  articles/vmware/images/vmw-vcd-logging-load-balancer.png
  articles/vmware/images/vmw-vcd-logging-nat.png
  articles/vmware/images/vmw-vcd-mnu-create-vapp-from-template.png
  articles/vmware/images/vmw-vcd10.1-copy-vapp.png
  articles/vmware/images/vmw-vcd10.1-mnu-vapp-from-ovf.png
  articles/vmware/images/vmw-vcd10.1-move-vapp.png
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-gs-build-vm-vcd.md
  articles/vmware/vmw-how-access-syslog-data-adv.md
  articles/vmware/vmw-how-configure-l2-vpn.md
  articles/vmware/vmw-how-install-openvpn.md
  articles/vmware/vmw-how-migrate-vapp.md
  articles/vmware/vmw-how-setup-gpu-compute.md
  articles/vmware/vmw-how-setup-gpu-visualisation.md
  articles/vmware/vmw-sco-journaling-protection.md
  articles/vmware/vmw-sco-synchronous-protection.md
  docs/articles/vmware/images/vmw-vcd-adv-edge-tab-settings.png
  docs/articles/vmware/images/vmw-vcd-btn-syslog-server.png
  docs/articles/vmware/images/vmw-vcd-edit-syslog-server.png
  docs/articles/vmware/images/vmw-vcd-ico-console-gpu.png
  docs/articles/vmware/images/vmw-vcd-mnu-create-vapp-from-template.png
Labels: VMware, update info

#1274 Fix Tip syntax
  articles/vmware/vmw-how-setup-gpu-compute.md
Labels: GPU, VMware, fix build issue

#1268 Ccouzens simplify Portal api
  articles/portal/ptl-how-use-api.md
  articles/portal/ptl-ref-portal-api.md
Labels: Doc Hunt, Portal, update info

#1269 Portal API simplify curls
  articles/portal/ptl-ref-portal-api.md
Labels: Doc Hunt, Portal, update info

#1273 Remove Portal /api/my_vms endpoint documentation
  articles/portal/ptl-ref-portal-api.md
Labels: Doc Hunt, Portal, update info

#1275 Portal how to use api fixups
  articles/portal/ptl-how-use-api.md
Labels: Doc Hunt, Portal, update info

#1276 Corrected typo in SLA link text
  articles/dedicated-compute/dc-sd.md
Labels: Doc Hunt, VMware, minor fix

#1281 Fixed SLA definition link text typo
  articles/azure/azs-sd.md
  articles/cloud-storage/cs-sd.md
  articles/connectivity/conn-sd-ddosprotect.md
  articles/connectivity/conn-sd-ultradns.md
  articles/draas/draas-sd.md
  articles/hpc/hpc-sd.md
  articles/managed-services/man-sd-ad.md
  articles/managed-services/man-sd-managed-it-ops.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-rds.md
  articles/managed-services/man-sd-sqlserver.md
  articles/managed-services/man-sd-webserver.md
  articles/openshift/oshift-sd.md
  articles/openstack/ostack-sd.md
  articles/oracle/orcl-sd.md
  articles/other/other-sd-mcbs.md
  articles/private-cloud/prc-sd-orcl.md
  articles/private-cloud/prc-sd-storage.md
  articles/private-cloud/prc-sd.md
  articles/sra/sra-sd.md
  articles/vmware/vmw-sd.md
Labels: Doc Hunt, X-platform, minor fix

#1271 Update enbl-sco-bigcolo.md
  articles/enablement/enbl-sco-bigcolo.md
Labels: Doc Hunt, Enablement, update info

#1264 Update orcl-faq.md
  articles/oracle/orcl-faq.md
Labels: Doc Hunt, Oracle, update info

#1209 Vcd 10.1 updates part4
  articles/cdsz/cdsz-how-access-services-walled-garden.md
  articles/connectivity/conn-faq-janet.md
  articles/draas/draas-sco.md
  articles/oracle/orcl-gs.md
  articles/other/other-ref-invoice-evidence-file.md
  articles/vmware/images/vmw-vcd10.1-btn-configure-services-security.png
  articles/vmware/images/vmw-vcd10.1-btn-enable-distributed-routing.png
  articles/vmware/images/vmw-vcd10.1-enable-dfw.png
  articles/vmware/images/vmw-vcd10.1-mnu-security.png
  articles/vmware/images/vmw-vcd10.1-new-network-distributed-edge.png
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
  articles/vmware/vmw-how-configure-distributed-firewall.md
  articles/vmware/vmw-how-configure-distributed-logical-router.md
  articles/vmware/vmw-how-zerto-perform-failover.md
  articles/vmware/vmw-ref-byof-working-firewalls.md
  articles/vmware/vmw-ref-trouble-ipsec-nsx64.md
  articles/vmware/vmw-ref-trouble-null-pointer.md
  articles/vmware/vmw-sco-byof.md
Labels: VMware, update info

#1294 Hybridconnect updates
  articles/connectivity/conn-faq-hybridconnect.md
  articles/connectivity/conn-ref-hybrid-crown-connect.md
Labels: Connectivity, update info

#1340 typo
  articles/oracle/orcl-faq.md
Labels: Oracle, minor fix

#1293 space before property tag removed
  articles/openstack/ostack-how-use-instance-metadata.md
Labels: Doc Hunt, OpenStack, update info

#1289 incorrect string removed.
  articles/openstack/ostack-gs.md
Labels: Doc Hunt, OpenStack, minor fix

#1363 Remove HPC overview article
  articles/hpc/hpc-ref-overview.md
  articles/other/other-ref-browsers.md
  articles/other/other-ref-discount-schemes.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-service-definitions.md
  custom_template/partials/products.tmpl.partial
  docs/articles/hpc/hpc-ref-overview.html
  toc.yml
Labels: VMware, remove old content

#1365 Removed Cloud Optimisation
  articles/managed-services/man-sd-optimisation.md
  articles/managed-services/man-services-home.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-sla-definition.md
  docs/articles/managed-services/man-sd-optimisation.html
Labels: Managed Services, remove old content

#1366 Remove Portworx Enterprise
  articles/openshift/oshift-sd-portworx.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-sla-definition.md
  docs/articles/openshift/oshift-sd-portworx.html
Labels: OpenShift, remove old content

#1367 Remove MCBS
  articles/openstack/ostack-faq.md
  articles/other/other-faq-mcbs.md
  articles/other/other-how-connect-mcbs.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-knowledge-guidelines.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-sla-definition.md
  articles/other/other-sd-mcbs.md
  docs/articles/other/other-faq-mcbs.html
  docs/articles/other/other-how-connect-mcbs.html
  docs/articles/other/other-sd-mcbs.html
Labels: MCBS, remove old content

#1263 Update orcl-home.md
  articles/oracle/orcl-home.md
Labels: Doc Hunt, Oracle, update content

#1292 Fixed the command syntad
  articles/openstack/ostack-how-recover-instance.md
Labels: Doc Hunt, OpenStack, update content

#1291 Fixed a typo on RHUI
  articles/openstack/ostack-how-install-rhui.md
Labels: Doc Hunt, OpenStack, minor fix

#1288 Update conn-faq-ddos.md
  articles/connectivity/conn-faq-ddos.md
Labels: Connectivity, Doc Hunt, update content

#1284 A selection of typos.
  articles/openshift/oshift-ref-security-best-practices.md
  articles/openstack/ostack-how-create-heat-template.md
  articles/openstack/ostack-how-create-load-balancer.md
  articles/oracle/orcl-sco.md
Labels: Doc Hunt, OpenShift, OpenStack, Oracle, minor fix

#1272 Update email-gs.md
  articles/email/email-gs.md
Labels: Doc Hunt, Email, update content

#1223 updates mainly to move to newer language for control plane nodes
  articles/openshift/images/oshift-architecture.png
  articles/openshift/images/oshift-product-options-g12.png
  articles/openshift/oshift-faq.md
  articles/openshift/oshift-gs.md
  articles/openshift/oshift-how-add-domains-proxy-allow-list.md
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
  articles/openshift/oshift-how-view-proxy-logs.md
  articles/openshift/oshift-ref-no-proxy.md
  articles/openshift/oshift-ref-pricing.md
  articles/openshift/oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-trial.md
  articles/openshift/oshift-sco.md
  articles/openshift/toc.yml
Labels: OpenShift, update content
