Repository UKCloud/documentation, pull requests merged in 2020-10, with the labels that each got.

#1135 Add OpenShift pricing article
  articles/openshift/oshift-ref-pricing.md
Labels: G-Cloud, OpenShift, new article

#1147 Fix tab id
  articles/openshift/oshift-ref-pricing.md
Labels: OpenShift, fix build issue

#1057 Review ptl-ref-multiple-accounts.md
  articles/portal/ptl-ref-multiple-accounts.md
Labels: Portal, review - no changes

#1095 Rename v4 subtoc
  articles/openshift/oshift-ref-deploy-app-into-service-mesh.md
Labels: OpenShift, update metadata

#1148 Update man-monitoring-sco.md
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services

#1146 Fix typo in conn-faq.md
  articles/connectivity/conn-faq.md
Labels: Connectivity, minor fix

#1152 Fix lastreviewed dates
  articles/azure/azs-how-configure-custom-script-extension.md
  articles/azure/azs-how-create-S2S-VPN-azurestack-to-azure.md
  articles/azure/azs-how-create-S2S-VPN-ps.md
  articles/azure/azs-how-move-vm-new-vnet-ps.md
  articles/openstack/ostack-how-use-api-sso.md
Labels: Azure Stack Hub, OpenStack, update metadata

#1149 Remove DRaaS
  articles/other/other-faq-g12.md
Labels: DRaaS, update info

#1144 Update SFIA link
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-ref-application-process.md
  articles/connectivity/conn-faq-hscn.md
  articles/connectivity/conn-faq-hybridconnect.md
  articles/connectivity/conn-faq.md
  articles/email/email-faq.md
  articles/enablement/enbl-sco-bigcolo.md
  articles/oracle/orcl-ref-pricing.md
  articles/other/other-faq-g12.md
  articles/other/other-ref-external-security-review-testing.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-sco-free-trials.md
  articles/private-cloud/prc-sco-orcl.md
  articles/sra/sra-faq.md
  articles/vmware/vmw-faq-failover-testing.md
  articles/vmware/vmw-sco-synchronous-protection.md
  articles/vmware/vmw-sco-vls.md
Labels: G-Cloud, update info

#1143 Remove third-party software
  articles/azure/images/ukc-services.png
  articles/cdsz/images/ukc-services.png
  articles/cloud-storage/images/ukc-services.png
  articles/openshift/images/ukc-services.png
  articles/openstack/images/ukc-services.png
  articles/oracle/images/ukc-services.png
  articles/other/images/ukc-services.png
  articles/other/other-ref-glossary.md
  articles/other/other-ref-knowledge-guidelines.md
  articles/other/other-ref-sla-definition.md
  articles/private-cloud/images/ukc-services.png
  articles/sra/images/ukc-services.png
  articles/third-party/images/third-appdynamics-ui.png
  articles/third-party/images/third-moogsoft-overview.png
  articles/third-party/images/ukc-services-g12.png
  articles/third-party/images/ukc-services.png
  articles/third-party/third-faq-appdynamics.md
  articles/third-party/third-faq-moogsoft.md
  articles/third-party/third-ref-eula.md
  articles/third-party/third-sco-appdynamics.md
  articles/third-party/third-sco-moogsoft.md
  articles/third-party/third-sd-appdynamics.md
  articles/third-party/third-sd-hytrust.md
  articles/third-party/third-sd-moogsoft.md
  articles/third-party/toc.yml
  articles/vmware/images/ukc-services.png
  articles/vmware/vmw-faq.md
Labels: remove old article, third-party

#1154 Remove third party from toc
  toc.yml
Labels: fix build issue

#1158 Update man-monitoring-sco.md
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services

#1153 Shared services
  articles/azure/azs-ref-pricing.md
  articles/cdsz/cdsz-how-access-services-walled-garden.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-ref-pricing.md
  articles/shared/images/ptl-mnu-my-calls.png
  articles/shared/images/shared-windows-kms-activate-ip.png
  articles/shared/images/shared-windows-kms-activate-success.png
  articles/shared/images/shared-windows-kms-activate.png
  articles/shared/images/vmw-vcd-edge-btn-config.png
  articles/shared/images/vmw-vcd91-mnu-edges.png
  articles/shared/shared-how-access-centos-update-servers.md
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-access-ubuntu-update-servers.md
  articles/shared/shared-how-connect-windows-update.md
  articles/shared/shared-how-install-rhui-vm.md
  articles/shared/shared-how-license-microsoft.md
  articles/shared/shared-how-license-red-hat.md
  articles/shared/shared-how-setup-kms.md
  articles/shared/shared-ref-access-to-vms.md
  articles/shared/shared-ref-network-time-server.md
  articles/shared/shared-ref-overview.md
  articles/shared/shared-ref-rhui.md
  articles/shared/shared-ref-windows-2016-templates.md
  articles/shared/shared-vid-licensing-kms.md
  articles/shared/shared-vid-wsus.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-ref-pricing.md
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: Shared Services

#1157 Remove SPARC
  articles/oracle/images/orcl-solaris-aix.png
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-sd.md
Labels: Oracle, update info

#1162 Delete vmw-ref-fix-unable-to-vapps.md
  articles/vmware/vmw-ref-fix-unable-to-vapps.md
Labels: VMware, remove old article

#1161 man-patching-faq
  articles/managed-services/images/man-patching-patchingcycle.png
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1159 Remove html files
  docs/articles/third-party/images/third-appdynamics-ui.png
  docs/articles/third-party/images/third-moogsoft-overview.png
  docs/articles/third-party/images/ukc-services-g12.png
  docs/articles/third-party/images/ukc-services.png
  docs/articles/third-party/third-faq-appdynamics.html
  docs/articles/third-party/third-faq-moogsoft.html
  docs/articles/third-party/third-ref-eula.html
  docs/articles/third-party/third-sco-appdynamics.html
  docs/articles/third-party/third-sco-moogsoft.html
  docs/articles/third-party/third-sd-appdynamics.html
  docs/articles/third-party/third-sd-cloudsoc.html
  docs/articles/third-party/third-sd-hytrust.html
  docs/articles/third-party/third-sd-moogsoft.html
  docs/articles/third-party/third-sd-portworx.html
  docs/articles/third-party/third-vid-cloudsoc-intro.html
  docs/articles/third-party/toc.html
Labels: KC

#1080 Update conn-ref-hscn-ssl.md
  articles/connectivity/conn-ref-hscn-ssl.md
Labels: Connectivity, review - no changes

#1163 Create man-antivirus-faq.md
  articles/managed-services/man-antivirus-faq.md
Labels: Managed Services

#1166 Fix broken link
  articles/managed-services/man-antivirus-faq.md
Labels: Managed Services, fix build issue

#1169 Updates to to MMaaS article
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-monitoring-how-use-customer-polling.md
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services

#1167 Reviewed azs-how-configure-custom-script-extension
  articles/azure/azs-how-configure-custom-script-extension.md
Labels: Azure Stack Hub, review - no changes, update metadata

#1184 Add known issues for VCD10.1
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: Portal, VMware, new info

#1188 Review-azs-how-move-vm-new-vnet-ps
  articles/azure/azs-how-move-vm-new-vnet-ps.md
Labels: Azure Stack Hub, minor fix, update metadata

#1187 Reorg of toc
  articles/vmware/vmw-ref-pricing.md
  articles/vmware/vmw-sco-byof.md
  articles/vmware/vmw-sco-dedicated-compute.md
  articles/vmware/vmw-sco-journaling-protection.md
  articles/vmware/vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco-synchronous-protection.md
  articles/vmware/vmw-sco-vls.md
  articles/vmware/vmw-sco.md
  articles/vmware/vmw-sd-vls.md
  articles/vmware/vmw-sd.md
Labels: KC, update metadata
