Repository UKCloud/documentation, pull requests merged in 2020-06, with the labels that each got.

#1023 Pricing tool bugs article review
  articles/other/other-ref-pricing-tool-bugs.md
Labels: X-platform, update info

#940 Annual review of oshift-ref-lifecycle
  articles/openshift/oshift-ref-lifecycle.md
Labels: OpenShift, minor fix

#1026 Create article for vCD 10.1
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware, new article

#1027 Removal of some provider focused changes
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware

#1028 Fix lastreviewed date
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services, update metadata

#1025 Update to reflect current functionality
  articles/portal/images/ptl-2fa.png
  articles/portal/images/ptl-home-page.png
  articles/portal/images/ptl-login.png
  articles/portal/images/ptl-navigation-panel.png
  articles/portal/ptl-gs.md
Labels: Portal, update info

#994 Zerto upgrade 2
  articles/migration/images/migr-zerto-mnu-move-vpg.png
  articles/migration/images/migr-zerto-move-execution-parameters.png
  articles/migration/images/migr-zerto-move-params.png
  articles/migration/images/migr-zerto-move-select-vpg.png
  articles/migration/images/migr-zerto-move-vpgs.png
  articles/migration/images/migr-zerto_move-vpg.png
  articles/migration/migr-how-zerto-migrate-to-ukcloud.md
  articles/vmware/images/migrate-zerto-image-3.png
  articles/vmware/images/migrate-zerto-image-4.png
  articles/vmware/images/migrate-zerto-image-5.png
  articles/vmware/images/migrate-zerto-image-6.png
  articles/vmware/images/perform-image-1.png
  articles/vmware/images/perform-image-2.png
  articles/vmware/images/perform-image-3.png
  articles/vmware/images/perform-image-4.png
  articles/vmware/images/perform-image-5.png
  articles/vmware/images/perform-image-6.png
  articles/vmware/images/perform-image-7.png
  articles/vmware/images/perform-image-8.png
  articles/vmware/images/vmw-zerto-btn-failover-live.png
  articles/vmware/images/vmw-zerto-btn-failover-test.png
  articles/vmware/images/vmw-zerto-failover-live-checkpoints.png
  articles/vmware/images/vmw-zerto-failover-live-params-checkpoint.png
  articles/vmware/images/vmw-zerto-failover-live-vpgs.png
  articles/vmware/images/vmw-zerto-failover-test-checkpoints.png
  articles/vmware/images/vmw-zerto-failover-test-params-checkpoint.png
  articles/vmware/images/vmw-zerto-failover-test-vpgs.png
  articles/vmware/images/vmw-zerto-migrate-journal-overview.png
  articles/vmware/images/vmw-zerto-migrate-overview.png
  articles/vmware/images/vmw-zerto-mnu-move-vpg.png
  articles/vmware/images/vmw-zerto-move-params.png
  articles/vmware/images/vmw-zerto-move-vpgs.png
  articles/vmware/vmw-how-zerto-migrate-between-regions.md
  articles/vmware/vmw-how-zerto-perform-failover.md
  docs/articles/vmware/images/migrate-zerto-image-1.png
  docs/articles/vmware/images/migrate-zerto-image-2.png
  docs/articles/vmware/images/migrate-zerto-image-3.png
  docs/articles/vmware/images/migrate-zerto-image-4.png
  docs/articles/vmware/images/migrate-zerto-image-5.png
  docs/articles/vmware/images/migrate-zerto-image-6.png
  docs/articles/vmware/images/perform-image-1.png
  docs/articles/vmware/images/perform-image-2.png
  docs/articles/vmware/images/perform-image-3.png
  docs/articles/vmware/images/perform-image-4.png
  docs/articles/vmware/images/perform-image-5.png
  docs/articles/vmware/images/perform-image-6.png
  docs/articles/vmware/images/perform-image-7.png
  docs/articles/vmware/images/perform-image-8.png
Labels: VMware, update info

#1032 Document review - no updates required
  articles/vmware/vmw-ref-ipsec-vpn.md
Labels: VMware, review - no changes

#1031 VLS service definition
  articles/vmware/images/ukc-services-2020.png
  articles/vmware/vmw-sd-vls.md
Labels: VMware, new article

#1036 Update oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-ref-cluster-monitoring.md
Labels: OpenShift, update metadata

#996 Update to how to add OpenShift Users
  articles/openshift/images/ptl-contacts-btn-edit.png
  articles/openshift/images/ptl-contacts-tab-oshift-permissions.png
  articles/openshift/images/ptl-oshift-permissions-checkboxes.png
  articles/openshift/oshift-how-create-users.md
  articles/openshift/oshift-how-manage-user-access.md
  articles/openshift/oshift-ref-security-best-practices.md
  articles/portal/ptl-how-create-users.md
Labels: OpenShift

#1041 Update DR FAQ
  articles/draas/draas-faq.md
Labels: DRaaS, new info
