Repository UKCloud/documentation, pull requests merged in 2020-05, with the labels that each got.

#998 KC article reviews
  articles/openstack/ostack-how-recover-instance.md
  articles/openstack/ostack-how-retrieve-windows-password.md
  articles/openstack/ostack-how-use-cli.md
  articles/openstack/ostack-how-use-instance-metadata.md
  articles/openstack/ostack-ref-auto-scaling.md
  articles/openstack/ostack-ref-cli-clients.md
  articles/openstack/ostack-ref-public-image-versioning.md
  articles/openstack/ostack-ref-ukcloud-outperforms.md
Labels: OpenStack, review - no changes

#997 Op 2435 - Review KC article - How to create load balancing services
  articles/openstack/images/ostack-availability-zone-list.png
  articles/openstack/images/ostack-flavor-list.png
  articles/openstack/images/ostack-floating-ip-create.png
  articles/openstack/images/ostack-image-list.png
  articles/openstack/images/ostack-openstack-net-create.png
  articles/openstack/images/ostack-openstack-subnet-create.png
  articles/openstack/images/ostack-port-create.png
  articles/openstack/images/ostack-port-list.png
  articles/openstack/images/ostack-router-list.png
  articles/openstack/images/ostack-server-create-1.png
  articles/openstack/images/ostack-server-create-2.png
  articles/openstack/ostack-how-create-load-balancer.md
Labels: OpenStack, update info

#1007 Reviewed azs-how-create-key-vault-ps
  articles/azure/azs-how-create-key-vault-ps.md
Labels: Azure Stack Hub, review - no changes

#1009 Add My Calls video
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-raise-escalate-service-request.md
  articles/portal/ptl-how-use-my-calls.md
  articles/portal/ptl-vid-mycalls.md
  articles/portal/ptl-vid-portal.md
Labels: Portal, Support, new article

#1003 Update SSO login images
  articles/openstack/images/ostack-horizon-sso-login.png
  articles/portal/images/ptl-mycalls-login.png
Labels: Portal, update info

#1014 Remove option for user to change email address
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-change-email-address.md
Labels: Portal, Support, new article, update info

#1011 Review complaints article
  articles/other/other-ref-complaints.md
Labels: Support, review - no changes

#1010 Remove unnecessary article
  articles/other/other-ref-customer-admin.md
  docs/articles/other/other-ref-customer-admin.html
Labels: remove old article

#1017 Update pricing guide link
  articles/azure/azs-home.md
  articles/azure/azs-sd.md
  articles/cdsz/cdsz-sco.md
  articles/cdsz/cdsz-sd.md
  articles/cloud-storage/cs-sd.md
  articles/connectivity/conn-faq-hscn.md
  articles/connectivity/conn-faq-psn.md
  articles/dedicated-compute/dc-sco.md
  articles/dedicated-compute/dc-sd.md
  articles/draas/draas-faq.md
  articles/draas/draas-sd.md
  articles/enablement/enbl-sco-transfer-assured-elevated.md
  articles/enablement/enbl-sco-transfer-regions.md
  articles/gpu/gpu-sco.md
  articles/hpc/hpc-ref-overview.md
  articles/hpc/hpc-sd.md
  articles/managed-services/man-sd-compute.md
  articles/managed-services/man-sd-monitoring.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-optimisation.md
  articles/migration/migr-sd.md
  articles/openshift/oshift-home.md
  articles/openshift/oshift-sco.md
  articles/openshift/oshift-sd.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-home.md
  articles/openstack/ostack-sd.md
  articles/oracle/orcl-home.md
  articles/oracle/orcl-sd.md
  articles/other/other-faq-g11.md
  articles/other/other-how-use-pricing-tool.md
  articles/other/other-ref-best-practice-guide.md
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-sd-mcbs.md
  articles/private-cloud/prc-sco-orcl.md
  articles/private-cloud/prc-sco.md
  articles/private-cloud/prc-sd-orcl.md
  articles/private-cloud/prc-sd-storage.md
  articles/private-cloud/prc-sd.md
  articles/sra/sra-faq.md
  articles/sra/sra-sco.md
  articles/sra/sra-sd.md
  articles/third-party/third-sd-appdynamics.md
  articles/third-party/third-sd-cloudsoc.md
  articles/third-party/third-sd-hytrust.md
  articles/third-party/third-sd-moogsoft.md
  articles/third-party/third-sd-portworx.md
  articles/transition-services/trans-sd.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-home.md
  articles/vmware/vmw-how-access-redhat-update-servers.md
  articles/vmware/vmw-how-license-microsoft.md
  articles/vmware/vmw-ref-advanced-networking.md
  articles/vmware/vmw-sco-dedicated-compute.md
  articles/vmware/vmw-sco.md
  articles/vmware/vmw-sd.md
Labels: X-platform, update info

#1019 Clarify number of IPs
  articles/openstack/ostack-sco.md
Labels: OpenStack, update info

#1020 Update articles for new Portal login
  articles/openstack/images/ostack-horizon-log-in.png
  articles/openstack/ostack-gs.md
  articles/openstack/ostack-how-manage-accounts-portal.md
  articles/portal/images/ptl-2fa.png
  articles/portal/images/ptl-login.png
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-use-my-calls.md
  docs/articles/openstack/images/ostack-horizon-log-in.png
Labels: Portal, update info

#884 Update sites, regions, zones
  articles/openstack/ostack-how-move-resources.md
  articles/other/images/other-sites-regions-zones.png
  articles/other/images/sites_regions_and_zones_map.png
  articles/other/images/srz_ref_table.png
  articles/other/other-ref-services-by-region.md
  articles/other/other-ref-services-by-zone.md
  articles/other/other-ref-srz-table.md
  docs/articles/other/images/sites_regions_and_zones_map.png
  docs/articles/other/images/srz_ref_table.png
  docs/articles/other/other-ref-services-by-zone.html
  docs/articles/other/other-ref-srz-table.html
Labels: X-platform, update info
