Repository UKCloud/documentation, pull requests merged in 2020-09, with the labels that each got.

#1090 Making text match the UI
  articles/vmware/vmw-gs.md
Labels: VMware, minor fix

#1055 Add v3 or v4 toc_sub1 categorisation for OCP version-specific docs
  articles/openshift/oshift-how-add-domains-proxy-whitelist.md
  articles/openshift/oshift-how-backup-directories-database.md
  articles/openshift/oshift-how-backup-migrate.md
  articles/openshift/oshift-how-build-app-private-repo.md
  articles/openshift/oshift-how-configure-portworx-volume-replication.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expand-persistent-vols.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-manage-user-access.md
  articles/openshift/oshift-how-monitor-cluster.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
  articles/openshift/oshift-how-use-hawkular-metrics.md
  articles/openshift/oshift-how-use-netpol.md
  articles/openshift/oshift-how-view-proxy-logs.md
  articles/openshift/oshift-how-view-router-logs.md
  articles/openshift/oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-ref-kibana-dashboards.md
  articles/openshift/oshift-ref-no-proxy.md
  articles/openshift/oshift-ref-scaling.md
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift

#1094 Move all Portworx docs under 'OpenShift version 3' sub-heading
  articles/openshift/oshift-how-add-domains-proxy-whitelist.md
  articles/openshift/oshift-how-backup-migrate.md
  articles/openshift/oshift-how-configure-portworx-volume-replication.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-portworx-snapshots.md
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
  articles/openshift/oshift-how-use-hawkular-metrics.md
  articles/openshift/oshift-how-use-netpol.md
  articles/openshift/oshift-how-use-portworx-encrypted-volumes.md
  articles/openshift/oshift-how-use-portworx-shared-volumes.md
  articles/openshift/oshift-how-view-proxy-logs.md
  articles/openshift/oshift-how-view-router-logs.md
  articles/openshift/oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-ref-kibana-dashboards.md
  articles/openshift/oshift-ref-no-proxy.md
  articles/openshift/oshift-ref-scaling.md
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift

#1111 Create man-patching-sco.md
  articles/managed-services/man-patching-sco.md
Labels: Managed Services

#1086 New articles for assured to elevated transfer
  articles/enablement/enbl-how-migrate-edge-config.md
  articles/enablement/enbl-how-obtain-vpn-config.md
  articles/enablement/images/vmw-firefox-restclient-icon.png
  articles/enablement/images/vmw-restclient-accept-header.png
  articles/enablement/images/vmw-restclient-api-url.png
  articles/enablement/images/vmw-restclient-authentication-details.png
  articles/enablement/images/vmw-restclient-authentication-header.png
  articles/enablement/images/vmw-restclient-authentication-token.png
  articles/enablement/images/vmw-restclient-basic-authentication-remove.png
  articles/enablement/images/vmw-restclient-basic-authentication.png
  articles/enablement/images/vmw-restclient-custom-header.png
  articles/enablement/images/vmw-restclient-get-vorg-url.png
  articles/enablement/images/vmw-restclient-get-vorg.png
  articles/enablement/images/vmw-restclient-method-get.png
  articles/enablement/images/vmw-restclient-request-headers-token.png
  articles/enablement/images/vmw-restclient-request-headers.png
  articles/enablement/images/vmw-restclient-request-method-post.png
Labels: Enablement, new article

#1112 Create man-sqlserver-sco.md.md
  articles/managed-services/man-sqlserver-sco.md.md
Labels: Managed Services

#1113 Update man-monitoring-sco.md
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services

#1114 Fix sqlserver-sco filename
  articles/managed-services/man-sqlserver-sco.md
Labels: Managed Services, fix build issue

#1109 Upgrade edge
  articles/vmware/images/vmw-vcd-btn-redeploy.png
  articles/vmware/images/vmw-vcd-btn-reset-network.png
  articles/vmware/images/vmw-vcd-btn-reset-vaap-network.png
  articles/vmware/vmw-how-upgrade-edge.md
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware, new article

#1115 Update man-sqlserver-sco.md
  articles/managed-services/man-sqlserver-sco.md
Labels: Managed Services

#1117 Create man-antivirus-sco.md
  articles/managed-services/man-antivirus-sco.md
Labels: Managed Services

#1123 Add new VLS article
  articles/vmware/vmw-how-vls-add-products.md
  articles/vmware/vmw-how-vls-report-usage.md
  articles/vmware/vmw-how-vls-request-licence.md
Labels: VMware, new article

#1129 Remove date
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware, update info

#1125 CDSZ/SRA review
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/cdsz/cdsz-how-access-services-walled-garden.md
  articles/cdsz/cdsz-ref-bp-overview.md
  articles/sra/sra-how-add-remove-users.md
Labels: SRA/CDSZ, review - no changes

#1120 Update Azure SD for G12
  articles/azure/azs-sd.md
  articles/azure/images/azs-product-options-g12.png
  articles/azure/images/ukc-services-g12.png
Labels: Azure Stack Hub, G-Cloud, update info

#1121 Update VMware SDs for G12
  articles/vmware/images/ukc-services-g12.png
  articles/vmware/images/vmw-product-options-g12.png
  articles/vmware/vmw-sd-vls.md
  articles/vmware/vmw-sd.md
Labels: G-Cloud, VMware, update info

#1128 Update/add SDs for G12 Managed Services
  articles/managed-services/images/ukc-services-2020.png
  articles/managed-services/images/ukc-services-g12.png
  articles/managed-services/images/ukc-services.png
  articles/managed-services/man-sd-ad.md
  articles/managed-services/man-sd-compute.md
  articles/managed-services/man-sd-managed-it-ops.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-optimisation.md
  articles/managed-services/man-sd-rds.md
  articles/managed-services/man-sd-sqlserver.md
  articles/managed-services/man-sd-webserver.md
Labels: G-Cloud, new article, update info

#1137 Fix build issues
  articles/connectivity/images/ukc-services-g12.png
  articles/managed-services/man-sd-ad.md
  articles/managed-services/man-sd-rds.md
  articles/managed-services/man-sd-sqlserver.md
  articles/managed-services/man-sd-webserver.md
  articles/other/other-ref-glossary.md
Labels: G-Cloud, fix build issue

#1136 Add DaaS pricing info article
  articles/daas/daas-ref-pricing.md
Labels: DaaS, G-Cloud, new article

#1126 Update SDs for G12 - part 3
  articles/daas/daas-sd.md
  articles/daas/images/ukc-services-g12.png
  articles/dedicated-compute/dc-sd.md
  articles/dedicated-compute/images/dc-product-options-g12.png
  articles/dedicated-compute/images/ukc-services-g12.png
  articles/dedicated-compute/images/ukc-services.png
  articles/draas/draas-sd.md
  articles/draas/images/ukc-services-g12.png
  articles/draas/images/ukc-services.png
  articles/hpc/hpc-sd.md
  articles/hpc/images/hpc-product-options-g12.png
  articles/hpc/images/ukc-services-g12.png
  articles/hpc/images/ukc-services.png
  articles/migration/images/ukc-services-g12.png
  articles/migration/images/ukc-services.png
  articles/migration/migr-sd.md
  articles/private-cloud/images/prc-product-options-g12.png
  articles/private-cloud/images/prc-storage-product-options-g12.png
  articles/private-cloud/prc-sd-storage.md
  articles/private-cloud/prc-sd.md
Labels: G-Cloud, update info

#1132 Pricing info articles
  articles/azure/azs-ref-pricing.md
  articles/cdsz/cdsz-ref-pricing.md
  articles/cloud-storage/cs-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
  articles/oracle/orcl-ref-pricing.md
  articles/sra/sra-ref-pricing.md
  articles/vmware/vmw-ref-pricing.md
Labels: G-Cloud, new article

#1141 Fix broken links
  articles/azure/azs-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
Labels: G-Cloud, fix build issue

#1138 Add G12 FAQ
  articles/other/other-faq-g11.md
  articles/other/other-faq-g12.md
  articles/other/other-faq-ukcloud.md
Labels: G-Cloud, new article

#1134 Update product ref articles for G12
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
Labels: G-Cloud, update info

#1142 Fix broken links
  articles/azure/azs-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
  articles/other/other-faq-g12.md
Labels: G-Cloud, fix build issue

#1140 Add DaaS to menu
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: G-Cloud, KC

#1133 Add G12 T&Cs article
  articles/other/other-ref-terms-and-conditions-g11.md
  articles/other/other-ref-terms-and-conditions-g12.md
  articles/other/other-ref-terms-and-conditions.md
Labels: G-Cloud, new article
