Repository UKCloud/documentation, pull requests merged in 2020-11, with the labels that each got.

#1164 Review vmw-ref-naming-vms.md
  articles/vmware/vmw-ref-naming-vms.md
Labels: VMware, review - no changes

#1160 Update dc-sco.md
  articles/dedicated-compute/dc-sco.md
  articles/dedicated-compute/images/vmw-dc-contingency1.png
  articles/dedicated-compute/images/vmw-dc-contingency2.png
Labels: VMware, update info

#1199 Update Oracle video link
  articles/oracle/orcl-vid-overview.md
Labels: Oracle, update info

#1198 Update Oracle video link on home page
  articles/oracle/orcl-home.md
Labels: Oracle, update info

#1200 Update My VMs article
  articles/vmware/images/ptl-myvms-vapp-vms.png
  articles/vmware/images/ptl-myvms-vm-info.png
  articles/vmware/images/ptl-myvms-vms.png
  articles/vmware/vmw-how-portal-view-vms.md
Labels: Portal, update info

#1185 Review azs how create s2s vpn powershell
  articles/azure/azs-how-create-S2S-VPN-ps.md
Labels: Azure Stack Hub, review - no changes, update metadata

#1204 Add info about Flash EOL
  articles/vmware/vmw-how-switch-web-console.md
  articles/vmware/vmw-ref-vcd-97.md
  articles/vmware/vmw-ref-vcd97-known-issues.md
Labels: VMware, new info

#1206 Updates to commercial sections of AVaaS
  articles/managed-services/man-antivirus-faq.md
  articles/managed-services/man-antivirus-sco.md
  articles/managed-services/man-ref-sentinelone-datacollection.md
Labels: Managed Services

#1201 Update other-ref-sla-definition.md
  articles/other/other-ref-sla-definition.md
Labels: Managed Services

#1150 Update SLA article
  articles/other/other-ref-sla-definition.md
Labels: G-Cloud, update info

#1189 Update VLS Service Scope
  articles/vmware/vmw-sco-vls.md
Labels: VMware, new info

#1203 Openshift service scope
  articles/openshift/oshift-faq.md
  articles/openshift/oshift-sco.md
Labels: OpenShift, update info

#1213 Remove broken link
  articles/openshift/oshift-sco.md
Labels: OpenShift, fix build issue

#1202 Update how to subscribe to notifications
  articles/azure/azs-faq.md
  articles/managed-services/man-antivirus-faq.md
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-patching-faq.md
  articles/openstack/ostack-faq.md
  articles/other/other-how-subscribe-service-status.md
  articles/other/other-how-use-webhooks.md
  articles/other/other-how-view-status-info.md
  articles/other/other-ref-status-page.md
  articles/portal/images/ptl-contact-details-notifications.png
  articles/portal/images/ptl-mnu-contact-details.png
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-signup-notifications.md
  articles/vmware/vmw-faq.md
Labels: Portal, update info

#1208 Metadata and consistency
  articles/vmware/vmw-ref-vcd97-known-issues.md
Labels: VMware, update metadata

#1216 Add vROps doc
  articles/vmware/images/vmw-vrops-alerts.png
  articles/vmware/images/vmw-vrops-disable-card.png
  articles/vmware/images/vmw-vrops-enable-card.png
  articles/vmware/images/vmw-vrops-enable.png
  articles/vmware/images/vmw-vrops-metric-selector-btn-export.png
  articles/vmware/images/vmw-vrops-metric-selector-metrics.png
  articles/vmware/images/vmw-vrops-metric-selector-resources.png
  articles/vmware/images/vmw-vrops-mnu-alerts.png
  articles/vmware/images/vmw-vrops-mnu-metric-selector.png
  articles/vmware/images/vmw-vrops-mnu-overview.png
  articles/vmware/images/vmw-vrops-org-overview-more.png
  articles/vmware/images/vmw-vrops-org-overview.png
  articles/vmware/images/vmw-vrops-refresh-card.png
  articles/vmware/images/vmw-vrops-refresh.png
  articles/vmware/vmw-how-vrops-enable.md
  articles/vmware/vmw-how-vrops-refresh.md
  articles/vmware/vmw-how-vrops-use.md
  articles/vmware/vmw-ref-vrops-trouble.md
Labels: VMware, new article

#1218 Fix tips
  articles/vmware/vmw-how-vrops-enable.md
  articles/vmware/vmw-how-vrops-refresh.md
  articles/vmware/vmw-how-vrops-use.md
Labels: VMware, fix build issue

#1225 Fix broken links
  articles/vmware/images/ptl-login.png
  articles/vmware/vmw-gs.md
  articles/vmware/vmw-how-create-catalog.md
  articles/vmware/vmw-how-create-vm-from-scratch.md
Labels: VMware, fix build issue

#1186 Vcd 10.1 updates part2
  articles/vmware/images/vmw-vcd-vapp-network-firewall.png
  articles/vmware/images/vmw-vcd10.1-add-network-vapp.png
  articles/vmware/images/vmw-vcd10.1-allocated-ips.png
  articles/vmware/images/vmw-vcd10.1-btn-vapp-network-dhcp-edit.png
  articles/vmware/images/vmw-vcd10.1-btn-vapp-network-fence.png
  articles/vmware/images/vmw-vcd10.1-btn-vapp-network-services-edit.png
  articles/vmware/images/vmw-vcd10.1-btn-vapp-network-static-route-add.png
  articles/vmware/images/vmw-vcd10.1-btn-vapp-network-static-route-enable.png
  articles/vmware/images/vmw-vcd10.1-btn-vm-hard-disks-edit.png
  articles/vmware/images/vmw-vcd10.1-btn-vm-nics-edit.png
  articles/vmware/images/vmw-vcd10.1-create-affinity-rule.png
  articles/vmware/images/vmw-vcd10.1-edit-hard-disks.png
  articles/vmware/images/vmw-vcd10.1-mnu-affinity.png
  articles/vmware/images/vmw-vcd10.1-mnu-edge-gateway.png
  articles/vmware/images/vmw-vcd10.1-mnu-edge-ips.png
  articles/vmware/images/vmw-vcd10.1-mnu-storage-policies.png
  articles/vmware/images/vmw-vcd10.1-mnu-vapp-network.png
  articles/vmware/images/vmw-vcd10.1-mnu-vdc-metadata.png
  articles/vmware/images/vmw-vcd10.1-mnu-vm-details.png
  articles/vmware/images/vmw-vcd10.1-new-affinity-rule.png
  articles/vmware/images/vmw-vcd10.1-new-anti-affinity-rule.png
  articles/vmware/images/vmw-vcd10.1-primary-ip.png
  articles/vmware/images/vmw-vcd10.1-storage-limit.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-dhcp.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-firewall-add.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-nat-add.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-static-route.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-static-routing.png
  articles/vmware/images/vmw-vcd10.1-vdc-storage.png
  articles/vmware/images/vmw-vcd10.1-vm-general.png
  articles/vmware/images/vmw-vcd10.1-vm-guest-os.png
  articles/vmware/images/vmw-vcd10.1-vm-hardware-compute.png
  articles/vmware/images/vmw-vcd10.1-vm-hardware-disks.png
  articles/vmware/images/vmw-vcd10.1-vm-hardware-nic.png
  articles/vmware/images/vmw-vcd10.1-vm-location-metadata.png
  articles/vmware/images/vmw-vcd10.1-vm-storage.png
  articles/vmware/images/vmw-vcd10.1-vm-vapp-network.png
  articles/vmware/vmw-faq-sharing-catalogs.md
  articles/vmware/vmw-how-create-vapp-network.md
  articles/vmware/vmw-how-find-ip-addresses.md
  articles/vmware/vmw-how-increase-storage.md
  articles/vmware/vmw-how-locate-vdc.md
  articles/vmware/vmw-how-update-vm-settings.md
  articles/vmware/vmw-how-use-affinity-rules.md
  articles/vmware/vmw-how-use-vm-location.md
  articles/vmware/vmw-how-view-storage-usage.md
  articles/vmware/vmw-ref-pricing.md
Labels: VMware, update info

#1205 Vcd 10.1 updates part3
  articles/shared/shared-how-access-centos-update-servers.md
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-access-ubuntu-update-servers.md
  articles/shared/shared-how-connect-windows-update.md
  articles/shared/shared-how-setup-kms.md
  articles/shared/shared-ref-network-time-server.md
  articles/shared/shared-ref-windows-2016-templates.md
  articles/vmware/images/ptl-contacts-tab-permissions.png
  articles/vmware/images/vmw-vcd-ico-upload-media.png
  articles/vmware/images/vmw-vcd-tab-catalogs.png
  articles/vmware/images/vmw-vcd-tab-media.png
  articles/vmware/images/vmw-vcd-transfer-process.png
  articles/vmware/images/vmw-vcd-upload-media-destination.png
  articles/vmware/images/vmw-vcd-upload-media-source.png
  articles/vmware/images/vmw-vcd10.1-mnu-media.png
  articles/vmware/images/vmw-vcd10.1-share-vapp.png
  articles/vmware/images/vmw-vcd10.1-upload-media.png
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-how-access-vcloud-api.md
  articles/vmware/vmw-how-manage-vapp-permissions.md
  articles/vmware/vmw-how-manage-vcd-permissions.md
  articles/vmware/vmw-how-retrieve-utilisation-metrics.md
  articles/vmware/vmw-how-upload-media-iso-flp.md
  articles/vmware/vmw-how-use-ovf-tool.md
  articles/vmware/vmw-ref-vmware-tools-installation.md
  docs/articles/shared/shared-ref-windows-2016-templates.html
  docs/articles/vmware/images/vmw-vcd-ico-upload-media.png
  docs/articles/vmware/images/vmw-vcd-ico-upload-progress.png
  docs/articles/vmware/images/vmw-vcd-tab-catalogs.png
  docs/articles/vmware/images/vmw-vcd-tab-media.png
  docs/articles/vmware/images/vmw-vcd-transfer-process.png
  docs/articles/vmware/images/vmw-vcd-upload-media-destination.png
  docs/articles/vmware/images/vmw-vcd-upload-media-source.png
Labels: VMware, update info

#1226 Fix build issues
  articles/shared/images/vmw-vcd10.1-edge-btn-services.png
  articles/shared/images/vmw-vcd10.1-mnu-edges.png
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-ref-vmware-tools-installation.md
Labels: VMware, fix build issue

#1222 Remove doc for credit card onboarding
  articles/azure/azs-faq.md
  articles/cdsz/cdsz-faq.md
  articles/managed-services/man-monitoring-faq.md
  articles/openstack/ostack-faq.md
  articles/other/other-faq-billing.md
  articles/other/other-faq-credit-card.md
  articles/other/other-faq-eps.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-terms-and-conditions.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-ref-pricing.md
  docs/articles/other/other-faq-credit-card.html
Labels: X-platform, remove old article

#1227 Remove random notes
  articles/vmware/vmw-how-create-firewall-rules.md
  articles/vmware/vmw-how-create-vm-from-template.md
Labels: VMware, fix build issue

#1219 Consolidate service maintenance info
  articles/azure/azs-faq.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-sco.md
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
  articles/email/email-faq.md
  articles/gpu/gpu-sco.md
  articles/managed-services/man-antivirus-faq.md
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-monitoring-sco.md
  articles/managed-services/man-patching-faq.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-sco-triliovault.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-sco.md
  articles/other/other-faq-sla.md
  articles/other/other-ref-best-practice-guide.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-maintenance-windows.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-sla-definition.md
  articles/private-cloud/prc-faq-storage.md
  articles/private-cloud/prc-faq.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-how-locate-vdc.md
  articles/vmware/vmw-sco-journaling-protection.md
  articles/vmware/vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco.md
Labels: X-platform, update info

#1228 Fix broken links
  articles/azure/azs-faq.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-sco.md
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
  articles/email/email-faq.md
  articles/gpu/gpu-sco.md
  articles/managed-services/man-antivirus-faq.md
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-patching-faq.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-faq.md
  articles/oracle/orcl-sco.md
  articles/private-cloud/prc-faq-storage.md
  articles/private-cloud/prc-faq.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-sco.md
Labels: X-platform, fix build issue

#1254 There is a repeat of the word "the" - line 64
  articles/azure/azs-how-create-aks.md
Labels: Azure Stack Hub, minor fix
