Repository UKCloud/documentation, pull requests merged in 2020-07, with the labels that each got.

#1051 Add video for DR testing
  articles/draas/draas-vid-zerto-dr.md
Labels: DRaaS, new article

#1037 Reviewed azs-how-convert-to-managed-disks-ps
  articles/azure/azs-how-convert-to-managed-disks-ps.md
Labels: Azure Stack Hub, review - no changes

#1054 Script for snapshot summary
  articles/vmware/vmw-ref-snapshot-summary-api.md
Labels: VMware, new article

#1029 Remove old refs to vCD Legacy UI
  articles/vmware/vmw-how-access-edge.md
  articles/vmware/vmw-how-configure-l2-vpn.md
  articles/vmware/vmw-how-use-affinity-rules.md
  articles/vmware/vmw-ref-trouble-ipsec-nsx64.md
  articles/vmware/vmw-ref-trouble-null-pointer.md
  docs/articles/vmware/vmw-how-access-edge.html
Labels: VMware, update info

#1015 Vmware review updates
  articles/vmware/images/vmw-portal-build-compute-service-fail.png
  articles/vmware/images/vmw-portal-build-edge-fail.png
  articles/vmware/images/vmw-portal-build-vdc-fail.png
  articles/vmware/vmw-how-build-edge.md
  articles/vmware/vmw-how-connect-windows-update.md
  articles/vmware/vmw-how-install-openvpn.md
  articles/vmware/vmw-how-manage-vcd-permissions.md
  articles/vmware/vmw-how-retrieve-utilisation-metrics.md
  articles/vmware/vmw-how-zerto-install-local.md
Labels: VMware, update info

#1056 Fix lastreviewed date
  articles/other/other-ref-cloud-economics.md
Labels: X-platform, update metadata
