Repository UKCloud/documentation, pull requests merged in 2020-01, with the labels that each got.

#814 Openshift backup directories, databases and restore them.
  articles/openshift/oshift-how-backup-directories-database.md
Labels: OpenShift, new article

#755 Portworx shared volumes article
  articles/openshift/oshift-how-use-portworx-shared-volumes.md
Labels: OpenShift, new article

#749 Portworx snapshots guide
  articles/openshift/oshift-how-portworx-snapshots.md
Labels: OpenShift, new article

#747 Portworx replication article
  articles/openshift/oshift-how-configure-portworx-volume-replication.md
Labels: OpenShift, new article

#742 Article regarding Portworx volume encryption
  articles/openshift/oshift-how-use-portworx-encrypted-volumes.md
Labels: OpenShift, new article

#838 Fix syntax error in markdown
  articles/openshift/oshift-how-portworx-snapshots.md
Labels: OpenShift, minor fix

#839 Fix note indentation
  articles/openshift/oshift-how-configure-portworx-volume-replication.md
Labels: OpenShift, minor fix

#841 Remove section for HTML5 app
  articles/cloud-storage/cs-how-use-file-browsers.md
Labels: Cloud Storage, update info

#844 Fix broken link to NCSC website
  articles/cdsz/cdsz-gs-walled-garden.md
Labels: SRA/CDSZ, minor fix

#843 Remove broken link
  articles/connectivity/conn-faq.md
Labels: Connectivity, minor fix

#842 Add article for Managed Monitoring
  articles/managed-services/images/man-monitoring-contacts.png
  articles/managed-services/images/man-monitoring-devices.png
  articles/managed-services/images/man-monitoring-maintenance.png
  articles/managed-services/images/man-monitoring-multiple-upload.png
  articles/managed-services/images/man-monitoring-multiple-xls.png
  articles/managed-services/images/man-monitoring-thresholds.png
  articles/managed-services/man-monitoring-how-change-config.md
Labels: Managed Services, new article

#849 Fix broken link
  articles/vmware/vmw-ref-vcd-97.md
Labels: VMware, minor fix

#853 Update dc-sco.md
  articles/dedicated-compute/dc-sco.md
Labels: update info

#854 Change incorrect toc_title on Portworx snapshots article
  articles/openshift/oshift-how-portworx-snapshots.md
Labels: OpenShift, minor fix

#852 Updates from OpenStack reviews
  articles/openstack/ostack-how-install-rhui.md
  articles/openstack/ostack-how-move-resources.md
  articles/openstack/ostack-how-static-ip.md
Labels: OpenStack, update info

#806 Update oshift-how-publish-routes-on-multiple-networks.md
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
Labels: OpenShift, update info

#855 Fix typo in product name
  articles/connectivity/conn-faq-glb.md
Labels: minor fix

#829 Update review date - connectivity
  articles/connectivity/conn-faq-app-ddos.md
  articles/connectivity/conn-faq-bandwidth-monitoring.md
  articles/connectivity/conn-faq-ddos.md
  articles/connectivity/conn-faq-glb.md
  articles/connectivity/conn-faq-hybridconnect.md
  articles/connectivity/conn-ref-ddos-mitigation.md
  articles/connectivity/conn-ref-ddos-protection.md
  articles/connectivity/conn-ref-hybrid-crown-connect.md
  articles/connectivity/conn-ref-internet-access-elevated.md
  articles/connectivity/conn-ref-internet-permitted-ports.md
  articles/connectivity/conn-ref-psn-flattening.md
  articles/connectivity/conn-sco-app-ddos.md
  articles/connectivity/conn-sco-glb.md
Labels: minor fix

#828 Update review date
  articles/enablement/enbl-ref-services.md
  articles/enablement/enbl-sco-capscpa.md
  articles/enablement/enbl-sco-dtf.md
  articles/enablement/enbl-sco-mtf-nas.md
  articles/enablement/enbl-sco-smart-hands.md
  articles/enablement/enbl-sco-vpn.md
Labels: minor fix

#856 Fix link
  articles/azure/azs-faq.md
Labels: Azure Stack, minor fix

#858 Oracle backup article
  articles/oracle/orcl-ref-db-backup.md
Labels: Oracle, new article

#851 One more broken link
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack, update info

#859 Update advanced management option
  articles/other/other-ref-high-availability.md
  articles/vmware/vmw-how-configure-distributed-firewall.md
  articles/vmware/vmw-how-configure-distributed-logical-router.md
  articles/vmware/vmw-how-configure-l2-vpn.md
  articles/vmware/vmw-ref-advanced-networking.md
  articles/vmware/vmw-sd.md
  articles/vmware/vmw-vid-dfw.md
  articles/vmware/vmw-vid-l2-vpn.md
Labels: VMware, update info

#860 Review updates for Oracle articles
  articles/oracle/images/orcl-solaris-aix.png
  articles/oracle/orcl-ref-bug-self-service.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-ref-vm-compatibility.md
Labels: Oracle, update info

#862 Update draas-faq.md
  articles/draas/draas-faq.md
Labels: draas, minor fix

#861 Address review comments
  articles/other/other-ref-invoice-evidence-file.md
Labels: X-platform, update info

#863 Correct lastreviewed date
  articles/portal/ptl-how-create-users.md
Labels: Portal, minor fix

#864 Correct last reviewed date
  articles/vmware/vmw-how-install-openvpn.md
Labels: VMware, minor fix

#865 Correct last reviewed date
  articles/vmware/vmw-how-manage-snapshot-protection.md
Labels: VMware, minor fix

#866 Correct last reviewed date
  articles/openshift/oshift-ref-security-best-practices.md
Labels: OpenShift, minor fix

#857 Remove refs to My Calls Archive
  articles/portal/images/ptl-mnu-mycalls-archive.png
  articles/portal/images/ptl-my-calls-cancel.png
  articles/portal/images/ptl-my-calls-search.png
  articles/portal/images/ptl-my-calls-show-entries.png
  articles/portal/images/ptl-my-calls-subscribe.png
  articles/portal/images/ptl-my-calls-view-ticket.png
  articles/portal/images/ptl-mycalls-survey-incident.png
  articles/portal/images/ptl-mycalls-survey-request.png
  articles/portal/images/ptl-mycalls-survey.png
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-use-my-calls-archive.md
  articles/portal/ptl-how-use-my-calls.md
  docs/articles/portal/images/ptl-mnu-mycalls-archive.png
  docs/articles/portal/images/ptl-my-calls-cancel.png
  docs/articles/portal/images/ptl-my-calls-search.png
  docs/articles/portal/images/ptl-my-calls-show-entries.png
  docs/articles/portal/images/ptl-my-calls-subscribe.png
  docs/articles/portal/images/ptl-my-calls-view-ticket.png
  docs/articles/portal/ptl-how-use-my-calls-archive.html
Labels: Portal, update info

#874 Add question for PSN email relays
  articles/email/email-faq.md
Labels: Email, new info
