Repository UKCloud/documentation, pull requests merged in 2020-08, with the labels that each got.

#1058 Fixing lastreviewed data
  articles/vmware/vmw-how-zerto-install-local.md
Labels: VMware, update metadata

#1024 Update lastreviewed date
  articles/other/other-ref-ukcloud-monitoring.md
Labels: X-platform, review - no changes

#1022 Update lastreviewed date
  articles/other/other-ref-export-data.md
Labels: X-platform, review - no changes

#1050 Updated OpenShift Service Mesh page.
  articles/openshift/oshift-ref-deploy-app-into-service-mesh.md
Labels: OpenShift

#1060 Articles for VLS
  articles/vmware/vmw-how-vls-add-products.md
  articles/vmware/vmw-how-vls-install-usage-meter.md
  articles/vmware/vmw-how-vls-report-usage.md
Labels: VMware, new article

#1061 Fixing links in VLS articles
  articles/vmware/vmw-how-vls-add-products.md
  articles/vmware/vmw-how-vls-install-usage-meter.md
  articles/vmware/vmw-how-vls-report-usage.md
Labels: VMware, fix build issue

#1059 Review of best practices guide
  articles/other/other-ref-best-practice-guide.md
Labels: X-platform, update info

#1063 Add VLS Service Scope
  articles/vmware/images/ukc-services-2020.png
  articles/vmware/vmw-how-vls-install-usage-meter.md
  articles/vmware/vmw-how-vls-report-usage.md
  articles/vmware/vmw-sco-vls.md
  articles/vmware/vmw-sd-vls.md
Labels: VMware, new article

#1068 Update conn-ref-psn-permitted-ports.md
  articles/connectivity/conn-ref-psn-permitted-ports.md
Labels: Connectivity, update info

#1066 Portal release notes 2.1.0
  articles/portal/ptl-ref-release-notes.md
Labels: Portal, new info

#1078 Update conn-ref-psn-core-services.md
  articles/connectivity/conn-ref-psn-core-services.md
Labels: Connectivity, review - no changes

#1079 Update conn-ref-psn-connection.md
  articles/connectivity/conn-ref-psn-connection.md
Labels: Connectivity, review - no changes

#1077 Remove System Center article
  articles/vmware/vmw-ref-system-center.md
  docs/articles/vmware/vmw-ref-system-center.html
Labels: X-platform, remove old article

#1082 Adding the new version of AzureStack module
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack Hub, update info

#1048 New Managed Service Landing Page
  articles/managed-services/images/man-sd-managed-it-ops.png
  articles/managed-services/images/ukc-services-2020.png
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-monitoring-how-change-config.md
  articles/managed-services/man-monitoring-sco.md
  articles/managed-services/man-sd-managed-it-ops.md
  articles/managed-services/man-sd-monitoring.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-optimisation.md
  articles/managed-services/man-services-home.md
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: Managed Services

#1087 Terms and conditions changes
  articles/other/other-ref-terms-and-conditions-g11.md
  articles/other/other-ref-terms-and-conditions-partners.md
  articles/other/other-ref-terms-and-conditions.md
Labels: X-platform, new article
