Repository UKCloud/documentation, pull requests merged in 2020-03, with the labels that each got.

#912 Update home pages
  articles/azure/azs-home.md
  articles/openshift/oshift-home.md
  articles/openstack/ostack-home.md
  articles/oracle/orcl-home.md
  articles/vmware/vmw-home.md
Labels: update info

#909 Remove community related articles
  articles/other/images/other-ideas-add.png
  articles/other/images/other-ideas-challenges.png
  articles/other/images/other-ideas-comment.png
  articles/other/images/other-ideas-home.png
  articles/other/images/other-ideas-links.png
  articles/other/images/other-ideas-mnu-challenges.png
  articles/other/images/other-ideas-status.png
  articles/other/images/other-ideas-submit.png
  articles/other/images/other-ideas-vote.png
  articles/other/other-how-share-ideas.md
  articles/other/other-vid-community.md
  docs/articles/other/images/other-ideas-add.png
  docs/articles/other/images/other-ideas-challenges.png
  docs/articles/other/images/other-ideas-comment.png
  docs/articles/other/images/other-ideas-home.png
  docs/articles/other/images/other-ideas-links.png
  docs/articles/other/images/other-ideas-mnu-challenges.png
  docs/articles/other/images/other-ideas-status.png
  docs/articles/other/images/other-ideas-submit.png
  docs/articles/other/images/other-ideas-vote.png
  docs/articles/other/other-how-share-ideas.html
  docs/articles/other/other-vid-community.html
Labels: remove old article

#916 Fixing last reviewed date
  articles/openstack/ostack-how-move-resources.md
Labels: minor fix, update metadata

#917 Fix incorrect last reviewed date
  articles/other/other-ref-invoice-evidence-file.md
Labels: minor fix, update metadata

#896 Update info for large VMs
  articles/vmware/vmw-faq-snapshot-protection.md
Labels: VMware, update info

#918 Cloud storage review
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-create-user.md
  articles/cloud-storage/cs-how-reset-secret-key.md
  articles/cloud-storage/cs-how-use-ecs-python-boto.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-how-view-info-portal.md
  articles/cloud-storage/cs-ref-s3-examples.md
Labels: Cloud Storage, update info

#921 Update list of FAQs
  articles/other/other-faq-ukcloud.md
Labels: KC, update info

#915 Remove links to community
  articles/oracle/orcl-ref-db-backup.md
  articles/other/other-faq-g11.md
  articles/other/other-ref-community-competition.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-promon.md
  articles/portal/ptl-ref-release-notes.md
  articles/vmware/vmw-faq.md
  docs/articles/other/other-ref-community-competition.html
Labels: update info

#919 Update recommendations
  articles/connectivity/conn-ref-ddos-mitigation.md
Labels: Connectivity, update info

#914 Create ostack-sco-hystax.md
  articles/openstack/ostack-how-use-hystax.md
  articles/openstack/ostack-sco-hystax.md
Labels: OpenStack

#927 Provide clarity around incidents
  articles/portal/ptl-how-raise-escalate-service-request.md
Labels: Support, update info

#934 Fix build issue
  articles/openstack/ostack-how-create-heat-template.md
Labels: fix build issue

#936 Fix note syntax
  articles/portal/ptl-ref-overview-permissions.md
Labels: Portal, minor fix

#937 Remove refs to vCD 9.1
  articles/other/other-ref-browsers.md
  articles/other/other-ref-customer-admin.md
  articles/vmware/vmw-gs.md
  articles/vmware/vmw-how-configure-distributed-logical-router.md
  articles/vmware/vmw-how-create-isolated-network.md
  articles/vmware/vmw-how-create-routed-network.md
  articles/vmware/vmw-ref-trouble-uk-keyboard-console.md
  articles/vmware/vmw-vid-vcd91.md
  docs/articles/vmware/vmw-ref-trouble-uk-keyboard-console.html
  docs/articles/vmware/vmw-vid-vcd91.html
Labels: VMware, update info

#943 Updates for Azure public CSP
  articles/azure/azs-how-use-ukc-csp.md
  articles/azure/azs-sco.md
Labels: Azure Stack, new article, new info

#931 Service scope for data transfer between regions
  articles/enablement/enbl-sco-transfer-regions.md
Labels: Enablement, new article

#935 Fix azurecli profile
  articles/azure/azs-how-configure-cli.md
  articles/azure/azs-how-create-spn-cli.md
Labels: Azure Stack, new info

#941 Review oshift ref scaling
  articles/openshift/oshift-ref-scaling.md
Labels: OpenShift, update info

#942 Annual review of oshift-ref-trial
  articles/openshift/oshift-ref-trial.md
Labels: OpenShift, minor fix, update info

#947 Azure Stack Hub: Add Docker Azure CLI image content to article.
  articles/azure/azs-how-configure-cli.md
Labels: Azure Stack, new info

#944 Added new VMImage option to Azure PowerShell Create VM doc
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-create-vm-terraform.md
Labels: Azure Stack, new info

#950 Added clarification to billing endpoint
  articles/portal/ptl-ref-portal-api.md
Labels: Portal, new info

#949 Update last reviewed date
  articles/cloud-storage/cs-how-install-geodrive2-client.md
Labels: Cloud Storage, review - no changes

#845 Create ostack-faq-triliovault.md
  articles/openstack/ostack-sco-triliovault.md
Labels: OpenStack, new article

#775 azs-edit-spn-code
  articles/azure/azs-how-create-spn-powershell.md
Labels: Azure Stack Hub, update info

#951 Review article: azs-how-create-vm-portal
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/images/azsp_createvm_basics.png
Labels: Azure Stack Hub, update info

#952 Updated Azure Stack PowerShell module to 1.8.1
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack Hub, update info

#956 Fix heading causing build warnings.
  articles/azure/azs-how-create-spn-powershell.md
Labels: fix build issue

#957 Review Azure article: How to create a virtual machine - CLI
  articles/azure/azs-how-create-vm-cli.md
Labels: Azure Stack Hub, review - no changes

#958 Review article: azs-how-create-key-vault-portal
  articles/azure/azs-how-create-key-vault-portal.md
Labels: Azure Stack Hub, review - no changes
