Repository UKCloud/documentation, pull requests merged in 2021-12, with the labels that each got.

#2312 Remove obsolete troubleshooting article
  articles/vmware/images/vmw-tp-ipsec-fix1.png
  articles/vmware/images/vmw-tp-ipsec-fix2.png
  articles/vmware/vmw-ref-trouble-ipsec-nsx64.md
  docs/articles/vmware/images/vmw-tp-ipsec-fix1.png
  docs/articles/vmware/images/vmw-tp-ipsec-fix2.png
  docs/articles/vmware/vmw-ref-trouble-ipsec-nsx64.html
Labels: VMware, remove old content

#2266 Updates for "Password Reset Email Address" feature
  articles/portal/images/ptl-contact-details-notifications.png
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-change-email-address.md
  articles/portal/ptl-how-create-users.md
Labels: Portal, update content

#2018 Annual review of high availability article
  articles/other/other-ref-high-availability.md
Labels: X-platform, update content

#2314 Remove browser requirements article
  articles/other/other-ref-best-practice-guide.md
  articles/other/other-ref-browsers.md
  docs/articles/other/other-ref-browsers.html
Labels: X-platform, remove old content

#2315 Annual review - Product overview
  articles/other/other-ref-products-overview.md
Labels: X-platform, article review - no changes

#2318 Multiple accounts annual review
  articles/portal/ptl-ref-multiple-accounts.md
Labels: Portal, article review - no changes

#2324 Annual review of T&Cs list
  articles/other/other-ref-terms-and-conditions.md
Labels: X-platform, article review - no changes

#2335 Review azs-how-add-managed-disks-portal
  articles/azure/azs-how-add-managed-disks-portal.md
  articles/azure/images/azs-browser-add-vm-disk-size.png
  articles/azure/images/azs-browser-add-vm-disk.png
  articles/azure/images/azs-browser-button-add-disk.png
  articles/azure/images/azs-browser-button-save-add-data-disk.png
  articles/azure/images/azs-browser-button-vm-disks-setting.png
  articles/azure/images/azs-browser-button-vm-disks.png
  articles/azure/images/azs-browser-disks.png
  articles/azure/images/azs-browser-input-disk-lun.png
  articles/azure/images/azs-browser-input-disk-name.png
  articles/azure/images/azs-browser-notification-disks-complete.png
  articles/azure/images/azs-browser-notification-disks-progress.png
Labels: Azure Stack Hub, article review

#2339 Revert "Update enbl-sco-capscpa.md"
  articles/enablement/enbl-sco-capscpa.md
Labels: Enablement

#2342 High availability - fix broken link
  articles/other/other-ref-high-availability.md
Labels: OpenStack, fix build issue

#2345 Annual review - MISO rebate FAQ
  articles/other/other-faq-miso-rebate.md
Labels: X-platform, article review - no changes

#2241 Cloud Director 10.1 - Update broken link
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware, update content

#2350 Annual review - reuse recycle
  articles/vmware/vmw-ref-twreuse.md
Labels: VMware, article review - no changes

#2346 Update cdsz-gs-walled-garden.md
  articles/cdsz/cdsz-gs-walled-garden.md
Labels: SRA/CDSZ, update content, Security

#2347 Update cdsz-ref-application-process.md
  articles/cdsz/cdsz-ref-application-process.md
Labels: SRA/CDSZ, update content, Security

#2344 Restructure Oracle docs
  articles/oracle/images/orcl-product-options-private-g12.png
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-home.md
  articles/oracle/orcl-how-build-vm.md
  articles/oracle/orcl-how-enable-ha.md
  articles/oracle/orcl-ref-bug-self-service.md
  articles/oracle/orcl-ref-db-backup.md
  articles/oracle/orcl-ref-licensing.md
  articles/oracle/orcl-ref-pricing.md
  articles/oracle/orcl-ref-rac.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-ref-templates.md
  articles/oracle/orcl-ref-vm-compatibility.md
  articles/oracle/orcl-sco-private.md
  articles/oracle/orcl-sco.md
  articles/oracle/orcl-sd-private.md
  articles/oracle/orcl-sd.md
  articles/oracle/orcl-vid-overview.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-product-status.md
  articles/other/other-ref-service-definitions.md
  custom_template/partials/products.tmpl.partial
  docs/articles/oracle/orcl-home.html
  docs/articles/private-cloud/images/prc-orcl-product-options-g12.png
  docs/articles/private-cloud/images/ukc-services.png
  docs/articles/private-cloud/prc-sco-orcl.html
  docs/articles/private-cloud/prc-sd-orcl.html
  toc.yml
Labels: update content, Oracle

#2349 Annual review - Manage vApp permissions
  articles/vmware/images/ptl-contact-permissions-vapp-user.png
  articles/vmware/images/vmw-portal-api-username.png
  articles/vmware/images/vmw-portal-mnu-api.png
  articles/vmware/images/vmw-vcd10.1-share-vapp-specific.png
  articles/vmware/images/vmw-vcd10.1-share-vapp.png
  articles/vmware/images/vmw-vcd10.1-tab-vapps.png
  articles/vmware/vmw-how-manage-vapp-permissions.md
Labels: VMware, article review - no changes

#2340 Annual review - email fair use
  articles/email/email-ref-fair-use.md
Labels: Email, article review - no changes, retired

#2352 Fix broken link
  articles/vmware/vmw-how-manage-vapp-permissions.md
Labels: VMware, fix build issue

#2343 Annual review - billing FAQ
  articles/other/other-faq-billing.md
Labels: X-platform, update content

#2320 New VMware home page
  articles/vmware/images/home-ukc-logo.png
  articles/vmware/vmw-home.md
Labels: VMware, update content

#2322 New Azure home page
  articles/azure/azs-home.md
  articles/azure/images/home-ukc-logo.png
Labels: Azure Stack Hub, update content

#2356 Tweaks to VMware home page
  articles/vmware/vmw-home.md
Labels: VMware, minor fix
