Repository UKCloud/documentation, pull requests merged in 2021-02, with the labels that each got.

#1570 Update kc-related articles
  articles/other/images/other-github-compare-changes.png
  articles/other/images/other-github-ico-edit.png
  articles/other/images/other-github-new-pull-request.png
  articles/other/images/other-github-propose-change.png
  articles/other/images/other-github-pull-request.png
  articles/other/images/other-improve-doc.png
  articles/other/other-how-contribute-knowledge.md
  articles/other/other-ref-knowledge-guidelines.md
  articles/other/other-ref-knowledge-template.md
  articles/other/other-vid-kc-contribution.md
  docs/articles/other/other-ref-knowledge-template.html
Labels: KC, update content

#1572 Clarification on Managed Services
  articles/managed-services/man-ad-sco.md
  articles/managed-services/man-patching-sco.md
  articles/managed-services/man-services-home.md
  articles/managed-services/man-sqlserver-sco.md
  articles/managed-services/man-webserver-sco.md
Labels: Managed Services

#1575 Change wording slightly around testing updates and also add GPG Key d…
  articles/shared/shared-how-install-rhui-vm-3.md
Labels: Shared Services

#1576 Change public key to product signing key
  articles/shared/shared-how-install-rhui-vm-3.md
Labels: Shared Services

#1588 Fix last reviewed date
  articles/connectivity/conn-faq.md
Labels: Connectivity, update metadata

#1586 Fix lastreviewed date
  articles/enablement/enbl-sco-smart-hands.md
Labels: Enablement, article review - no changes

#1574 Download links
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/enablement/enbl-sco-dtf.md
  articles/sra/sra-gs.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
  articles/vmware/vmw-how-use-vm-location.md
Labels: X-platform, update content

#1579 Updates to include Extended Life Cycle Support for RHEL6
  articles/shared/shared-how-install-rhui-vm-3.md
  articles/shared/shared-ref-rhui-3.md
Labels: Shared Services, update content

#1592 Updates to show we now host Ubuntu repos in Assured and changed URLs …
  articles/shared/shared-how-access-ubuntu-update-servers.md
Labels: Shared Services, new info, update metadata

#1594 Add LECN article
  articles/connectivity/conn-faq-lecn.md
Labels: Connectivity, new article

#1578 Managed monitoring update process
  articles/managed-services/images/man-add-playbook.png
  articles/managed-services/images/man-change-devices-add-mmaas.png
  articles/managed-services/images/man-change-devices-link.png
  articles/managed-services/images/man-change-devices-upload-submit.png
  articles/managed-services/images/man-change-devices.png
  articles/managed-services/images/man-delete-playbook.png
  articles/managed-services/images/man-maintenance-multiple-devices.png
  articles/managed-services/images/man-maintenance-single-device.png
  articles/managed-services/images/man-monitoring-contacts.png
  articles/managed-services/images/man-monitoring-devices.png
  articles/managed-services/images/man-monitoring-excel-refresh.png
  articles/managed-services/images/man-monitoring-maintenance.png
  articles/managed-services/images/man-monitoring-multiple-upload.png
  articles/managed-services/images/man-monitoring-multiple-xls.png
  articles/managed-services/images/man-monitoring-playbooks.png
  articles/managed-services/images/man-monitoring-thresholds.png
  articles/managed-services/images/man-patching-patching-window.png
  articles/managed-services/images/man-update-playbook.png
  articles/managed-services/man-how-add-remove-device.md
  articles/managed-services/man-how-notify-maintenance.md
  articles/managed-services/man-how-update-contact-info.md
  articles/managed-services/man-monitoring-how-change-config.md
  articles/managed-services/man-patching-how-define-window.md
  articles/managed-services/man-ref-defaults.md
  docs/articles/managed-services/images/man-monitoring-contacts.png
  docs/articles/managed-services/images/man-monitoring-devices.png
  docs/articles/managed-services/images/man-monitoring-maintenance.png
  docs/articles/managed-services/images/man-monitoring-multiple-upload.png
  docs/articles/managed-services/images/man-monitoring-multiple-xls.png
  docs/articles/managed-services/images/man-monitoring-playbooks.png
  docs/articles/managed-services/images/man-monitoring-thresholds.png
  docs/articles/managed-services/images/ukc-services-2020.png
  docs/articles/managed-services/man-monitoring-how-change-config.html
Labels: Managed Services, new article

#1602 Fix broken links
  articles/managed-services/man-how-add-remove-device.md
  articles/managed-services/man-how-notify-maintenance.md
  articles/managed-services/man-how-update-contact-info.md
  articles/managed-services/man-monitoring-how-change-config.md
  articles/managed-services/man-patching-how-define-window.md
  articles/managed-services/man-ref-defaults.md
Labels: Managed Services, fix build issue

#1607 Change review date
  articles/email/email-ref-fair-use.md
Labels: Email, minor fix

#1606 Fixed spelling error on line 270
  articles/other/other-ref-glossary.md
Labels: minor fix

#1605 Changed phrasing in line 75
  articles/connectivity/conn-faq-hybridconnect.md
Labels: minor fix

#1604 Change of wording on line 162
  articles/connectivity/conn-faq-psn.md
Labels: minor fix

#1603 Typo in line 65 changed
  articles/other/other-ref-invoice-evidence-file.md
Labels: minor fix

#1596 Update review date
  articles/migration/migr-how-zerto-migrate-to-ukcloud.md
Labels: DRaaS, article review - no changes

#1573 Update man-patching-faq.md
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1618 Dark theme - Fix colours of the 'caution' blocks
  custom_template/styles/main.css
Labels: fix build issue

#1591 Annual review of oshift-how-publish-routes-on-multiple-networks
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
Labels: OpenShift, article review - no changes
