Repository UKCloud/documentation, pull requests merged in 2021-01, with the labels that each got.

#1361 Add new VMware regions
  articles/other/other-ref-services-by-region.md
Labels: VMware, update content

#1360 OpenShift Doc reviews dec2020
  articles/openshift/oshift-how-backup-directories-database.md
  articles/openshift/oshift-how-backup-migrate.md
  articles/openshift/oshift-how-build-app-private-repo.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expand-persistent-vols.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-use-hawkular-metrics.md
  articles/openshift/oshift-how-use-netpol.md
Labels: OpenShift, update content

#1403 Fix metadata
  articles/other/other-how-use-webhooks.md
Labels: Support, update metadata

#1404 Update other-ref-gib.md
  articles/other/other-ref-gib.md
Labels: X-platform, update metadata

#1405 Update other-ref-hadoop-proposition.md
  articles/other/other-ref-hadoop-proposition.md
Labels: X-platform, update metadata

#1118 Oshift route dns update v4
  articles/openshift/images/oshift-local-lookup.png
  articles/openshift/images/oshift-pod-lookup.png
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
Labels: OpenShift

#1401 Update product grid
  custom_template/partials/products.tmpl.partial
Labels: KC, update content

#1333 Update shared-how-license-microsoft.md
  articles/shared/shared-how-license-microsoft.md
Labels: Shared Services, new info

#1261 Update My Security Events
  articles/other/other-ref-promon.md
  articles/portal/ptl-gs.md
  articles/portal/ptl-ref-overview-permissions.md
Labels: Portal, update content

#1402 vmw-ref-vmware-tools-installation.md review
  articles/vmware/vmw-ref-vmware-tools-installation.md
Labels: VMware, review - no changes

#1406 Update man-services-home.md
  articles/managed-services/man-services-home.md
Labels: Managed Services

#1407 Replace invalid space characters with a valid space
  articles/azure/azs-faq.md
  articles/azure/azs-how-configure-custom-script-extension.md
  articles/azure/azs-how-deploy-asdk.md
  articles/azure/azs-ref-overview.md
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-how-access-services-walled-garden.md
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
  articles/connectivity/conn-faq-app-ddos.md
  articles/connectivity/conn-faq-ddos.md
  articles/connectivity/conn-faq-psn.md
  articles/connectivity/conn-faq.md
  articles/connectivity/conn-ref-ddos-protection.md
  articles/email/email-faq.md
  articles/email/email-how-setup-android.md
  articles/email/email-how-setup-iphone.md
  articles/enablement/enbl-sco-capscpa.md
  articles/enablement/enbl-sco-dtf.md
  articles/enablement/enbl-sco-hosting.md
  articles/enablement/enbl-sco-vpn.md
  articles/gpu/gpu-sco.md
  articles/managed-services/man-antivirus-faq.md
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-patching-faq.md
  articles/managed-services/man-ref-sentinelone-datacollection.md
  articles/openshift/oshift-how-monitor-cluster.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-recover-instance.md
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-ref-vm-compatibility.md
  articles/oracle/orcl-sco.md
  articles/other/other-faq-sla.md
  articles/other/other-how-use-pricing-tool.md
  articles/other/other-ref-sites-regions-zones.md
  articles/shared/shared-how-access-centos-update-servers.md
  articles/shared/shared-how-setup-kms.md
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-how-configure-ipsec-vpn.md
  articles/vmware/vmw-how-create-vm-from-scratch.md
  articles/vmware/vmw-how-create-vm-from-template.md
  articles/vmware/vmw-how-find-ip-addresses.md
  articles/vmware/vmw-how-manage-snapshot-protection.md
  articles/vmware/vmw-how-setup-gpu-compute.md
  articles/vmware/vmw-how-setup-gpu-visualisation.md
  articles/vmware/vmw-sco-dedicated-compute.md
  articles/vmware/vmw-sco-synchronous-protection.md
  articles/vmware/vmw-sco.md
Labels: fix build issue

#1221 Converting azurerm module to az module
  articles/azure/azs-how-config-vm-update-management.md
  articles/azure/azs-how-configure-custom-script-extension.md
  articles/azure/azs-how-configure-powershell-operators.md
  articles/azure/azs-how-configure-powershell-users.md
  articles/azure/azs-how-convert-to-managed-disks-ps.md
  articles/azure/azs-how-create-S2S-VPN-ps.md
  articles/azure/azs-how-create-key-vault-ps.md
  articles/azure/azs-how-create-spn-powershell.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-how-deploy-asr-template-powershell.md
  articles/azure/azs-how-deploy-sql-template-powershell.md
  articles/azure/azs-how-list-vm-extensions.md
  articles/azure/azs-how-move-vm-new-vnet-ps.md
  articles/azure/azs-how-resize-disk-ps.md
  articles/azure/azs-how-retrieve-quota-ps.md
  articles/azure/azs-how-setup-monitoring.md
  articles/azure/azs-ref-overview.md
Labels: Azure Stack Hub, update content, update metadata

#1413 Change year in the footer
  docfx.json
Labels: KC

#984 Reviewed azs-ref-overview
  articles/azure/azs-ref-overview.md
Labels: Azure Stack Hub, new info, update content

#1534 Update review metadata
  articles/cdsz/cdsz-sco.md
  articles/openshift/oshift-home.md
  articles/private-cloud/prc-sco-orcl.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-how-access-vcloud-api.md
Labels: article review - no changes

#1535 Fix broken link
  articles/azure/azs-ref-overview.md
Labels: Azure Stack Hub, fix build issue

#1412 OpenShift name change
  articles/cdsz/cdsz-faq.md
  articles/openshift/oshift-gs.md
  articles/openshift/oshift-home.md
  articles/openshift/oshift-how-backup-directories-database.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-monitor-cluster.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-view-proxy-logs.md
  articles/openshift/oshift-how-view-router-logs.md
  articles/openshift/oshift-ref-lifecycle.md
  articles/openshift/oshift-ref-scaling.md
  articles/openshift/oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-trial.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-product-overview.md
  articles/portal/ptl-gs.md
  articles/sra/sra-faq.md
Labels: OpenShift, update content

#1270 Hotfix/reviews(srelf)
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-move-resources.md
  articles/openstack/ostack-how-use-triliovault.md
  articles/openstack/ostack-sco.md
  articles/openstack/ostack-vid-overview.md
  articles/openstack/ostack-vid-trilio.md
Labels: Doc Hunt, OpenStack, update content

#1267 Update enbl-sco-vpn.md
  articles/enablement/enbl-sco-vpn.md
Labels: Doc Hunt, Enablement, update content

#1266 Update enbl-sco-capscpa.md
  articles/enablement/enbl-sco-capscpa.md
Labels: Doc Hunt, Enablement, update content

#1265 Update enbl-sco-hosting.md
  articles/enablement/enbl-sco-hosting.md
Labels: Doc Hunt, Enablement, update content

#1220 Oshift v4 dns zone forwarding
  articles/openshift/oshift-ref-dns-zone-forwarding-v4.md
Labels: OpenShift, new article

#1258 Update OpenShift Getting Started and Trial pages. cnap-1696
  articles/openshift/images/oshift-overview.png
  articles/openshift/images/oshift-pods-containers.png
  articles/openshift/oshift-gs-v3.md
  articles/openshift/oshift-gs.md
  articles/openshift/oshift-ref-trial.md
Labels: OpenShift, update content

#1290 Openstack rc file variables fixed
  articles/openstack/ostack-gs.md
Labels: Doc Hunt, OpenStack, update content

#1362 Product-specific terms
  articles/other/other-ref-terms-and-conditions-products.md
  articles/other/other-ref-terms-and-conditions.md
Labels: X-platform, new article

#1295 Update enbl-ref-services.md
  articles/enablement/enbl-ref-services.md
Labels: Doc Hunt, Enablement, update content

#1286 Update conn-faq-psn-police.md
  articles/connectivity/conn-faq-psn-police.md
Labels: Connectivity, Doc Hunt, update content

#1537 Implement site-wide dark theme
  custom_template/partials/affix.tmpl.partial
  custom_template/styles/main.css
  custom_template/styles/toggle-theme.js
Labels: KC, wip

#1539 Fix links in Shared Services overview
  articles/shared/shared-ref-overview.md
Labels: Shared Services, update content

#1538 Remove old HTML files
  docs/articles/vmware/vmw-how-access-centos-update-servers.html
  docs/articles/vmware/vmw-how-access-redhat-update-servers.html
  docs/articles/vmware/vmw-how-access-ubuntu-update-servers.html
  docs/articles/vmware/vmw-how-connect-windows-update.html
  docs/articles/vmware/vmw-how-install-rhui-vm.html
  docs/articles/vmware/vmw-how-license-microsoft.html
  docs/articles/vmware/vmw-how-license-red-hat.html
  docs/articles/vmware/vmw-how-setup-kms.html
  docs/articles/vmware/vmw-ref-access-to-vms.html
  docs/articles/vmware/vmw-ref-network-time-server.html
  docs/articles/vmware/vmw-ref-rhui.html
  docs/articles/vmware/vmw-vid-licensing-kms.html
  docs/articles/vmware/vmw-vid-wsus.html
Labels: Shared Services, remove old content

#1411 Remove vCD 9.7 known issues article
  articles/vmware/vmw-ref-vcd97-known-issues.md
  docs/articles/vmware/vmw-ref-vcd97-known-issues.html
Labels: VMware, remove old content

#1332 VCD 10.1 known issues
  articles/vmware/vmw-ref-vcd-10-1.md
Labels: VMware, update content

#1279 Update conn-faq-esn.md
  articles/connectivity/conn-faq-esn.md
Labels: Connectivity, Doc Hunt, article review - no changes

#1541 Billing FAQ review
  articles/other/other-faq-billing.md
Labels: X-platform, article review - no changes

#1536 Paul cantle shared updates
  articles/shared/shared-how-access-redhat-update-servers-3.md
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-install-rhui-vm-3.md
  articles/shared/shared-how-install-rhui-vm.md
  articles/shared/shared-ref-overview.md
  articles/shared/shared-ref-rhui-3.md
  articles/shared/shared-ref-rhui.md
Labels: Shared Services, new article

#1287 Update conn-faq-psn.md
  articles/connectivity/conn-faq-psn.md
Labels: Connectivity, Doc Hunt, update content

#1283 Update conn-faq-janet.md
  articles/connectivity/conn-faq-janet.md
Labels: Connectivity, Doc Hunt, update content

#1282 Update conn-faq-hscn.md
  articles/connectivity/conn-faq-hscn.md
Labels: Connectivity, Doc Hunt, update content

#1277 Update conn-faq.md
  articles/connectivity/conn-faq.md
Labels: Connectivity, Doc Hunt, update content

#1545 Fix search input foreground colour in dark theme
  custom_template/styles/main.css
Labels: minor fix

#1546 Add clarification
  articles/shared/shared-how-access-centos-update-servers.md
Labels: Shared Services, update content

#1544 PaaS clarification
  articles/managed-services/man-patching-faq.md
  articles/managed-services/man-patching-sco.md
Labels: Managed Services

#1542 Rhui 3 updates
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-install-rhui-vm-3.md
  articles/shared/shared-how-install-rhui-vm.md
  articles/shared/shared-ref-rhui.md
Labels: Shared Services, article review

#1565 Fix file name in link
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-install-rhui-vm.md
  articles/shared/shared-ref-rhui.md
Labels: Shared Services, fix build issue

#1568 Create man-ad-sco.md
  articles/managed-services/man-ad-sco.md
Labels: Managed Services

#1569 Create man-webserver-sco.md
  articles/managed-services/man-webserver-sco.md
Labels: Managed Services
