Repository UKCloud/documentation, pull requests merged in 2021-03, with the labels that each got.

#651 Azs create vm image
  articles/azure/azs-how-create-vm-image-portal.md
  articles/azure/azs-how-create-vm-image-powershell.md
  articles/azure/images/azs-browser-capture-vm.png
  articles/azure/images/azs-browser-create-image.png
  articles/azure/images/azs-browser-create-vm-from-image.png
  articles/azure/images/azs-browser-custom-image-resource-group.png
  articles/azure/images/azs-browser-custom-image-vm-summary.png
  articles/azure/images/azs-windows-sys-prep.png
Labels: Azure Stack Hub, new article

#1533 Update ostack-how-configure-ipsec-vpn.md
  articles/openstack/ostack-how-configure-ipsec-vpn.md
Labels: OpenStack, article review - no changes

#1615 Update conn-ref-ddos-protection.md
  articles/connectivity/conn-ref-ddos-protection.md
Labels: Connectivity, update content

#1616 Update lists of service info and FAQs
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-service-definitions.md
Labels: X-platform, update content

#1621 Annual review of VMware service options
  articles/vmware/vmw-ref-service-options.md
Labels: VMware, update content

#1622 Fix broken links
  articles/other/other-ref-service-definitions.md
Labels: fix build issue

#1624 Update man-patching-faq.md
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1598 Assured/Elevated transfer review
  articles/enablement/enbl-sco-transfer-assured-elevated.md
Labels: Enablement, article review - no changes

#1626 Azs fix create spn powershell
  articles/azure/azs-how-create-spn-powershell.md
Labels: Azure Stack Hub, minor fix

#1623 Update srz image
  articles/other/images/other-sites-regions-zones.png
  articles/other/other-ref-services-by-region.md
Labels: X-platform, update content

#1628 Patch status update
  articles/managed-services/man-ad-sco.md
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-patching-sco.md
  articles/managed-services/man-sqlserver-sco.md
  articles/managed-services/man-webserver-sco.md
Labels: Managed Services

#1629 Create man-adv-managed-svcs-faq.md
  articles/managed-services/man-adv-managed-svcs-faq.md
  articles/other/other-faq-ukcloud.md
Labels: Managed Services

#1631 Added to existing VM tab
  articles/azure/azs-how-configure-custom-script-extension.md
Labels: Azure Stack Hub, minor fix

#1660 Updated review metadata
  articles/azure/azs-how-create-vm-portal.md
Labels: Azure Stack Hub, article review - no changes

#1658 S3 API examples article review
  articles/cloud-storage/cs-ref-s3-examples.md
Labels: Cloud Storage, article review - no changes

#1632 Update MISO charge
  articles/other/other-faq-miso-rebate.md
Labels: X-platform, update content

#1661 Update pricing tool articles
  articles/other/other-how-use-pricing-tool.md
  articles/other/other-ref-pricing-tool-bugs.md
  articles/other/other-vid-pricing-tool-overview.md
Labels: X-platform, update content

#1630 Removed all referenced to CentOS6 and EPEL-6
  articles/shared/shared-how-access-centos-update-servers.md
Labels: Shared Services, update content

#1674 Document review. No change needed
  articles/openstack/ostack-sco-hystax.md
Labels: OpenStack, article review - no changes

#1684 Add additional troubleshooting for RHUI2 removal and update the link …
  articles/shared/shared-how-install-rhui-vm-3.md
Labels: Shared Services, article review

#1672 Adding-missing-colon
  articles/shared/shared-how-access-ubuntu-update-servers.md
Labels: Shared Services, update content, user suggestion

#1673 Update daas-sd.md
  articles/daas/daas-sd.md
Labels: DaaS, update content

#1671 Update email-ref-upgrade-to-86.md
  articles/email/email-ref-upgrade-to-86.md
Labels: Email, update content

#1670 Update email-how-use-with-app.md
  articles/email/email-how-use-with-app.md
Labels: Email, update content

#1669 Update email-how-setup-iphone.md
  articles/email/email-how-setup-iphone.md
Labels: Email, update content

#1668 Update email-how-setup-android.md
  articles/email/email-how-setup-android.md
Labels: Email, update content

#1667 Update email-gs.md
  articles/email/email-gs.md
Labels: Email, update content

#1666 Update email-faq.md
  articles/email/email-faq.md
Labels: Email, update content

#1690 Update VLS service definition
  articles/vmware/vmw-sd-vls.md
Labels: VLS, update content
