Repository UKCloud/documentation, pull requests merged in 2021-07, with the labels that each got.

#1774 Add new regions for SSPE
  articles/portal/ptl-how-use-api.md
  articles/portal/ptl-ref-portal-api.md
  articles/vmware/images/vmw-portal-build-compute-service.png
  articles/vmware/vmw-faq-snapshot-protection.md
  articles/vmware/vmw-gs.md
  articles/vmware/vmw-vid-build-vdc-portal.md
Labels: Portal, update content

#1789 Correct last updated date
  articles/openshift/oshift-how-disable-weak-cipher-suites-enable-hsts.md
Labels: OpenShift, update metadata

#1791 Update man-sqlserver-sco.md
  articles/managed-services/man-sqlserver-sco.md
Labels: Managed Services

#1793 Fix more menu dark theme
  custom_template/styles/docfx.vendor.css
  custom_template/styles/main.css
Labels: minor fix

#1794 Add 'open in vscode' badge to main readme
  README.md
Labels: KC

#1792 Update date for CDG
  articles/other/other-ref-product-status.md
Labels: X-platform, update content

#1801 Fix link to SFIA card
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-ref-application-process.md
  articles/connectivity/conn-faq-hscn.md
  articles/connectivity/conn-faq-hybridconnect.md
  articles/connectivity/conn-faq.md
  articles/email/email-faq.md
  articles/enablement/enbl-sco-bigcolo.md
  articles/enablement/enbl-sco-capscpa.md
  articles/enablement/enbl-sco-hosting.md
  articles/enablement/enbl-sco-vpn.md
  articles/oracle/orcl-ref-pricing.md
  articles/other/other-faq-g12.md
  articles/other/other-ref-external-security-review-testing.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-sco-free-trials.md
  articles/private-cloud/prc-sco-orcl.md
  articles/sra/sra-faq.md
  articles/vmware/vmw-faq-failover-testing.md
  articles/vmware/vmw-sco-extended-vmw-support.md
  articles/vmware/vmw-sco-synchronous-protection.md
  articles/vmware/vmw-sco-vls.md
Labels: X-platform, minor fix

#1799 Update oshift-how-v4-update.md
  articles/openshift/oshift-how-v4-update.md
Labels: OpenShift

#1798 Update oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-ref-cluster-monitoring.md
Labels: OpenShift

#1797 Update oshift-ref-deploy-app-into-service-mesh.md
  articles/openshift/oshift-ref-deploy-app-into-service-mesh.md
Labels: OpenShift

#1764 NetworkPolicy document for OpenShift v4
  articles/openshift/oshift-how-use-netpol-v4.md
Labels: OpenShift, new article

#1806 Update Dedicated Compute SLA
  articles/other/other-ref-sla-definition.md
Labels: update content

#1790 Review build edge article
  articles/vmware/vmw-how-build-edge.md
Labels: VMware, article review - no changes

#1788 Update vmw-how-install-openvpn.md
  articles/vmware/vmw-how-install-openvpn.md
Labels: VMware, update content

#1781 Update data recovery options
  articles/vmware/images/vmw-vcd-mnu-copy-vm.png
  articles/vmware/images/vmw-vcd-mnu-create-snapshot.png
  articles/vmware/vmw-ref-vm-data-recovery.md
Labels: VMware, update content

#1780 Nested hypervisor review
  articles/vmware/vmw-ref-nested-hypervisors.md
Labels: VMware, article review - no changes

#1778 Update man-monitoring-sco.md
  articles/managed-services/man-monitoring-sco.md
Labels: Managed Services, update content

#1777 Reviewed. No changes
  articles/vmware/vmw-how-access-vcloud-api.md
Labels: VMware, article review - no changes

#1776 Update to PowerCLI documentation link
  articles/vmware/vmw-ref-cloning-vapps.md
Labels: VMware, update content

#1808 Annual review of change email address article
  articles/portal/ptl-how-change-email-address.md
Labels: Portal, Support, article review - no changes

#1805 Update articles to show FRN6 as OSP13
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-create-load-balancer.md
  articles/openstack/ostack-how-use-barbican.md
  articles/openstack/ostack-ref-dashboard.md
  articles/openstack/ostack-sco.md
Labels: OpenStack, update content

#1800 Fix review date
  articles/openstack/ostack-how-cloud-config.md
Labels: OpenStack, article review - no changes

#1795 Update oshift-ref-scaling.md
  articles/openshift/oshift-ref-scaling.md
Labels: OpenShift, article review - no changes

#1815 Fix broken links in Zerto updates
  articles/draas/draas-how-zerto-install-local.md
  articles/vmware/vmw-how-zerto-perform-failover.md
Labels: fix build issue

#1817 Update man-patching-faq.md
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1782 Update syslog
  articles/vmware/images/vmw-vcd-logging-load-balancer.png
  articles/vmware/vmw-how-access-syslog-data-adv.md
Labels: VMware, update content

#1812 Create VM - network adapter type
  articles/vmware/images/vmw-vcd10.1-vm-details-nics.png
  articles/vmware/vmw-how-create-vm-from-template.md
Labels: VMware, update content

#1811 Update devices - new images
  articles/managed-services/images/man-change-devices-link.png
  articles/managed-services/images/man-change-devices-upload-submit.png
  articles/managed-services/images/man-change-devices.png
Labels: Managed Services, update content

#1779 Update image for vApp cloning
  articles/vmware/images/vapp_clone.jpg
Labels: VMware, update content

#1807 Review null pointer error article
  articles/vmware/vmw-ref-trouble-null-pointer.md
Labels: VMware, article review - no changes

#1775 Typo on PowerCLI command
  articles/vmware/vmw-ref-powercli-vcloud.md
Labels: VMware, update content

#1719 Export data review updates
  articles/other/other-ref-export-data.md
Labels: Enablement, update content

#1825 Update permissions info for Security Operations Service page
  articles/other/other-ref-promon.md
Labels: Portal, Support, update content

#1804 updated to show FRN6 as OSP13
  articles/openstack/ostack-how-retrieve-windows-password.md
  articles/openstack/ostack-ref-cli-clients.md
Labels: OpenStack, update content

#1803 no changes required
  articles/openstack/ostack-ref-live-migration.md
Labels: OpenStack, article review - no changes

#1802 fix: minor updates during reviews
  articles/openstack/ostack-how-static-ip.md
  articles/openstack/ostack-how-use-api-sso.md
  articles/openstack/ostack-ref-auto-scaling.md
  articles/openstack/ostack-ref-public-image-versioning.md
  articles/openstack/ostack-ref-ukcloud-outperforms.md
Labels: OpenStack, update content

#1753 Review dtf mtf
  articles/enablement/enbl-sco-dtf.md
  articles/enablement/enbl-sco-mtf-nas.md
  articles/enablement/enbl-sco-transfer-regions.md
Labels: Enablement, update content

#360 updating image naming conventions
  articles/openstack/ostack-ref-public-image-versioning.md
Labels: OpenStack

#1828 Annual review: Use webhooks to receive service status notifications
  articles/other/other-how-use-webhooks.md
Labels: Support, article review - no changes
