Repository UKCloud/documentation, pull requests merged in 2021-10, with the labels that each got.

#1977 Remove reference to old RHUI (Now Decom) and RHEL6 EUS
  articles/shared/shared-how-install-rhui-vm-3.md
  articles/shared/shared-ref-rhui-3.md
Labels: update content, Shared Services

#2008 Add hostname for ntp system
  articles/shared/shared-ref-network-time-server.md
Labels: update content, Shared Services

#2007 Update ptl-how-reset-password.md
  articles/portal/ptl-how-reset-password.md
Labels: Portal, update content

#1973 Fix last reviewed date
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
Labels: VMware, update metadata

#1971 Review terms and conditions articles
  articles/other/other-ref-terms-and-conditions-g12.md
  articles/other/other-ref-terms-and-conditions-partners.md
Labels: X-platform, article review - no changes

#1951 Jumpstart FAQ annual review
  articles/other/other-faq-jumpstart.md
  articles/pro-services/ps-faq-jumpstart.md
Labels: update content, PS

#2009 Fix links to Jumpstart FAQ
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-glossary.md
Labels: fix build issue

#2010 Fix links to Jumpstart FAQ
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-glossary.md
Labels: fix build issue

#2005 Openshift monitoring updates
  articles/openshift/images/oshift-monitoring-section.png
  articles/openshift/oshift-how-monitor-cluster.md
Labels: OpenShift, update content

#1982 OpenShift v4 scaling
  articles/openshift/oshift-how-scale-cluster-v4.md
  articles/openshift/oshift-how-use-netpol-v4.md
  articles/openshift/oshift-ref-scaling.md
Labels: OpenShift, new article

#1970 Add Snapshot Protection pricing example
  articles/vmware/vmw-ref-pricing.md
Labels: VMware, update content

#1972 Add Managed Operations prerequisites article.
  articles/managed-operations/man-ref-customer-prereqs.md
Labels: new article, Managed Operations

#2022 Annual review of IPsec config article
  articles/enablement/enbl-how-obtain-vpn-config.md
Labels: update content, Enablement

#2017 update ostack-ref-dashboard.md
  articles/openstack/ostack-ref-dashboard.md
Labels: OpenStack, article review - no changes
