Repository UKCloud/documentation, pull requests merged in 2021-09, with the labels that each got.

#1936 Review azs ref pricing 2021
  articles/azure/azs-ref-pricing.md
Labels: Azure Stack Hub, article review

#1937 Adding documentation for MSFT EY SPLA Audit & script download
  articles/shared/assets/EY-Inventory-Tool.zip
  articles/shared/shared-how-license-microsoft.md
Labels: update content, Shared Services

#1892 Fix error in building VMs article
  articles/vmware/images/vmw-vcd-add-network-general-ex.png
  articles/vmware/vmw-gs-build-vm-vcd.md
Labels: VMware, update content

#1941 Update link to VLS Usage Meter
  articles/vmware/vmw-how-vls-install-usage-meter.md
Labels: update content, VLS

#1946 Remove old azs-how-resize-disks HTML file
  docs/articles/azure/azs-how-resize-disks.html
Labels: Azure Stack Hub, remove old content

#1940 Review of shared secret issues article
  articles/vmware/vmw-ref-shared-secret-issues.md
Labels: VMware, update content

#1948 Review of DC advance notice article
  articles/other/other-ref-dc-notice.md
Labels: X-platform, update content

#1949 Add EOS notice for Oracle articles
  articles/azure/azs-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-home.md
  articles/oracle/orcl-how-build-vm.md
  articles/oracle/orcl-how-enable-ha.md
  articles/oracle/orcl-ref-bug-self-service.md
  articles/oracle/orcl-ref-db-backup.md
  articles/oracle/orcl-ref-licensing.md
  articles/oracle/orcl-ref-pricing.md
  articles/oracle/orcl-ref-rac.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-ref-templates.md
  articles/oracle/orcl-ref-vm-compatibility.md
  articles/oracle/orcl-sco.md
  articles/oracle/orcl-sd.md
  articles/oracle/orcl-vid-overview.md
  articles/other/other-faq-sla.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-sla-definition.md
  articles/other/other-sco-free-trials.md
  articles/vmware/vmw-ref-pricing.md
Labels: update content, Oracle

#1943 Update last reviewed date
  articles/other/other-ref-best-practice-guide.md
Labels: X-platform, update metadata

#1893 Review of Portal Getting Started Guide
  articles/portal/images/ptl-login.png
  articles/portal/ptl-gs.md
Labels: Portal, update content

#1891 Remove reference to Hadoop from Glossary
  articles/other/other-ref-glossary.md
Labels: update content

#1952 Review azs-how-deploy-asdk
  articles/azure/azs-how-deploy-asdk.md
Labels: Azure Stack Hub, article review - no changes

#1824 Update "Configure Azure Monitor for VMs on Azure Stack Hub" guide
  articles/azure/azs-how-setup-monitoring.md
  articles/azure/images/azs-browser-agent-configuration-perf-counters-linux.png
  articles/azure/images/azs-browser-agent-configuration-perf-counters-windows.png
  articles/azure/images/azs-browser-agent-configuration-syslog.png
  articles/azure/images/azs-browser-agent-configuration-windows-event-logs.png
  articles/azure/images/azs-browser-example-log-analytics-workspace.png
  articles/azure/images/azs-browser-example-monitor-map.png
  articles/azure/images/azs-browser-example-monitor-stats.png
  articles/azure/images/azs-browser-hybrid-switch.png
  articles/azure/images/azs-browser-log-analytics-enable-update-management.png
  articles/azure/images/azs-browser-log-analytics-query.png
  articles/azure/images/azs-browser-log-analytics-workspace-advanced-settings.png
  articles/azure/images/azs-browser-public-azure-hamburger-menu-monitor.png
  articles/azure/images/azs-browser-public-azure-monitor-virtual-machines.png
  articles/azure/images/azs-browser-search-log-analytics.png
  articles/azure/images/azs-event-viewer-log-type-properties.png
  articles/azure/images/azs-event-viewer-log-type.png
Labels: Azure Stack Hub, update content

#1863 Review azs-how-ps-update-azure-stack
  articles/azure/azs-how-ps-update-azure-stack.md
Labels: Azure Stack Hub

#1864 Review azs-how-use-api
  articles/azure/azs-how-use-api.md
Labels: Azure Stack Hub, article review

#1865 Review azs-how-configure-cli
  articles/azure/azs-how-configure-cli.md
Labels: Azure Stack Hub, article review

#1869 Review azs-how-create-load-balancer
  articles/azure/azs-how-create-load-balancer.md
  articles/azure/images/azs-browser-add-backend-pool-vms.png
  articles/azure/images/azs-browser-add-backend-pool.png
  articles/azure/images/azs-browser-add-health-probe.png
  articles/azure/images/azs-browser-add-in-security-rule.png
  articles/azure/images/azs-browser-add-lb-rule.png
  articles/azure/images/azs-browser-create-load-balancer.png
  articles/azure/images/azs-browser-create-virtual-network.png
  articles/azure/images/azs-browser-create-virtual-network2.png
  articles/azure/images/azs-browser-networking-create.png
  articles/azure/images/azs-browser-new-networking.png
  articles/azure/images/azsp_lb_createvm_availabilityset.png
  articles/azure/images/azsp_lb_createvm_basics.png
  articles/azure/images/azsp_lb_createvm_networking.png
  articles/azure/images/azsp_lb_createvm_size.png
Labels: Azure Stack Hub, article review

#1942 Update vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco-snapshot-protection.md
Labels: VMware, update content

#1955 azs-how-create-spn-powershell - Fix param name and change error format
  articles/azure/azs-how-create-spn-powershell.md
Labels: Azure Stack Hub, minor fix

#1950 Add service types for the OpenShift infrastructure products
  articles/other/other-ref-invoice-evidence-file.md
Labels: X-platform, update content

#1945 Review VLS articles
  articles/vmware/vmw-how-vls-add-products.md
  articles/vmware/vmw-how-vls-report-usage.md
  articles/vmware/vmw-how-vls-request-licence.md
Labels: VMware, article review - no changes, VLS

#1958 Update other-sco-free-trials.md
  articles/other/other-sco-free-trials.md
Labels: X-platform, update content

#1882 Op 4306
  articles/openstack/images/ostack-v2v-001-images.png
  articles/openstack/images/ostack-v2v-002-create-image.png
  articles/openstack/ostack-how-convert-vms.md
Labels: OpenStack, update content

#1887 Update vmw-ref-snapshot-summary-api.md
  articles/vmware/vmw-ref-snapshot-summary-api.md
Labels: VMware, article review - no changes

#1953 Update azs-sd.md
  articles/azure/azs-sd.md
Labels: Azure Stack Hub, update content

#1954 Update other-ref-sla-definition.md
  articles/other/other-ref-sla-definition.md
Labels: Azure Stack Hub, update content

#1896 adding how to share images between projects
  articles/openstack/ostack-how-share-images.md
Labels: OpenStack, new article

#1947 Review azs-how-resize-disk-portal
  articles/azure/azs-how-resize-disk-portal.md
  articles/azure/images/azs-browser-update-disk-progress.png
  articles/azure/images/azs-browser-vm-deallocated-state.png
  articles/azure/images/azs-browser-vm-disk-size-managed.png
  articles/azure/images/azs-browser-vm-disk-size.png
  articles/azure/images/azs-browser-vm-disks-list.png
  articles/azure/images/azs-browser-vm-menu-disks-button.png
  articles/azure/images/azs-browser-vm-stop-button.png
Labels: Azure Stack Hub, article review

#1944 Review azs-how-create-scale-set
  articles/azure/azs-how-create-scale-set.md
  articles/azure/images/azs-browser-button-create-scale-set.png
  articles/azure/images/azs-browser-button-instances.png
  articles/azure/images/azs-browser-button-save-instance-count.png
  articles/azure/images/azs-browser-button-scale-set-menu.png
  articles/azure/images/azs-browser-button-scaling.png
  articles/azure/images/azs-browser-create-scale-set.png
  articles/azure/images/azs-browser-instance-count-slidebar.png
  articles/azure/images/azs-browser-instance-count-updated.png
  articles/azure/images/azs-browser-instances-updating.png
  articles/azure/images/azs-browser-scale-set-overview.png
  articles/azure/images/azs-browser-select-all-services.png
  articles/azure/images/azs-browser-select-scale-set.png
  articles/azure/images/azs_browser_create_scale_set_deployment_progress.png
  articles/azure/images/azs_browser_create_scale_set_deployment_success.png
Labels: Azure Stack Hub, article review

#1964 Review Private Cloud docs
  articles/private-cloud/prc-faq-storage.md
  articles/private-cloud/prc-faq.md
  articles/private-cloud/prc-sco-storage.md
  articles/private-cloud/prc-sco.md
Labels: article review - no changes, Private Cloud

#1963 Review Desktop as a Service Service Definition
  articles/daas/daas-sd.md
Labels: article review - no changes, DaaS

#1962 Review Private Cloud Service Definition
  articles/private-cloud/prc-sd.md
Labels: article review - no changes, Private Cloud

#1961 Review pricing info articles
  articles/cdsz/cdsz-ref-pricing.md
  articles/cloud-storage/cs-ref-pricing.md
  articles/daas/daas-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
  articles/oracle/orcl-ref-pricing.md
  articles/other/other-ref-pricing-guide.md
  articles/sra/sra-ref-pricing.md
Labels: X-platform, article review - no changes

#1957 Monitoring OpenStack in MMaaS
  articles/managed-operations/images/man-mmaas-openstack-pfsense-dashboard.png
  articles/managed-operations/images/man-mmaas-openstack-pfsense-ipsec.png
  articles/managed-operations/images/man-mmaas-openstack-vpn-security-group1.png
  articles/managed-operations/images/man-mmaas-openstack-vpn-security-group2.png
  articles/managed-operations/images/man-mmaas-openstack-vpn-security-group3.png
  articles/managed-operations/man-how-configure-vpn-for-openstack.md
Labels: new article, Managed Operations

#1974 OpenStack VPN for MMaaS - fix metadata
  articles/managed-operations/man-how-configure-vpn-for-openstack.md
Labels: Managed Operations, update metadata

#1975 paas-updates
  articles/managed-operations/man-faq-patching.md
  articles/managed-operations/man-sco-patching.md
Labels: Managed Operations

#1979 Update OpenShift pricing examples
  articles/openshift/oshift-ref-pricing.md
Labels: OpenShift, update content

#1978 Update enbl-sco-smart-hands.md
  articles/enablement/enbl-sco-smart-hands.md
Labels: update content, Enablement

#1980 Update OpenShift min price in Service Definition
  articles/openshift/oshift-sd.md
Labels: OpenShift, update content

#1976 Review VMware getting started guide
  articles/vmware/images/vmw-portal-build-compute-service-status.png
  articles/vmware/images/vmw-portal-build-compute-service-success.png
  articles/vmware/images/vmw-portal-build-compute-service.png
  articles/vmware/images/vmw-portal-build-edge-gateway-status.png
  articles/vmware/images/vmw-portal-build-edge.png
  articles/vmware/images/vmw-portal-build-vdc-status.png
  articles/vmware/images/vmw-portal-build-vdc-success.png
  articles/vmware/images/vmw-portal-build-vdc.png
  articles/vmware/images/vmw-portal-vcd-login.png
  articles/vmware/images/vmw-vcd10.1-home-page.png
  articles/vmware/images/vmw-vcd10.1-logout-link.png
  articles/vmware/vmw-gs.md
Labels: VMware, update content

#1981 Annual review - VMware network creation articles
  articles/vmware/images/vmw-vcd10.1-new-network-dns-isolated.png
  articles/vmware/images/vmw-vcd10.1-new-network-dns.png
  articles/vmware/images/vmw-vcd10.1-new-network-ip-pool.png
  articles/vmware/images/vmw-vcd10.1-tab-networks.png
  articles/vmware/vmw-how-create-isolated-network.md
  articles/vmware/vmw-how-create-routed-network.md
Labels: VMware, update content

#1965 Review of advanced networking videos
  articles/vmware/vmw-ref-advanced-networking.md
  articles/vmware/vmw-vid-dfw.md
  articles/vmware/vmw-vid-l2-vpn.md
Labels: VMware, article review - no changes

#1966 Review IDAM API article
  articles/other/other-ref-idam.md
Labels: Portal, article review - no changes

#1969 Add info about D@RE for VMware
  articles/other/other-ref-services-by-region.md
  articles/vmware/vmw-faq.md
Labels: VMware, update content

#1897 adding how to transfer volumes between projects
  articles/openstack/ostack-how-transfer-volumes.md
Labels: OpenStack, new article
