Repository UKCloud/documentation, pull requests merged in 2021-08, with the labels that each got.

#1197 remove reference to 10GiB limit for micro VMs
  articles/vmware/vmw-sco.md
Labels: VMware, update content

#1853 Fix lastreviewed date - ZSSP
  articles/vmware/vmw-how-zerto-access-zssp.md
Labels: VMware, Zerto, update metadata

#1852 Fix lastreviewed date - Journaling Service Scope
  articles/vmware/vmw-sco-journaling-protection.md
Labels: VMware, Zerto, update metadata

#1851 Fix lastreviewed date - Getting Started Guide for DRaaS
  articles/draas/draas-gs.md
Labels: DRaaS, Zerto, update metadata

#1850 Fix last reviewed date - OpenStack CLI
  articles/openstack/ostack-ref-cli-clients.md
Labels: OpenStack, update metadata

#1849 Fix last reviewed date - OpenStack autoscale
  articles/openstack/ostack-ref-auto-scaling.md
Labels: OpenStack, update metadata

#1827 Remove managed-services folder
  docs/articles/managed-services/images/man-add-playbook.png
  docs/articles/managed-services/images/man-change-devices-add-mmaas.png
  docs/articles/managed-services/images/man-change-devices-link.png
  docs/articles/managed-services/images/man-change-devices-upload-submit.png
  docs/articles/managed-services/images/man-change-devices.png
  docs/articles/managed-services/images/man-delete-playbook.png
  docs/articles/managed-services/images/man-maintenance-multiple-devices.png
  docs/articles/managed-services/images/man-maintenance-single-device.png
  docs/articles/managed-services/images/man-monitoring-excel-refresh.png
  docs/articles/managed-services/images/man-patching-patching-window.png
  docs/articles/managed-services/images/man-patching-patchingcycle.png
  docs/articles/managed-services/images/man-sd-managed-it-ops.png
  docs/articles/managed-services/images/man-update-playbook.png
  docs/articles/managed-services/images/ukc-services-g12.png
  docs/articles/managed-services/images/ukc-services.png
  docs/articles/managed-services/man-ad-sco.html
  docs/articles/managed-services/man-adv-managed-svcs-faq.html
  docs/articles/managed-services/man-antivirus-faq.html
  docs/articles/managed-services/man-antivirus-sco.html
  docs/articles/managed-services/man-how-add-remove-device.html
  docs/articles/managed-services/man-how-notify-maintenance.html
  docs/articles/managed-services/man-how-update-contact-info.html
  docs/articles/managed-services/man-monitoring-faq.html
  docs/articles/managed-services/man-monitoring-how-change-config.html
  docs/articles/managed-services/man-monitoring-how-use-customer-polling.html
  docs/articles/managed-services/man-monitoring-sco.html
  docs/articles/managed-services/man-patching-faq.html
  docs/articles/managed-services/man-patching-how-define-window.html
  docs/articles/managed-services/man-patching-sco.html
  docs/articles/managed-services/man-ref-defaults.html
  docs/articles/managed-services/man-ref-sentinelone-datacollection.html
  docs/articles/managed-services/man-sd-ad.html
  docs/articles/managed-services/man-sd-compute.html
  docs/articles/managed-services/man-sd-managed-it-ops.html
  docs/articles/managed-services/man-sd-monitoring.html
  docs/articles/managed-services/man-sd-network.html
  docs/articles/managed-services/man-sd-rds.html
  docs/articles/managed-services/man-sd-sqlserver.html
  docs/articles/managed-services/man-sd-webserver.html
  docs/articles/managed-services/man-services-home.html
  docs/articles/managed-services/man-sqlserver-sco.html
  docs/articles/managed-services/man-sqlserver-sco.md.html
  docs/articles/managed-services/man-webserver-sco.html
  docs/articles/managed-services/toc.html
Labels: Managed Operations, remove old content

#1006 Create article: azs-how-create-vm-from-snapshot-ps
  articles/azure/azs-how-create-vm-from-snapshot-ps.md
Labels: Azure Stack Hub, new article

#1862 Update best practice guide
  articles/other/other-ref-best-practice-guide.md
Labels: X-platform, Support, update content

#1878 Review azs-ref-known-issues
  articles/azure/azs-ref-known-issues.md
Labels: Azure Stack Hub, article review - no changes

#1872 Review azs-how-create-spn-cli
  articles/azure/azs-how-create-spn-cli.md
Labels: Azure Stack Hub, article review - no changes

#1877 Review azs-how-manage-azure-group
  articles/azure/azs-how-manage-azure-group.md
  articles/azure/images/azs-browser-all-services-subscriptions.png
  articles/azure/images/azs-browser-subscriptions.png
  articles/azure/images/azs-portal-add-group-members.png
  articles/azure/images/azs-portal-add-group.png
  articles/azure/images/azs-portal-groups.png
  articles/azure/images/azs-portal-new-group.png
  articles/azure/images/azs-portal_add-permissions.png
Labels: Azure Stack Hub, article review

#1876 Review azs-how-link-storage-explorer
  articles/azure/azs-how-link-storage-explorer.md
  articles/azure/images/azs-browser-storage-tool-download.png
  articles/azure/images/azs-installation-storage-tool-4.png
  articles/azure/images/azs-installation-storage-tool-accounts.png
  articles/azure/images/azs-installation-storage-tool-add-account.png
  articles/azure/images/azs-installation-storage-tool-apply.png
  articles/azure/images/azs-installation-storage-tool-select-environment.png
  articles/azure/images/azs-installation-storage-tool-select-resource.png
  articles/azure/images/azs-installation-storage-tool-signin.png
  articles/azure/images/azs-installation-storage-tool-target-apis.png
Labels: Azure Stack Hub, article review

#1875 Review azs-how-identify-global-admins
  articles/azure/azs-how-identify-global-admins.md
  articles/azure/images/azs-ad.png
  articles/azure/images/azs-browser-select-aad.png
  articles/azure/images/azs-global-admin-assignments.png
  articles/azure/images/azs-global-admin-group.png
  articles/azure/images/azs-roles-admins.png
Labels: Azure Stack Hub, article review

#1873 Review azs-how-create-vm-cli
  articles/azure/azs-how-create-vm-cli.md
Labels: Azure Stack Hub, article review

#1871 Review azs-how-create-service-fabric-portal
  articles/azure/azs-how-create-service-fabric-portal.md
  articles/azure/images/azs-browser-add-certificate.png
  articles/azure/images/azs-browser-create-key-vault-accesspolicy-add.png
  articles/azure/images/azs-browser-create-key-vault-accesspolicy.png
  articles/azure/images/azs-browser-create-key-vault-basics.png
  articles/azure/images/azs-browser-create-key-vault-review.png
  articles/azure/images/azs-browser-create-sf-basics.png
  articles/azure/images/azs-browser-create-sf-networking.png
  articles/azure/images/azs-browser-create-sf-node.png
  articles/azure/images/azs-browser-create-sf-security.png
  articles/azure/images/azs-browser-new-key-vault.png
  articles/azure/images/azs-browser-new-security.png
  articles/azure/images/azs-browser-new-servicefabriccluster.png
  articles/azure/images/azs_advancedaccesspolicies.png
  articles/azure/images/azsp_computeblade.png
  articles/azure/images/azsp_createvm_progress.png
  articles/azure/images/azsp_newblade.png
  articles/azure/images/azsp_newmenu.png
Labels: Azure Stack Hub, article review

#1881 SRA FAQ annual review
  articles/sra/sra-faq.md
Labels: SRA/CDSZ, article review - no changes

#1879 Update sra-sco.md
  articles/sra/sra-sco.md
Labels: SRA/CDSZ, update content

#1819 No longer needed. COR5 being sunset
  articles/openstack/images/ostack-availability-zone-list.png
  articles/openstack/images/ostack-cli-flavor-list.png
  articles/openstack/images/ostack-floating-ip-create.png
  articles/openstack/images/ostack-image-list.png
  articles/openstack/images/ostack-openstack-net-create.png
  articles/openstack/images/ostack-openstack-subnet-create.png
  articles/openstack/images/ostack-port-create.png
  articles/openstack/images/ostack-port-list.png
  articles/openstack/images/ostack-router-list.png
  articles/openstack/images/ostack-server-create-1.png
  articles/openstack/images/ostack-server-create-2.png
  articles/openstack/ostack-how-create-load-balancer.md
  docs/articles/openstack/images/ostack-availability-zone-list.png
  docs/articles/openstack/images/ostack-flavor-list.png
  docs/articles/openstack/images/ostack-floating-ip-create.png
  docs/articles/openstack/images/ostack-image-list.png
  docs/articles/openstack/images/ostack-openstack-net-create.png
  docs/articles/openstack/images/ostack-openstack-subnet-create.png
  docs/articles/openstack/images/ostack-port-create.png
  docs/articles/openstack/images/ostack-port-list.png
  docs/articles/openstack/images/ostack-router-list.png
  docs/articles/openstack/images/ostack-server-create-1.png
  docs/articles/openstack/images/ostack-server-create-2.png
  docs/articles/openstack/ostack-how-create-load-balancer.html
Labels: OpenStack, remove old content

#1880 Op 4271
  articles/openstack/ostack-how-use-barbican.md
Labels: OpenStack, update content

#1005 Create article: azs-how-create-vmfromsnapshot-portal
  articles/azure/azs-how-create-vm-from-snapshot-portal.md
  articles/azure/images/azs-browser-allservices-disks.png
  articles/azure/images/azs-browser-create-disk-from-snapshot-progress.png
  articles/azure/images/azs-browser-create-disk-from-snapshot.png
  articles/azure/images/azs-browser-create-snapshot-progress.png
  articles/azure/images/azs-browser-create-snapshot.png
  articles/azure/images/azs-browser-disk-unattached.png
  articles/azure/images/azs-browser-disk-vm-basics.png
  articles/azure/images/azs-browser-disk-vm-management.png
  articles/azure/images/azs-browser-disk-vm-networking.png
  articles/azure/images/azs-browser-disk-vm-notification.png
  articles/azure/images/azs-browser-disk-vm-review.png
  articles/azure/images/azs-browser-disk-vm-settings.png
  articles/azure/images/azs-browser-disk-vm-size.png
  articles/azure/images/azs-browser-disk-vm-summary.png
  articles/azure/images/azs-browser-disks-list-add.png
  articles/azure/images/azs-browser-disks-list-new.png
  articles/azure/images/azs-browser-disks-list.png
  articles/azure/images/azs-create-snapshot-disk.png
Labels: Azure Stack Hub, new article

#1890 Remove dead links
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-gs.md
  articles/openstack/ostack-home.md
  articles/other/other-ref-high-availability.md
Labels: fix build issue

#1889 Update man-faq-patching.md
  articles/managed-operations/man-faq-patching.md
Labels: Managed Operations

#1884 Update shared-ref-access-to-vms.md
  articles/shared/shared-ref-access-to-vms.md
Labels: article review - no changes, Shared Services
