Repository UKCloud/documentation, pull requests merged in 2021-04, with the labels that each got.

#1599 Update conn-ref-internet-permitted-ports.md
  articles/connectivity/conn-ref-internet-permitted-ports.md
  articles/connectivity/images/conn-internet-allow-list-ports-v1_4.png
  articles/connectivity/images/internet_whitelist_ports_v1_3.png
Labels: Connectivity, update content

#1053 Oshift v4 update strategy
  articles/openshift/images/oshift-v4-update.png
  articles/openshift/oshift-how-v4-update.md
Labels: OpenShift, new article

#1180 Review azs how create s2s vpn azurestack to azure
  articles/azure/azs-how-create-S2S-VPN-azurestack-to-azure.md
  articles/azure/images/azs-browser-create-gateway-subnet.png
  articles/azure/images/azs-browser-create-virtual-network.png
  articles/azure/images/azs-browser-create-virtual-network2.png
  articles/azure/images/azs-browser-create-vnetwork-gateway.png
  articles/azure/images/azs-browser-local-network-gateway-ip-address.png
  articles/azure/images/azs-public-browser-new-virtual-network-blade.png
  articles/azure/images/azs-public-browser-new-virtual-network-blade2.png
  articles/azure/images/azs-public-browser-new-virtual-network-blade3.png
  articles/azure/images/azs-public-vpn-connection-configuration.png
Labels: Azure Stack Hub, update content

#655 Azure Stack Hub backup and restore documentation
  articles/azure/azs-how-configure-mars-backups-restore-powershell.md
  articles/azure/images/azs-msft-azure-backup-icon.png
  articles/azure/images/azs-msft-azure-backup-recover-confirm-recovery-volume-unmount.png
  articles/azure/images/azs-msft-azure-backup-recover-data-wizard-browse.png
  articles/azure/images/azs-msft-azure-backup-recover-data-wizard-getting-started.png
  articles/azure/images/azs-msft-azure-backup-recover-data-wizard-select-recovery-mode.png
  articles/azure/images/azs-msft-azure-backup-recover-data-wizard-select-volume-date.png
  articles/azure/images/azs-msft-azure-backup-recover-data-wizard-unmount.png
  articles/azure/images/azs-msft-azure-backup-recover-data.png
  articles/azure/images/azs-msft-azure-backup-recover-mounted-backup-volume-drag-drop.png
  articles/azure/images/azs-msft-azure-backup-recover-mounted-backup-volume-files.png
  articles/azure/images/azs-msft-azure-backup-recover-mounted-backup-volume.png
Labels: Azure Stack Hub, new article

#1000 Reviewed azs-how-deploy-asdk
  articles/azure/azs-how-deploy-asdk.md
Labels: Azure Stack Hub, update content

#1710 Update azs-home page
  articles/azure/azs-home.md
Labels: Azure Stack Hub, article review

#1711 N3 FAQ annual review
  articles/connectivity/conn-faq-n3.md
Labels: Connectivity, article review - no changes

#1709 Region to region transfer annual review
  articles/enablement/enbl-sco-transfer-regions.md
Labels: Enablement, article review - no changes

#1713 fix internal link
  articles/azure/azs-how-create-S2S-VPN-azurestack-to-azure.md
Labels: Azure Stack Hub, fix build issue

#1714 Big data proposition annual review
  articles/other/other-ref-hadoop-proposition.md
Labels: X-platform, article review - no changes

#1712 Annual review of Portal docs
  articles/portal/images/ptl-2fa-enable.png
  articles/portal/images/ptl-2fa.png
  articles/portal/images/ptl-login-history-search.png
  articles/portal/images/ptl-login-history-show-entries.png
  articles/portal/images/ptl-login-history.png
  articles/portal/images/ptl-mnu-customer-account-current.png
  articles/portal/images/ptl-mnu-export-login-history.png
  articles/portal/images/ptl-mnu-login-history.png
  articles/portal/images/ptl-mnu-settings.png
  articles/portal/images/ptl-security-settings-enabled.png
  articles/portal/images/ptl-security-settings.png
  articles/portal/images/ptl-update-password.png
  articles/portal/images/ptl-update-user-password.png
  articles/portal/ptl-how-create-users.md
  articles/portal/ptl-how-enable-2fa.md
  articles/portal/ptl-how-reset-2fa.md
  articles/portal/ptl-how-reset-password.md
  articles/portal/ptl-how-setup-2fa.md
  articles/portal/ptl-how-setup-password-expiration.md
  articles/portal/ptl-how-switch-account.md
  articles/portal/ptl-how-view-login-info.md
  articles/portal/ptl-ref-security-settings.md
Labels: Portal, update content

#1663 Remove syslog article
  articles/other/other-ref-best-practice-guide.md
  articles/vmware/vmw-how-access-syslog-data-adv.md
  articles/vmware/vmw-how-access-syslog-data.md
  articles/vmware/vmw-how-configure-load-balancer.md
  articles/vmware/vmw-how-create-firewall-rules.md
  articles/vmware/vmw-how-create-nat-rules.md
  docs/articles/vmware/vmw-how-access-syslog-data.html
Labels: VMware, remove old content

#1693 Update OpenShift pricing info
  articles/openshift/oshift-ref-pricing.md
  articles/openshift/oshift-sd.md
Labels: OpenShift, update content

#1716 Fix broken links in Portal docs
  articles/portal/ptl-how-create-users.md
  articles/portal/ptl-how-enable-2fa.md
  articles/portal/ptl-how-reset-2fa.md
  articles/portal/ptl-how-reset-password.md
  articles/portal/ptl-how-setup-2fa.md
  articles/portal/ptl-how-setup-password-expiration.md
  articles/portal/ptl-how-switch-account.md
  articles/portal/ptl-how-view-login-info.md
  articles/portal/ptl-ref-security-settings.md
Labels: fix build issue

#1708 Portal API fix JSON syntax
  articles/portal/ptl-ref-portal-api.md
Labels: Portal, update content

#1717 Remove references to RHUI v2 and also add in additional RHEL8 repos a…
  articles/shared/shared-how-access-redhat-update-servers-3.md
  articles/shared/shared-how-install-rhui-vm-3.md
  articles/shared/shared-ref-rhui-3.md
Labels: Shared Services, update content, update metadata

#1718 Remove RHUI 2 articles
  articles/shared/shared-how-access-redhat-update-servers.md
  articles/shared/shared-how-install-rhui-vm.md
  articles/shared/shared-ref-overview.md
  articles/shared/shared-ref-rhui.md
  docs/articles/shared/shared-how-access-redhat-update-servers.html
  docs/articles/shared/shared-how-install-rhui-vm.html
  docs/articles/shared/shared-ref-rhui.html
Labels: Shared Services, remove old content

#1720 Remove refs to UKCloud Community
  articles/enablement/enbl-sco-transfer-regions.md
  articles/openstack/ostack-sco-triliovault.md
  articles/other/other-ref-discount-schemes.md
  articles/other/other-ref-maintenance-windows.md
  articles/portal/ptl-gs.md
  articles/vmware/vmw-how-upgrade-edge.md
Labels: minor fix, update content

#1662 Oshift review lifecycle patch
  articles/openshift/images/oshift-supported-versions.png
  articles/openshift/oshift-ref-lifecycle.md
Labels: OpenShift, update content

#1722 Update min pricing wording
  articles/azure/azs-ref-pricing.md
  articles/azure/azs-sd.md
  articles/cdsz/cdsz-ref-pricing.md
  articles/cdsz/cdsz-sd.md
  articles/cloud-storage/cs-ref-pricing.md
  articles/cloud-storage/cs-sd.md
  articles/connectivity/conn-sd-ddosprotect.md
  articles/connectivity/conn-sd-ultradns.md
  articles/daas/daas-sd.md
  articles/dedicated-compute/dc-sd.md
  articles/draas/draas-sd.md
  articles/hpc/hpc-sd.md
  articles/managed-services/man-sd-ad.md
  articles/managed-services/man-sd-managed-it-ops.md
  articles/managed-services/man-sd-network.md
  articles/managed-services/man-sd-rds.md
  articles/managed-services/man-sd-sqlserver.md
  articles/managed-services/man-sd-webserver.md
  articles/migration/migr-sd.md
  articles/openshift/oshift-ref-pricing.md
  articles/openshift/oshift-sd.md
  articles/openstack/ostack-ref-pricing.md
  articles/openstack/ostack-sd.md
  articles/oracle/orcl-ref-pricing.md
  articles/oracle/orcl-sd.md
  articles/private-cloud/prc-sd-orcl.md
  articles/private-cloud/prc-sd-storage.md
  articles/private-cloud/prc-sd.md
  articles/pro-services/ps-sd.md
  articles/soc/soc-sd.md
  articles/sra/sra-ref-pricing.md
  articles/sra/sra-sd.md
  articles/vmware/vmw-ref-pricing.md
  articles/vmware/vmw-sd.md
Labels: X-platform, update content

#1724 Rename OpenShift
  articles/cdsz/cdsz-faq.md
  articles/openshift/oshift-faq.md
  articles/openshift/oshift-gs.md
  articles/openshift/oshift-home.md
  articles/openshift/oshift-how-backup-directories-database.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-monitor-cluster.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
  articles/openshift/oshift-how-view-proxy-logs.md
  articles/openshift/oshift-how-view-router-logs.md
  articles/openshift/oshift-ref-lifecycle.md
  articles/openshift/oshift-ref-scaling.md
  articles/openshift/oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-trial.md
  articles/openshift/oshift-sco.md
  articles/other/other-faq-g12.md
  articles/other/other-faq-sla.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-discount-schemes.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-high-availability.md
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-products-overview.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-services-by-region.md
  articles/other/other-ref-sla-definition.md
  articles/portal/ptl-gs.md
  articles/sra/sra-faq.md
Labels: OpenShift, update content

#1726 Fix glossary internal link
  articles/other/other-ref-glossary.md
Labels: fix build issue

#1725 Move workload migration article
  articles/enablement/enbl-how-zerto-migrate-between-regions.md
  articles/enablement/enbl-sco-transfer-regions.md
  articles/enablement/images/vmw-zerto-migrate-journal-overview.png
  articles/enablement/images/vmw-zerto-migrate-overview.png
  articles/enablement/images/vmw-zerto-mnu-move-vpg.png
  articles/enablement/images/vmw-zerto-move-params.png
  articles/enablement/images/vmw-zerto-move-vpgs.png
  articles/vmware/vmw-faq-journaling-protection.md
  docs/articles/vmware/images/vmw-zerto-migrate-journal-overview.png
  docs/articles/vmware/images/vmw-zerto-migrate-overview.png
  docs/articles/vmware/images/vmw-zerto-mnu-move-vpg.png
  docs/articles/vmware/images/vmw-zerto-move-params.png
  docs/articles/vmware/images/vmw-zerto-move-vpgs.png
  docs/articles/vmware/vmw-how-zerto-migrate-between-regions.html
Labels: Enablement, update content

#1729 Slight rewording plus added the actual RHUI CDS URL
  articles/shared/shared-how-install-rhui-vm-3.md
Labels: Shared Services, update content

#1723 Updated and reviewed document: azs-how-create-key-vault-portal
  articles/azure/azs-how-create-key-vault-portal.md
Labels: Azure Stack Hub, article review - no changes

#1731 Remove unnecessary link
  articles/vmware/vmw-how-use-vm-location.md
Labels: Doc Hunt, VMware, minor fix

#1730 Advanced network options annual review
  articles/vmware/vmw-ref-advanced-networking.md
Labels: VMware, article review - no changes

#1733 update to patching faq
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1687 New VMware Extended Support service
  articles/vmware/vmw-sco-extended-vmw-support.md
  articles/vmware/vmw-sco-vls.md
  articles/vmware/vmw-sd-extended-vmw-support.md
Labels: VMware, new article, wip
