Repository UKCloud/documentation, pull requests merged in 2021-05, with the labels that each got.

#1742 Add product status article
  articles/other/other-ref-product-status.md
Labels: X-platform, new article

#1721 Add descriptions of vApp permissions
  articles/vmware/vmw-how-manage-vapp-permissions.md
Labels: VMware, update content, user suggestion

#1743 Add link to escalation process
  articles/other/other-ref-complaints.md
Labels: Support, update content

#1664 Update esrt
  articles/other/images/other-esrt-sr-contact.png
  articles/other/images/other-esrt-sr-org.png
  articles/other/images/other-esrt-sr-scope.png
  articles/other/images/other-esrt-sr-template.png
  articles/other/other-ref-external-security-review-testing.md
Labels: Support, X-platform, update content

#1746 Added troubleshooting steps regarding i386 architecture
  articles/shared/shared-how-access-ubuntu-update-servers.md
Labels: Shared Services, update content

#1665 Cloud Storage doc review
  articles/cloud-storage/cs-gs.md
  articles/cloud-storage/cs-how-create-user.md
  articles/cloud-storage/cs-how-install-geodrive2-client.md
  articles/cloud-storage/cs-how-reset-secret-key.md
  articles/cloud-storage/cs-how-use-ecs-python-boto.md
  articles/cloud-storage/cs-how-use-file-browsers.md
  articles/cloud-storage/cs-how-view-info-portal.md
  articles/cloud-storage/cs-sco.md
  articles/cloud-storage/cs-vid-geodrive2-client-overview.md
  articles/cloud-storage/images/cs-ecs-install-step-five.png
  articles/cloud-storage/images/cs-ecs-install-step-four.png
  articles/cloud-storage/images/cs-ecs-install-step-one.png
  articles/cloud-storage/images/cs-ecs-install-step-six.png
  articles/cloud-storage/images/cs-ecs-install-step-three.png
  articles/cloud-storage/images/cs-ecs-install-step-two.png
  articles/cloud-storage/images/cs-portal-btn-edit-contact.png
  articles/cloud-storage/images/cs-portal-btn-users.png
  articles/cloud-storage/images/cs-portal-reset-secret.png
  articles/cloud-storage/images/cs-portal-tab-permissions.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-five.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-four.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-one.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-six.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-three.png
  docs/articles/cloud-storage/images/cs-ecs-install-step-two.png
Labels: Cloud Storage, update content

#1749 Add link to managed services
  articles/other/other-ref-ukcloud-monitoring.md
Labels: X-platform, update content
