Repository UKCloud/documentation, pull requests merged in 2021-11, with the labels that each got.

#2046 Update wording of article
  articles/vmware/vmw-ref-connectivity-options.md
Labels: VMware, update content, update metadata

#2043 Update VCD API docs to use YARC
  articles/enablement/enbl-how-migrate-edge-config.md
  articles/enablement/images/vmw-restclient-get-edge-link.png
  articles/enablement/images/vmw-restclient-get-vdc-link.png
  articles/enablement/images/vmw-restclient-get-vorg-url.png
  articles/enablement/images/vmw-restclient-get-vorg.png
  articles/enablement/images/vmw-restclient-method-get.png
  articles/enablement/images/vmw-restclient-post-edge-config.png
  articles/enablement/images/vmw-restclient-request-headers-content-type.png
  articles/vmware/images/vmw-restclient-get-edge-link.png
  articles/vmware/images/vmw-restclient-get-vdc-link.png
  articles/vmware/images/vmw-restclient-get-vorg-url.png
  articles/vmware/images/vmw-restclient-get-vorg.png
  articles/vmware/images/vmw-restclient-method-get.png
  articles/vmware/images/vmw-restclient-post-edge-config-vpn.png
  articles/vmware/images/vmw-restclient-request-headers-content-type.png
  articles/vmware/vmw-how-access-vcloud-api.md
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
  articles/vmware/vmw-how-interact-vcd-api-powershell.md
Labels: VMware, update content, Enablement

#2070 Fix broken link
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
Labels: VMware, fix build issue

#2235 Add review date
  articles/openshift/oshift-how-use-netpol-v4.md
Labels: OpenShift, update metadata

#2236 Fix last review date
  articles/openshift/oshift-faq.md
Labels: OpenShift, update metadata

#2237 OpenShift SCO update
  articles/openshift/oshift-sco.md
Labels: OpenShift, update content

#2069 Annual review of VMware service scope
  articles/vmware/vmw-sco.md
Labels: VMware, article review - no changes

#2047 Sharing catalogues FAQ - annual review
  articles/vmware/vmw-faq-sharing-catalogs.md
Labels: VMware, article review - no changes

#2239 Update ordered of Alert block and also detail the use of the same dom…
  articles/shared/shared-how-connect-windows-update.md
Labels: update content, Shared Services

#2238 Improve discoverability of Cloud Credits
  articles/other/other-ref-discount-schemes.md
Labels: X-platform, update content

#2041 Update to explain TCP/443 will still be available immediately after m…
  articles/shared/shared-how-connect-windows-update.md
Labels: update content, Shared Services

#2037 Update link for inventory tool
  articles/shared/assets/EY-Inventory-Tool.zip
  articles/shared/shared-how-license-microsoft.md
Labels: update content, Shared Services

#2240 Update expired links
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/other/other-faq-miso-rebate.md
  articles/sra/sra-faq.md
Labels: X-platform, minor fix

#2243 Update orcl-faq.md
  articles/oracle/orcl-faq.md
Labels: update content, Oracle

#2244 Update orcl-sco.md
  articles/oracle/orcl-sco.md
Labels: update content, Oracle

#2245 Use OVF Tool - Links needed fixing
  articles/vmware/vmw-how-use-ovf-tool.md
Labels: VMware, article review

#2249 Oracle FAQ - fix link
  articles/oracle/orcl-faq.md
Labels: Oracle, fix build issue

#2256 Update orcl-ref-bug-self-service.md
  articles/oracle/orcl-ref-bug-self-service.md
Labels: update content, Oracle

#2248 Update orcl-gs.md
  articles/oracle/orcl-gs.md
Labels: update content, Oracle

#2261 Update orcl-vid-overview.md
  articles/oracle/orcl-vid-overview.md
Labels: Oracle, article review - no changes

#2260 Update orcl-ref-vm-compatibility.md
  articles/oracle/orcl-ref-vm-compatibility.md
Labels: Oracle, article review - no changes

#2259 Update orcl-ref-templates.md
  articles/oracle/orcl-ref-templates.md
Labels: Oracle, article review - no changes

#2258 Update orcl-ref-rac.md
  articles/oracle/orcl-ref-rac.md
Labels: Oracle, article review - no changes

#2257 Update orcl-ref-licensing.md
  articles/oracle/orcl-ref-licensing.md
Labels: Oracle, article review - no changes

#2255 Update orcl-ref-solaris-aix.md
  articles/oracle/orcl-ref-solaris-aix.md
Labels: Oracle, article review - no changes

#2254 Update orcl-ref-db-backup.md
  articles/oracle/orcl-ref-db-backup.md
Labels: Oracle, article review - no changes

#2253 Update orcl-how-enable-ha.md
  articles/oracle/orcl-how-enable-ha.md
Labels: Oracle, article review - no changes

#2252 Update orcl-how-build-vm.md
  articles/oracle/orcl-how-build-vm.md
Labels: update content, Oracle

#2263 Extend advanced networking to advanced management
  articles/vmware/vmw-how-vrops-enable.md
  articles/vmware/vmw-ref-advanced-mgmt.md
  articles/vmware/vmw-ref-advanced-networking.md
  articles/vmware/vmw-ref-service-options.md
Labels: VMware, update content

#2246 Historic metrics update
  articles/vmware/vmw-how-retrieve-utilisation-metrics.md
Labels: VMware, update content

#2247 Oversized VMs - Annual review
  articles/vmware/vmw-ref-oversized-vms.md
Labels: VMware, article review - no changes

#2250 Annual Review of vROPs troubleshooting
  articles/vmware/vmw-ref-vrops-trouble.md
Labels: VMware, article review - no changes

#2251 Add End of Life message for VMware vCloud Connector
  articles/vmware/images/update_node.png
  articles/vmware/vmw-ref-vcloud-connector.md
Labels: VMware, update content

#2262 Update EOL dates
  articles/other/other-ref-product-status.md
Labels: X-platform, update content

#2267 Fix broken link
  articles/enablement/enbl-ref-services.md
Labels: minor fix, Enablement

#2313 Various changes to account for new IPs / Hostnames and removal of inf…
  articles/shared/shared-how-connect-windows-update.md
  articles/shared/shared-how-setup-kms.md
  articles/shared/shared-ref-network-time-server.md
Labels: update content, Shared Services
