Repository UKCloud/documentation, pull requests merged in 2021-06, with the labels that each got.

#1728 Update oshift-how-manage-user-access.md
  articles/openshift/oshift-how-manage-user-access.md
Labels: OpenShift, article review - no changes

#1765 Update to allowed ports
  articles/managed-services/man-monitoring-faq.md
  articles/managed-services/man-patching-faq.md
Labels: Managed Services

#1039 New article regarding disabling weak cipher suites and enabling HSTS in OpenShift clusters
  articles/openshift/oshift-how-disable-weak-cipher-suites-enable-hsts.md
Labels: OpenShift, new article

#1767 Create new storage overview article
  articles/other/images/other-storage-options.png
  articles/other/other-ref-storage-overview.md
  articles/vmware/images/tier_1_comparison.png
  articles/vmware/images/tier_1_data_dist.png
  articles/vmware/images/tier_1_high_writes.png
  articles/vmware/images/tier_1_small_writes.png
  articles/vmware/vmw-ref-tier1-storage.md
  docs/articles/vmware/images/tier_1_comparison.png
  docs/articles/vmware/images/tier_1_data_dist.png
  docs/articles/vmware/images/tier_1_high_writes.png
  docs/articles/vmware/images/tier_1_small_writes.png
  docs/articles/vmware/vmw-ref-tier1-storage.html
Labels: Cloud Storage, X-platform, new article, remove old content

#1766 Create Cloud Director known issues article
  articles/vmware/images/vmw-vcd-issue-search1.png
  articles/vmware/images/vmw-vcd-issue-search2.png
  articles/vmware/images/vmw-vcd-issue-search3.png
  articles/vmware/images/vmw-vcd-issue-search4.png
  articles/vmware/images/vmw-vcd-issue-search5.png
  articles/vmware/vmw-ref-vcd-10-1.md
  articles/vmware/vmw-ref-vcd-known-issues.md
Labels: VMware, new article

#1768 Fix metadata
  articles/other/other-ref-storage-overview.md
Labels: fix build issue

#1769 Update EOL date for Oracle
  articles/other/other-ref-product-status.md
Labels: Oracle, update content

#1745 Remove HPC articles
  articles/hpc/hpc-sd.md
  articles/hpc/images/hpc-product-options-g12.png
  articles/hpc/images/ukc-services-g12.png
  articles/hpc/toc.yml
  articles/other/other-ref-sla-definition.md
  docs/articles/hpc/hpc-sd.html
  docs/articles/hpc/images/hpc-product-options-g12.png
  docs/articles/hpc/images/ukc-services-g12.png
  docs/articles/hpc/images/ukc-services.png
  docs/articles/hpc/toc.html
  docs/articles/images/azsp_closeservices.png
  docs/articles/images/azsp_computeblade.png
  docs/articles/images/azsp_createvm_basics.png
  docs/articles/images/azsp_createvm_deployment.png
  docs/articles/images/azsp_createvm_deployment_success.png
  docs/articles/images/azsp_createvm_progress.png
  docs/articles/images/azsp_createvm_settings.png
  docs/articles/images/azsp_createvm_size.png
  docs/articles/images/azsp_createvm_summary.png
  docs/articles/images/azsp_dashboard_addtile.png
  docs/articles/images/azsp_dashboard_done.png
  docs/articles/images/azsp_dashboard_name.png
  docs/articles/images/azsp_dashboard_tilelayout.png
  docs/articles/images/azsp_dashboard_tileunpin.png
  docs/articles/images/azsp_deploymentblade.png
  docs/articles/images/azsp_editdashboard_btn.png
  docs/articles/images/azsp_favouriteservice.png
  docs/articles/images/azsp_favouriteserviceselected.png
  docs/articles/images/azsp_home.png
  docs/articles/images/azsp_moreservices.png
  docs/articles/images/azsp_newblade.png
  docs/articles/images/azsp_newdashboard_btn.png
  docs/articles/images/azsp_newfavouriteservice.png
  docs/articles/images/azsp_newmenu.png
  docs/articles/images/azsp_reorderservices.png
  docs/articles/images/azsp_selectdashboard.png
  docs/articles/images/azsp_vmdetails.png
  docs/articles/images/azsp_vmslist.png
  docs/articles/images/azsp_vmsmenu.png
  docs/articles/images/seed.jpg
  docs/articles/images/toc.html
  docs/articles/images/toc.yml
  toc.yml
Labels: Private Cloud, remove old content

#1744 Remove GPU articles
  articles/gpu/gpu-faq.md
  articles/gpu/gpu-sco.md
  articles/gpu/toc.yml
  articles/other/other-faq-billing.md
  articles/other/other-faq-sla.md
  articles/other/other-faq-ukcloud.md
  articles/other/other-ref-invoice-evidence-file.md
  articles/other/other-ref-offboarding.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-sla-definition.md
  articles/vmware/images/myvms.png
  articles/vmware/images/vmw-nvidia-licence-acquired.png
  articles/vmware/images/vmw-nvidia-manage-license.png
  articles/vmware/images/vmw-nvidia-win-install-driver.png
  articles/vmware/images/vmw-vcd-firewall-gpu-licence.png
  articles/vmware/images/vmw-vcd-insert-cd.png
  articles/vmware/images/vmw-vcd-vapp-from-template-name.png
  articles/vmware/images/vmw-vcd-vapp-from-template-resources.png
  articles/vmware/vmw-how-setup-gpu-compute.md
  articles/vmware/vmw-how-setup-gpu-visualisation.md
  docs/articles/gpu/gpu-faq.html
  docs/articles/gpu/gpu-gs-compute.html
  docs/articles/gpu/gpu-gs-visualisation.html
  docs/articles/gpu/gpu-sco.html
  docs/articles/gpu/toc.html
  docs/articles/vmware/images/myvms.png
  docs/articles/vmware/images/vmw-nvidia-licence-acquired.png
  docs/articles/vmware/images/vmw-nvidia-manage-license.png
  docs/articles/vmware/images/vmw-nvidia-win-install-driver.png
  docs/articles/vmware/images/vmw-vcd-firewall-gpu-licence.png
  docs/articles/vmware/images/vmw-vcd-insert-cd.png
  docs/articles/vmware/images/vmw-vcd-vapp-from-template-name.png
  docs/articles/vmware/images/vmw-vcd-vapp-from-template-resources.png
  docs/articles/vmware/vmw-how-setup-gpu-compute.html
  docs/articles/vmware/vmw-how-setup-gpu-visualisation.html
  toc.yml
Labels: GPU, remove old content

#1771 Remove Hadoop article
  articles/other/other-ref-hadoop-proposition.md
  docs/articles/other/other-ref-hadoop-proposition.html
Labels: remove old content

#1773 Update man-webserver-sco.md
  articles/managed-services/man-webserver-sco.md
Labels: Managed Services
