Repository UKCloud/documentation, pull requests merged in 2022-06, with the labels that each got.

#2616 Add Neustar support info
  articles/connectivity/conn-faq-app-ddos.md
  articles/connectivity/conn-faq-glb.md
Labels: Connectivity, update content, Security

#2615 Remove articles related to pricing estimation tool
  articles/azure/azs-home.md
  articles/azure/azs-ref-pricing.md
  articles/cdsz/cdsz-ref-pricing.md
  articles/cloud-storage/cs-ref-pricing.md
  articles/daas/daas-ref-pricing.md
  articles/openshift/oshift-home.md
  articles/openshift/oshift-ref-pricing.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-home.md
  articles/openstack/ostack-ref-pricing.md
  articles/other/images/pricing-bug-mac-1.png
  articles/other/images/pricing-bug-mac-2.png
  articles/other/images/pricing-bug-mac-3.png
  articles/other/images/pricing-bug-win-1.png
  articles/other/images/pricing-estimator-1.png
  articles/other/images/pricing-estimator-10.png
  articles/other/images/pricing-estimator-2.png
  articles/other/images/pricing-estimator-3.png
  articles/other/images/pricing-estimator-5.png
  articles/other/images/pricing-estimator-6.png
  articles/other/images/pricing-estimator-7.png
  articles/other/images/pricing-estimator-8.png
  articles/other/images/pricing-estimator-9.png
  articles/other/images/pricing-estimator-download-1.png
  articles/other/images/pricing-estimator-mac-install-1.png
  articles/other/images/pricing-estimator-mac-install-2.png
  articles/other/images/pricing-estimator-mac-install-3.png
  articles/other/images/pricing-estimator-mac-install-4.png
  articles/other/other-how-use-pricing-tool.md
  articles/other/other-ref-pricing-guide.md
  articles/other/other-ref-pricing-tool-bugs.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-vid-pricing-tool-overview.md
  articles/sra/sra-ref-pricing.md
  articles/vmware/vmw-home.md
  articles/vmware/vmw-ref-pricing.md
  docs/articles/other/images/pricing-bug-mac-1.png
  docs/articles/other/images/pricing-bug-mac-2.png
  docs/articles/other/images/pricing-bug-mac-3.png
  docs/articles/other/images/pricing-bug-win-1.png
  docs/articles/other/images/pricing-estimator-1.png
  docs/articles/other/images/pricing-estimator-10.png
  docs/articles/other/images/pricing-estimator-2.png
  docs/articles/other/images/pricing-estimator-3.png
  docs/articles/other/images/pricing-estimator-4.png
  docs/articles/other/images/pricing-estimator-5.png
  docs/articles/other/images/pricing-estimator-6.png
  docs/articles/other/images/pricing-estimator-7.png
  docs/articles/other/images/pricing-estimator-8.png
  docs/articles/other/images/pricing-estimator-9.png
  docs/articles/other/images/pricing-estimator-download-1.png
  docs/articles/other/images/pricing-estimator-mac-install-1.png
  docs/articles/other/images/pricing-estimator-mac-install-2.png
  docs/articles/other/images/pricing-estimator-mac-install-3.png
  docs/articles/other/images/pricing-estimator-mac-install-4.png
  docs/articles/other/other-how-use-pricing-tool.html
  docs/articles/other/other-ref-pricing-tool-bugs.html
  docs/articles/other/other-vid-pricing-tool-overview.html
Labels: X-platform, remove old content

#2617 Onboarding RACI for UKCloud for VMware
  articles/vmware/vmw-ref-onboarding.md
Labels: VMware, new article

#2618 Update responsibilities for ITHC
  articles/vmware/vmw-ref-onboarding.md
Labels: VMware, minor fix

#2610 Update other-ref-storage-overview.md
  articles/other/other-ref-storage-overview.md
Labels: X-platform, no changes, article review

#2619 Update T&Cs articles for VLS and Workspace One
  articles/other/other-ref-terms-and-conditions-partners.md
  articles/other/other-ref-terms-and-conditions-products.md
Labels: X-platform, update content

#2620 Fix titles for VLS articles
  articles/vmware/vmw-sco-vls-ws1.md
  articles/vmware/vmw-sco-vls.md
  articles/vmware/vmw-sd-vls.md
Labels: VMware, minor fix, VLS

#2540 Review azs-how-create-key-vault-portal
  articles/azure/azs-how-create-key-vault-portal.md
  articles/azure/images/azs-browser-create-secret.png
  articles/azure/images/azs-browser-select-secret-version.png
  articles/azure/images/azs-browser-view-secret-value.png
Labels: Azure Stack Hub, article review

#2501 Review azs-how-configure-custom-script-extension
  articles/azure/azs-how-configure-custom-script-extension.md
Labels: Azure Stack Hub, article review

#2498 Review azs-how-move-vm-new-vnet-ps
  articles/azure/azs-how-move-vm-new-vnet-ps.md
Labels: Azure Stack Hub, article review
