Repository UKCloud/documentation, pull requests merged in 2022-08, with the labels that each got.

#2667 Delete old troubleshooting article
  articles/vmware/vmw-ref-trouble-null-pointer.md
  docs/articles/vmware/vmw-ref-trouble-null-pointer.html
Labels: VMware, remove old content

#2665 Update other-ref-dc-notice
  articles/other/other-ref-dc-notice.md
Labels: Support, update content, article review

#2709 Adding extra steps for Microsoft teams web hooks
  articles/other/images/other-status-page-add-connector.png
  articles/other/images/other-status-page-connector.png
  articles/other/images/other-status-page-example-connector.png
  articles/other/images/other-status-page-name-connector.png
  articles/other/images/other-status-page-url-connector.png
  articles/other/images/status-page-done-connector.png
  articles/other/other-how-use-webhooks.md
Labels: Support, update content, article review

#2713 Kubernetes landing page
  articles/kubernetes/images/k8s-differences-vms-containers.png
  articles/kubernetes/k8s-home.md
  custom_template/partials/products.tmpl.partial
  toc.yml
Labels: VMware, new article

#2710 Openshift doc review
  articles/openshift/oshift-ref-cluster-monitoring.md
  articles/openshift/oshift-ref-deploy-app-into-service-mesh.md
Labels: OpenShift, article review

#2708 Update VLS and WSP1 service scopes
  articles/vmware/vmw-sco-extended-vmw-support.md
  articles/vmware/vmw-sco-vls.md
  articles/vmware/vmw-sco-ws1.md
  articles/vmware/vmw-sd-extended-vmw-support.md
  articles/vmware/vmw-sd-vls.md
Labels: VMware, update content, VLS

#2711 Review other-ref-export-data.md
  articles/other/other-ref-export-data.md
Labels: X-platform, no changes, article review

#2712 Review other-faq-ukcloud.md
  articles/other/other-faq-ukcloud.md
Labels: X-platform, update content, article review

#2715 Review shared-how-access-ubuntu-update-servers.md
  articles/shared/shared-how-access-ubuntu-update-servers.md
Labels: Shared Services, article review

#2714 Review ptl-raise-escalate-service-request.md
  articles/portal/ptl-ref-raise-escalate-service-request.md
Labels: Portal, Support, no changes, article review

#2666 Review Managed Operations doc
  articles/managed-operations/man-faq-adv-support-svcs.md
  articles/managed-operations/man-faq-antivirus.md
  articles/managed-operations/man-home.md
  articles/managed-operations/man-how-monitoring-change-config.md
  articles/managed-operations/man-how-monitoring-use-customer-polling.md
  articles/managed-operations/man-how-notify-maintenance.md
  articles/managed-operations/man-how-patching-define-window.md
  articles/managed-operations/man-how-update-contact-info.md
  articles/managed-operations/man-ref-defaults.md
  articles/managed-operations/man-ref-sentinelone-datacollection.md
  articles/managed-operations/man-sco-ad.md
  articles/managed-operations/man-sco-antivirus.md
  articles/managed-operations/man-sco-webserver.md
Labels: Managed Operations, no changes, article review

#2719 Review vmw-how-ves-install-usage-meter-3.md
  articles/vmware/vmw-how-ves-install-usage-meter-3.md
Labels: VMware, no changes, article review, VLS

#2718 Review other-ref-best-practice-guide.md
  articles/other/other-ref-best-practice-guide.md
Labels: X-platform, update content, article review

#2717 Review ptl-how-unlock-account.md
  articles/portal/images/ptl-contact-btn-edit-locked.png
  articles/portal/images/ptl-locked-user-edit.png
  articles/portal/images/ptl-locked-user.png
  articles/portal/images/ptl-user-active.png
  articles/portal/images/ptl-user-lock.png
  articles/portal/images/ptl-user-locked.png
  articles/portal/images/ptl-user-unlock.png
  articles/portal/ptl-how-unlock-account.md
  docs/articles/portal/images/ptl-locked-user-edit.png
  docs/articles/portal/images/ptl-locked-user.png
Labels: Portal, Support, update content, article review

#2716 Review shared-ref-access-to-vms.md
  articles/shared/shared-ref-access-to-vms.md
Labels: no changes, Shared Services, article review

#2720 Review build edge article
  articles/vmware/images/vmw-portal-build-edge-fail.png
  articles/vmware/images/vmw-portal-build-edge-gateway-status.png
  articles/vmware/images/vmw-portal-build-edge-success.png
  articles/vmware/images/vmw-portal-build-edge.png
  articles/vmware/images/vmw-portal-mnu-build-edge.png
  articles/vmware/images/vmw-portal-mnu-select-compute-service.png
  articles/vmware/vmw-how-build-edge.md
Labels: VMware, Portal, update content, article review

#2721 Review of Portal Getting Started Guide
  articles/portal/images/ptl-home-page.png
  articles/portal/images/ptl-login.png
  articles/portal/images/ptl-mnu-logout.png
  articles/portal/images/ptl-mnu-user-account.png
  articles/portal/images/ptl-navigation-panel.png
  articles/portal/ptl-gs.md
Labels: Portal, update content, article review

#2722 Zerto doc reviews
  articles/draas/draas-faq.md
  articles/draas/draas-gs.md
  articles/draas/draas-how-zerto-install-local.md
  articles/draas/draas-ref-troubleshooting.md
  articles/draas/images/draas-configure-zerto-ipsec.png
  articles/draas/images/draas-zerto-draas.png
  articles/draas/images/draas-zerto-recovery.png
  articles/enablement/enbl-how-zerto-migrate-between-regions.md
  articles/enablement/images/enbl-zerto-mnu-move-vpg.png
  articles/enablement/images/enbl-zerto-move-params.png
  articles/enablement/images/enbl-zerto-move-vpgs.png
  articles/enablement/images/vmw-zerto-migrate-journal-overview.png
  articles/enablement/images/vmw-zerto-migrate-overview.png
  articles/migration/images/migr-zerto-mnu-move-vpg.png
  articles/migration/images/migr-zerto-move-params.png
  articles/migration/images/migr-zerto-move-vpgs.png
  articles/migration/migr-how-zerto-migrate-to-ukcloud.md
  articles/migration/migr-ref-troubleshooting.md
  articles/vmware/images/vmw-portal-journaling.png
  articles/vmware/images/vmw-portal-mnu-journaling.png
  articles/vmware/images/vmw-zerto-btn-failover-live.png
  articles/vmware/images/vmw-zerto-btn-failover-test.png
  articles/vmware/images/vmw-zerto-btn-new-vpg.png
  articles/vmware/images/vmw-zerto-btn-vpg-options.png
  articles/vmware/images/vmw-zerto-create-vpg-replicate.png
  articles/vmware/images/vmw-zerto-create-vpg.png
  articles/vmware/images/vmw-zerto-edit-vpg-general.png
  articles/vmware/images/vmw-zerto-edit-vpg-nics.png
  articles/vmware/images/vmw-zerto-edit-vpg-recovery.png
  articles/vmware/images/vmw-zerto-edit-vpg-replication.png
  articles/vmware/images/vmw-zerto-edit-vpg-storage.png
  articles/vmware/images/vmw-zerto-edit-vpg-vm-settings.png
  articles/vmware/images/vmw-zerto-edit-vpg-vms.png
  articles/vmware/images/vmw-zerto-failover-live-checkpoints.png
  articles/vmware/images/vmw-zerto-failover-live-params-checkpoint.png
  articles/vmware/images/vmw-zerto-failover-live-vpgs.png
  articles/vmware/images/vmw-zerto-failover-test-checkpoints.png
  articles/vmware/images/vmw-zerto-failover-test-params-checkpoint.png
  articles/vmware/images/vmw-zerto-failover-test-vpgs.png
  articles/vmware/images/vmw-zerto-homepage.png
  articles/vmware/images/vmw-zerto-journaling.png
  articles/vmware/images/vmw-zerto-login.png
  articles/vmware/images/vmw-zerto-mnu-edit-vpg.png
  articles/vmware/images/vmw-zerto-recovery.png
  articles/vmware/vmw-faq-journaling-protection.md
  articles/vmware/vmw-gs-journaling.md
  articles/vmware/vmw-how-zerto-access-zssp.md
  articles/vmware/vmw-how-zerto-create-vpg.md
  articles/vmware/vmw-how-zerto-perform-failover.md
Labels: VMware, update content, article review, Zerto
