Repository UKCloud/documentation, pull requests merged in 2022-04, with the labels that each got.

#2544 Update orcl-sco.md
  articles/oracle/orcl-sco.md
Labels: update content, Oracle, article review

#2543 Update orcl-sco-private.md
  articles/oracle/orcl-sco-private.md
Labels: update content, Oracle, Private Cloud, article review

#2542 Update cdsz-sco.md
  articles/cdsz/cdsz-sco.md
Labels: SRA/CDSZ, update content, article review, Security

#2545 Update enbl-sco-hosting.md
  articles/enablement/enbl-ref-services.md
  articles/enablement/enbl-sco-capscpa.md
  articles/enablement/enbl-sco-hosting.md
  articles/enablement/enbl-sco-vpn.md
  articles/other/other-ref-dc-notice.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-service-definitions.md
  custom_template/partials/products.tmpl.partial
  docs/articles/enablement/enbl-sco-capscpa.html
  docs/articles/enablement/enbl-sco-vpn.html
  toc.yml
Labels: update content, Enablement, remove old content, article review

#2539 Gellner openshift reviews
  articles/openshift/images/oshift-supported-versions.png
  articles/openshift/oshift-how-backup-migrate.md
  articles/openshift/oshift-how-v4-update.md
  articles/openshift/oshift-ref-lifecycle.md
Labels: OpenShift, article review

#2549 Update VLS articles
  articles/vmware/vmw-faq-vls.md
  articles/vmware/vmw-how-ves-add-products-3.md
  articles/vmware/vmw-how-ves-install-usage-meter-3.md
  articles/vmware/vmw-how-ves-report-usage-3.md
  articles/vmware/vmw-how-vls-add-products-4.md
  articles/vmware/vmw-how-vls-install-usage-meter-4.md
  articles/vmware/vmw-sco-extended-vmw-support.md
  articles/vmware/vmw-sco-vls.md
  docs/articles/vmware/vmw-how-vls-add-products.html
  docs/articles/vmware/vmw-how-vls-install-usage-meter.html
  docs/articles/vmware/vmw-how-vls-report-usage.html
Labels: VMware, update content, article review, VLS

#2551 Review oshift-how-manage-user-access.md
  articles/openshift/oshift-how-manage-user-access.md
Labels: OpenShift, no changes, article review

#2550 Update shared-how-access-redhat-update-servers-3.md
  articles/shared/shared-how-access-redhat-update-servers-3.md
Labels: Shared Services, article review

#2558 Update other-vid-pricing-tool-overview.md
  articles/other/other-vid-pricing-tool-overview.md
Labels: X-platform, no changes, article review

#2557 Update other-how-use-pricing-tool.md
  articles/other/other-how-use-pricing-tool.md
Labels: X-platform, no changes, article review

#2546 Password reset changes
  articles/other/other-ref-best-practice-guide.md
  articles/portal/images/ptl-contact-details-password-reset.png
  articles/portal/images/ptl-forgotten-password-email.png
  articles/portal/images/ptl-forgotten-password-link.png
  articles/portal/images/ptl-forgotten-password-reset-memword.png
  articles/portal/images/ptl-forgotten-password-reset.png
  articles/portal/images/ptl-forgotten-password.png
  articles/portal/images/ptl-menu-all-contacts.png
  articles/portal/images/ptl-mnu-all-contacts.png
  articles/portal/images/ptl-mnu-change-details.png
  articles/portal/images/ptl-mnu-change-password.png
  articles/portal/images/ptl-update-password.png
  articles/portal/images/ptl-update-user-password.png
  articles/portal/ptl-how-change-email-address.md
  articles/portal/ptl-how-reset-password.md
  articles/portal/ptl-ref-user-access.md
  docs/articles/portal/images/ptl-update-user-password.png
Labels: Portal, update content

#2560 Fix build
  articles/other/other-ref-best-practice-guide.md
Labels: fix build issue
