Repository UKCloud/documentation, pull requests merged in 2022-09, with the labels that each got.

#2773 Update vmw-how-vls-install-usage-meter-4.md
  articles/vmware/vmw-how-vls-install-usage-meter-4.md
Labels: VMware, update content, VLS

#2772 Update shared-ref-rhui-3.md
  articles/shared/shared-ref-rhui-3.md
Labels: no changes, Shared Services, article review

#2771 Review shared-how-install-rhui-vm-3.md
  articles/shared/shared-how-install-rhui-vm-3.md
Labels: no changes, Shared Services, article review

#2775 Review enbl-sco-smart-hands.md
  articles/enablement/enbl-sco-smart-hands.md
Labels: Enablement, no changes, article review

#2778 Review pricing info articles
  articles/azure/azs-ref-pricing.md
  articles/cloud-storage/cs-ref-pricing.md
  articles/daas/daas-ref-pricing.md
  articles/openshift/oshift-ref-pricing.md
  articles/openstack/ostack-ref-pricing.md
  articles/oracle/orcl-ref-pricing.md
  articles/security/cdsz-ref-pricing.md
  articles/security/sra-ref-pricing.md
  articles/vmware/vmw-ref-pricing.md
Labels: X-platform, update content, article review

#2777 Review other-sco-free-trials.md
  articles/other/other-sco-free-trials.md
Labels: X-platform, no changes, article review

#2781 Update last reviewed date
  articles/portal/ptl-ref-user-access.md
Labels: Portal, no changes, article review

#2780 Update last reviewed date
  articles/portal/ptl-ref-overview-permissions.md
Labels: Portal, no changes, article review

#2776 Review other-ref-pricing-guide.md
  articles/other/other-ref-pricing-guide.md
Labels: X-platform, update content, article review

#2782 Review vmw-gs.md
  articles/vmware/images/vmw-estate.png
  articles/vmware/images/vmw-organisation.png
  articles/vmware/images/vmw-portal-build-compute-service-fail.png
  articles/vmware/images/vmw-portal-build-compute-service-status.png
  articles/vmware/images/vmw-portal-build-compute-service-success.png
  articles/vmware/images/vmw-portal-build-compute-service.png
  articles/vmware/images/vmw-portal-build-vdc-fail.png
  articles/vmware/images/vmw-portal-build-vdc-status.png
  articles/vmware/images/vmw-portal-build-vdc-success.png
  articles/vmware/images/vmw-portal-build-vdc.png
  articles/vmware/images/vmw-portal-mnu-build-vdc.png
  articles/vmware/images/vmw-portal-mnu-compute-services.png
  articles/vmware/images/vmw-portal-mnu-create-compute-service.png
  articles/vmware/images/vmw-portal-vcd-login.png
  articles/vmware/images/vmw-vcd10.1-home-page.png
  articles/vmware/images/vmw-vcd10.1-logout-link.png
  articles/vmware/vmw-gs.md
Labels: VMware, update content, article review

#2783 Review other-ref-sla-definition.md
  articles/other/other-faq-sla.md
  articles/other/other-ref-sla-definition.md
  docs/articles/other/other-faq-sla.html
Labels: X-platform, update content, article review

#2785 Remove ref to deleted article
  articles/other/other-faq-ukcloud.md
Labels: minor fix, fix build issue

#2784 Review VMware network articles
  articles/vmware/images/vmw-vcd10.1-new-network-dns-isolated.png
  articles/vmware/images/vmw-vcd10.1-new-network-dns.png
  articles/vmware/images/vmw-vcd10.1-new-network-general.png
  articles/vmware/images/vmw-vcd10.1-new-network-ip-pool.png
  articles/vmware/images/vmw-vcd10.1-new-network-isolated.png
  articles/vmware/images/vmw-vcd10.1-new-network-routed-edge.png
  articles/vmware/images/vmw-vcd10.1-new-network-routed-type.png
  articles/vmware/vmw-how-create-isolated-network.md
  articles/vmware/vmw-how-create-routed-network.md
Labels: VMware, update content, article review

#2788 Review Private Cloud articles
  articles/private-cloud/prc-faq-storage.md
  articles/private-cloud/prc-faq.md
  articles/private-cloud/prc-sco-storage.md
  articles/private-cloud/prc-sco.md
Labels: no changes, Private Cloud, article review

#2787 Review vmw-sco-snapshot-protection.md
  articles/vmware/vmw-sco-snapshot-protection.md
Labels: VMware, no changes, article review

#2790 Complete the annual review process
  articles/other/other-ref-invoice-evidence-file.md
Labels: X-platform, no changes, article review

#2786 Review vmw-ref-nested-hypervisors.md
  articles/vmware/vmw-ref-nested-hypervisors.md
Labels: VMware, no changes, article review

#2770 Update customer service targets for P1 incidents
  articles/portal/ptl-ref-raise-escalate-service-request.md
Labels: Support, update content
