Repository UKCloud/documentation, pull requests merged in 2022-01, with the labels that each got.

#2358 Suggested changes to VMware intro
  articles/vmware/vmw-home.md
Labels: VMware, update content

#2372 Update copyright year
  docfx.json
Labels: KC, update content

#2355 Vmw delete old images part4
  articles/vmware/images/vmw-create-vapp-template-catalog.png
  articles/vmware/images/vmw-create-vapp-template-source.png
  articles/vmware/images/vmw-firefox-restclient-icon.png
  articles/vmware/images/vmw-mnu-vm-details.png
  articles/vmware/images/vmw-portal-2fa.png
  articles/vmware/images/vmw-portal-memorable-word.png
  articles/vmware/images/vmw-restclient-accept-header.png
  articles/vmware/images/vmw-restclient-api-url.png
  articles/vmware/images/vmw-restclient-authentication-details.png
  articles/vmware/images/vmw-restclient-authentication-header.png
  articles/vmware/images/vmw-restclient-basic-authentication-remove.png
  articles/vmware/images/vmw-restclient-basic-authentication.png
  articles/vmware/images/vmw-restclient-custom-header.png
  articles/vmware/images/vmw-restclient-get-vdc-link.png
  articles/vmware/images/vmw-restclient-request-headers-token.png
  articles/vmware/images/vmw-restclient-request-headers.png
  articles/vmware/images/vmw-restclient-request-method-post.png
  articles/vmware/images/vmw-storage-policy-types.png
  articles/vmware/images/vmw-vmrc-download.png
  articles/vmware/images/vmw-vmware-options.png
  articles/vmware/images/vmw-zerto-dashboard.png
  articles/vmware/images/vmw-zerto-draas.png
  docs/articles/vmware/images/vmw-create-vapp-template-catalog.png
  docs/articles/vmware/images/vmw-create-vapp-template-source.png
  docs/articles/vmware/images/vmw-firefox-restclient-icon.png
  docs/articles/vmware/images/vmw-mnu-vm-details.png
  docs/articles/vmware/images/vmw-portal-2fa.png
  docs/articles/vmware/images/vmw-portal-memorable-word.png
  docs/articles/vmware/images/vmw-restclient-accept-header.png
  docs/articles/vmware/images/vmw-restclient-api-url.png
  docs/articles/vmware/images/vmw-restclient-authentication-details.png
  docs/articles/vmware/images/vmw-restclient-authentication-header.png
  docs/articles/vmware/images/vmw-restclient-basic-authentication-remove.png
  docs/articles/vmware/images/vmw-restclient-basic-authentication.png
  docs/articles/vmware/images/vmw-restclient-custom-header.png
  docs/articles/vmware/images/vmw-restclient-get-vdc-link.png
  docs/articles/vmware/images/vmw-restclient-request-headers-token.png
  docs/articles/vmware/images/vmw-restclient-request-headers.png
  docs/articles/vmware/images/vmw-restclient-request-method-post.png
  docs/articles/vmware/images/vmw-storage-policy-types.png
  docs/articles/vmware/images/vmw-vmrc-download.png
  docs/articles/vmware/images/vmw-vmware-options.png
  docs/articles/vmware/images/vmw-zerto-dashboard.png
  docs/articles/vmware/images/vmw-zerto-draas.png
Labels: VMware, remove old content

#2351 Update VCD API URL
  articles/vmware/vmw-how-manipulate-power-states-powercli.md
  articles/vmware/vmw-how-use-ovf-tool.md
  articles/vmware/vmw-how-use-vm-location.md
  articles/vmware/vmw-how-view-storage-usage.md
  articles/vmware/vmw-ref-vcloud-connector.md
Labels: VMware, update content

#2373 Update conn-faq-esn.md
  articles/connectivity/conn-faq-esn.md
Labels: Connectivity, update content

#2375 January reviews for OpenShift PR1
  articles/openshift/oshift-how-backup-directories-database.md
  articles/openshift/oshift-how-build-app-private-repo.md
  articles/openshift/oshift-how-customise-error-page.md
  articles/openshift/oshift-how-expand-persistent-vols.md
  articles/openshift/oshift-how-expose-nonhttp-services.md
  articles/openshift/oshift-how-obtain-usage-metrics.md
  articles/openshift/oshift-how-restrict-access-to-openshift-routes-by-ip-address.md
  articles/openshift/oshift-ref-security-best-practices.md
  articles/openshift/oshift-ref-trial.md
Labels: OpenShift, article review

#2374 articles reviewed
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-gs.md
  articles/openstack/ostack-how-install-rhui.md
  articles/openstack/ostack-how-recover-instance.md
  articles/openstack/ostack-how-use-instance-metadata.md
  articles/openstack/ostack-how-use-triliovault.md
  articles/openstack/ostack-sco.md
Labels: OpenShift, update content

#2357 Review VMware articles - Nov/Dec
  articles/vmware/images/vmw-vcd-btn-add-media.png
  articles/vmware/images/vmw-vcd10.1-btn-add-media.png
  articles/vmware/images/vmw-vcd10.1-mnu-libraries.png
  articles/vmware/images/vmw-vcd10.1-mnu-media.png
  articles/vmware/images/vmw-vcd10.1-mnu-ops-manager.png
  articles/vmware/images/vmw-vcd10.1-mnu-service-library.png
  articles/vmware/images/vmw-vcd10.1-upload-media.png
  articles/vmware/images/vmw-vrops-alerts.png
  articles/vmware/images/vmw-vrops-disable-card.png
  articles/vmware/images/vmw-vrops-disable.png
  articles/vmware/images/vmw-vrops-enable-card.png
  articles/vmware/images/vmw-vrops-enable.png
  articles/vmware/images/vmw-vrops-metric-selector-btn-export.png
  articles/vmware/images/vmw-vrops-metric-selector-metrics.png
  articles/vmware/images/vmw-vrops-metric-selector-resources.png
  articles/vmware/images/vmw-vrops-mnu-alerts.png
  articles/vmware/images/vmw-vrops-mnu-metric-selector.png
  articles/vmware/images/vmw-vrops-mnu-overview.png
  articles/vmware/images/vmw-vrops-org-overview-more.png
  articles/vmware/images/vmw-vrops-org-overview.png
  articles/vmware/images/vmw-vrops-refresh-card.png
  articles/vmware/images/vmw-vrops-refresh.png
  articles/vmware/vmw-how-upload-media-iso-flp.md
  articles/vmware/vmw-how-vrops-enable.md
  articles/vmware/vmw-how-vrops-refresh.md
  articles/vmware/vmw-how-vrops-use.md
  docs/articles/vmware/images/vmw-vcd-btn-add-media.png
Labels: VMware, update content

#2341 New OpenShift home
  articles/openshift/images/home-ukc-logo.png
  articles/openshift/oshift-home.md
Labels: OpenShift, update content

#2311 Update vmw-how-configure-l2-vpn.md
  articles/vmware/images/vmw-l2vpn-ukc-no-nsx.png
  articles/vmware/images/vmw-l2vpn-ukc-nsx.png
  articles/vmware/images/vmw-l2vpn-ukc-ukc.png
  articles/vmware/images/vmw-vcd-network-subinterface.png
  articles/vmware/images/vmw-vcd10.1-btn-enable-distributed-routing.png
  articles/vmware/images/vmw-vcd10.1-edge-btn-services.png
  articles/vmware/images/vmw-vcd10.1-edge-select.png
  articles/vmware/images/vmw-vcd10.1-mnu-edges.png
  articles/vmware/images/vmw-vcd91-l2vpn-add-peer-site.png
  articles/vmware/images/vmw-vcd91-l2vpn-btn-add-cert.png
  articles/vmware/images/vmw-vcd91-l2vpn-btn-add-site.png
  articles/vmware/images/vmw-vcd91-l2vpn-client-config.png
  articles/vmware/images/vmw-vcd91-l2vpn-client.png
  articles/vmware/images/vmw-vcd91-l2vpn-create-ssl-trust-object.png
  articles/vmware/images/vmw-vcd91-l2vpn-enable-source.png
  articles/vmware/images/vmw-vcd91-l2vpn-enable.png
  articles/vmware/images/vmw-vcd91-l2vpn-server-cert.png
  articles/vmware/images/vmw-vcd91-l2vpn-server-config.png
  articles/vmware/images/vmw-vcd91-l2vpn-server.png
  articles/vmware/vmw-how-configure-l2-vpn.md
Labels: VMware, article review - no changes

#2379 Review products t&cs
  articles/other/other-ref-terms-and-conditions-products.md
Labels: X-platform, article review - no changes

#2319 New OpenStack home page
  articles/openstack/images/home-ukc-logo.png
  articles/openstack/ostack-home.md
Labels: OpenStack, update content

#2381 Fix broken html code
  articles/openshift/oshift-home.md
Labels: OpenShift, fix build issue

#2382 Fix link on OpenStack home page
  articles/openstack/ostack-home.md
Labels: OpenStack, fix build issue

#2383 OpenStack home page - remove additional full stop
  articles/openstack/ostack-home.md
Labels: OpenStack, fix build issue

#2380 Openshift document review
  articles/openshift/oshift-gs-v3.md
  articles/openshift/oshift-gs.md
  articles/openshift/oshift-how-add-domains-proxy-allow-list.md
  articles/openshift/oshift-how-backup-migrate.md
  articles/openshift/oshift-how-use-hawkular-metrics.md
  articles/openshift/oshift-how-use-netpol-v4.md
  articles/openshift/oshift-how-use-netpol.md
  articles/openshift/oshift-how-view-proxy-logs.md
Labels: OpenShift, article review

#2388 Remove references to Data Transfer Facility
  articles/connectivity/conn-faq.md
  articles/enablement/enbl-ref-services.md
  articles/enablement/enbl-sco-dtf.md
  articles/oracle/orcl-faq.md
  articles/other/other-ref-export-data.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-service-definitions.md
  articles/other/other-ref-services-by-region.md
  docs/articles/enablement/enbl-sco-dtf.html
Labels: Enablement, remove old content

#2389 Review UKCloud glossary
  articles/other/other-ref-glossary.md
Labels: X-platform, update content

#2390 Fix link in Mass Transfer Facility Service Scope
  articles/enablement/enbl-sco-mtf-nas.md
Labels: minor fix, Enablement

#2391 Update ptl-how-signup-notifications.md
  articles/portal/images/ptl-contact-details-notifications.png
  articles/portal/images/ptl-mnu-contact-details.png
  articles/portal/ptl-how-signup-notifications.md
Labels: Portal, update content

#2397 Removing outdated pre-reqs
  articles/managed-operations/man-faq-monitoring.md
Labels: update content, Managed Operations

#2317 Review azs-how-create-key-vault-ps (Dec 2021)
  articles/azure/azs-how-create-key-vault-ps.md
Labels: Azure Stack Hub, article review

#2323 Review azs-how-create-vm-ps
  articles/azure/azs-how-create-vm-ps.md
Labels: Azure Stack Hub, article review

#2325 Review azs-how-convert-to-managed disks-ps
  articles/azure/azs-how-convert-to-managed-disks-ps.md
Labels: Azure Stack Hub, article review

#2336 Review azs-how-resize-disk-ps
  articles/azure/azs-how-resize-disk-ps.md
Labels: Azure Stack Hub, article review

#2338 Review azs-how-configure-powershell-operators
  articles/azure/azs-how-configure-powershell-operators.md
Labels: Azure Stack Hub, article review

#2337 Review azs-how-configure-powershell-users
  articles/azure/azs-how-configure-powershell-users.md
Labels: Azure Stack Hub, article review

#2395 Review of Cloud Storage Service Scope and FAQ
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
Labels: Cloud Storage, update content

#2393 Update other-how-subscribe-service-status.md
  articles/other/images/other-status-btn-subscribe.png
  articles/other/images/other-status-incident-subscribe.png
  articles/other/images/other-status-manage-subscription.png
  articles/other/images/other-status-notification-email.png
  articles/other/images/other-status-notification-rss.png
  articles/other/images/other-status-notification-text.png
  articles/other/images/other-status-notification-webhook.png
  articles/other/images/other-status-subscribe-incident.png
  articles/other/images/other-status-subscriptions.png
  articles/other/other-how-subscribe-service-status.md
Labels: Support, update content

#2392 Update other-ref-status-page.md
  articles/other/images/other-status-all-operational.png
  articles/other/images/other-status-history.png
  articles/other/images/other-status-incident.png
  articles/other/images/other-status-maintenance.png
  articles/other/images/other-status-outage.png
  articles/other/images/other-status-page.png
  articles/other/images/other-status-service.png
  articles/other/other-ref-status-page.md
  docs/articles/other/images/other-status-history.png
Labels: Support, update content

#2402 Review Synchronous Protection doc
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-sco-synchronous-protection.md
Labels: VMware, article review - no changes

#2404 Retire hyperscaler comparison articles
  articles/openstack/images/boot_times.png
  articles/openstack/images/mongodb.png
  articles/openstack/images/network_performance.png
  articles/openstack/images/random_io.png
  articles/openstack/images/sequential_io.png
  articles/openstack/ostack-ref-ukcloud-outperforms.md
  articles/vmware/images/vmw-benchmark-mongodb.png
  articles/vmware/images/vmw-benchmark-network.png
  articles/vmware/images/vmw-benchmark-random-io.png
  articles/vmware/images/vmw-benchmark-redis.png
  articles/vmware/images/vmw-benchmark-seq-io.png
  articles/vmware/vmw-ref-comparison-hyperscalers.md
  docs/articles/openstack/images/boot_times.png
  docs/articles/openstack/images/mongodb.png
  docs/articles/openstack/images/network_performance.png
  docs/articles/openstack/images/random_io.png
  docs/articles/openstack/images/sequential_io.png
  docs/articles/openstack/ostack-ref-ukcloud-outperforms.html
  docs/articles/vmware/images/vmw-benchmark-mongodb.png
  docs/articles/vmware/images/vmw-benchmark-network.png
  docs/articles/vmware/images/vmw-benchmark-random-io.png
  docs/articles/vmware/images/vmw-benchmark-redis.png
  docs/articles/vmware/images/vmw-benchmark-seq-io.png
  docs/articles/vmware/vmw-ref-comparison-hyperscalers.html
Labels: VMware, OpenStack, remove old content

#2377 Update cdsz-ref-application-process.md
  articles/cdsz/cdsz-ref-application-process.md
Labels: SRA/CDSZ, update content

#2405 Review Services at a glance article
  articles/cloud-storage/cs-faq.md
  articles/other/other-ref-product-overview.md
  articles/other/other-ref-sla-definition.md
  articles/other/other-sco-free-trials.md
Labels: X-platform, update content

#2409 Fix metadata
  articles/vmware/vmw-how-vls-add-products-4.md
Labels: fix build issue

#2412 Review article for contributing to the KC
  articles/other/images/other-github-compare-changes.png
  articles/other/images/other-github-ico-edit.png
  articles/other/images/other-github-new-pull-request.png
  articles/other/images/other-github-propose-change.png
  articles/other/images/other-github-pull-request.png
  articles/other/images/other-improve-doc.png
  articles/other/other-how-contribute-knowledge.md
Labels: KC, update content

#2410 VMware Getting Started Guide - typo in heading
  articles/vmware/vmw-gs.md
Labels: VMware, minor fix

#2403 Retire Service Failover Testing FAQ
  articles/other/other-faq-ukcloud.md
  articles/vmware/vmw-faq-failover-testing.md
  docs/articles/vmware/vmw-faq-failover-testing.html
Labels: VMware, remove old content

#2399 Update sites, regions and zones article
  articles/other/images/fig1_platform_overview.png
  articles/other/images/fig2_sites.png
  articles/other/images/fig3_regions.png
  articles/other/images/fig4_services_in_regions.png
  articles/other/images/fig5_zones.png
  articles/other/images/fig6_services_in_zones.png
  articles/other/images/fig7_security_domains.png
  articles/other/images/other-srz-platform-overview.png
  articles/other/images/other-srz-regions.png
  articles/other/images/other-srz-security-domains.png
  articles/other/images/other-srz-services-frn.png
  articles/other/images/other-srz-sites.png
  articles/other/images/other-srz-zones.png
  articles/other/other-ref-sites-regions-zones.md
  docs/articles/other/images/fig1_platform_overview.png
  docs/articles/other/images/fig2_sites.png
  docs/articles/other/images/fig3_regions.png
  docs/articles/other/images/fig4_services_in_regions.png
  docs/articles/other/images/fig5_zones.png
  docs/articles/other/images/fig6_services_in_zones.png
  docs/articles/other/images/fig7_security_domains.png
Labels: X-platform, update content
