Repository UKCloud/documentation, pull requests merged in 2022-10, with the labels that each got.

#2791 Review other-faq-eps.md
  articles/other/other-faq-eps.md
Labels: X-platform, no changes, article review

#2789 Update other-ref-cloud-economics.md
  articles/other/other-ref-cloud-economics.md
Labels: X-platform, no changes, article review

#2834 Update vmw-how-locate-vdc.md
  articles/vmware/vmw-how-locate-vdc.md
Labels: VMware, update content, article review

#2835 Reviewed article - VM disk limits
  articles/vmware/vmw-ref-vmdk-limits.md
Labels: VMware, no changes, article review

#2836 Reviewed article - Naming VMs
  articles/vmware/vmw-ref-naming-vms.md
Labels: VMware, no changes, article review

#2837 Update link to Cloud Director 10.3 documentation
  articles/vmware/vmw-faq-sharing-catalogs.md
Labels: VMware, update content, article review

#2853 Retire email doc
  articles/email/email-faq.md
  articles/email/email-gs.md
  articles/email/email-how-setup-android.md
  articles/email/email-how-setup-iphone.md
  articles/email/email-how-use-with-app.md
  articles/email/email-ref-fair-use.md
  articles/email/images/email-console-new-account.png
  articles/email/images/email-stunnel.png
  articles/email/toc.yml
  articles/other/other-ref-product-status.md
  docs/articles/email/email-faq.html
  docs/articles/email/email-gs.html
  docs/articles/email/email-how-setup-android.html
  docs/articles/email/email-how-setup-iphone.html
  docs/articles/email/email-how-use-with-app.html
  docs/articles/email/email-ref-fair-use.html
  docs/articles/email/images/email-console-new-account.png
  docs/articles/email/images/email-stunnel.png
  docs/articles/email/toc.html
  toc.yml
Labels: X-platform, update content, remove old content, retired

#2851 Update references to VCD API version
  articles/other/other-ref-knowledge-guidelines.md
  articles/vmware/vmw-how-interact-vcd-api-powershell.md
  articles/vmware/vmw-how-ps-export-edge-data.md
  articles/vmware/vmw-how-retrieve-utilisation-metrics.md
Labels: VMware, update content

#2842 Article reviewed - Cloning vApps using PowerCLI
  articles/vmware/vmw-ref-cloning-vapps.md
Labels: VMware, no changes, article review

#2843 Article reviewed - How to access syslog data for your edge gateway
  articles/vmware/vmw-how-access-syslog-data-adv.md
Labels: VMware, no changes, article review

#2844 Article Reviewed - Benefits of VMware L2 VPN
  articles/vmware/vmw-vid-l2-vpn.md
Labels: VMware, no changes, article review

#2845 Article Reviewed - How to export edge gateway configuration data using PowerShell
  articles/vmware/vmw-how-ps-export-edge-data.md
Labels: VMware, no changes, article review

#2848 Review vmw-ref-vm-data-recovery.md
  articles/vmware/images/copy.png
  articles/vmware/images/snapshot.png
  articles/vmware/images/vmw-vcd-mnu-copy-vm.png
  articles/vmware/images/vmw-vcd-mnu-create-snapshot.png
  articles/vmware/images/vmw-vm-mnu-copy-vcd10.3.png
  articles/vmware/images/vmw-vm-mnu-create-snapshot-vcd-10.3.png
  articles/vmware/vmw-ref-vm-data-recovery.md
  docs/articles/vmware/images/vmw-vcd-mnu-copy-vm.png
  docs/articles/vmware/images/vmw-vcd-mnu-create-snapshot.png
Labels: VMware, update content, article review

#2849 Review vmw-how-access-vcloud-api.md; vmw-ref-vcd-10-3.md
  articles/vmware/images/vmw-portal-api-details.png
  articles/vmware/images/vmw-portal-mnu-api.png
  articles/vmware/images/vmw-restclient-accept-header1.PNG
  articles/vmware/images/vmw-restclient-authentication-details1.PNG
  articles/vmware/images/vmw-restclient-authentication-token.png
  articles/vmware/images/vmw-restclient-basic-authentication1.PNG
  articles/vmware/images/vmw-restclient-custom-header1.PNG
  articles/vmware/images/vmw-restclient-request-headers-token1.png
  articles/vmware/images/vmw-restclient-request-headers1.png
  articles/vmware/images/vmw-restclient-request-method-post1.PNG
  articles/vmware/vmw-how-access-vcloud-api.md
  articles/vmware/vmw-ref-vcd-10-1.md
  articles/vmware/vmw-ref-vcd-10-3.md
Labels: VMware, update content, article review

#2854 Fix broken link
  articles/vmware/vmw-how-create-catalog.md
Labels: fix build issue

#2855 Review vmw-sco-journaling-protection.md
  articles/vmware/vmw-sco-journaling-protection.md
Labels: VMware, no changes, article review, Zerto
