Repository UKCloud/documentation, pull requests merged in 2022-03, with the labels that each got.

#2491 Review azs-how-create-vm-terraform
  articles/azure/azs-how-create-vm-terraform.md
Labels: Azure Stack Hub, article review

#2457 Update conn-ref-ddos-mitigation metadata
  articles/connectivity/conn-ref-ddos-mitigation.md
Labels: Connectivity, no changes, article review

#2456 Updated conn-ref-ddos-protection metadata
  articles/connectivity/conn-ref-ddos-protection.md
Labels: Connectivity, no changes, article review

#2496 Update shared-how-access-centos-update-servers.md
  articles/shared/shared-how-access-centos-update-servers.md
Labels: article review

#2499 Identifying a VM in read only mode
  articles/vmware/images/vmw-read-only-linux-vm.png
  articles/vmware/vmw-ref-vm-readonly.md
Labels: VMware, new article

#2494 New article - VLS FAQ
  articles/vmware/vmw-faq-vls.md
Labels: VMware, new article, VLS

#2443 Update other-ref-gib.md
  articles/other/other-ref-gib.md
Labels: X-platform, no changes, article review

#2495 Remove refs to vCloud
  articles/portal/ptl-how-restrict-access-vcloud-api.md
  articles/portal/ptl-ref-portal-api.md
Labels: VMware, update content

#2502 New video for updating articles
  articles/other/other-vid-kc-contribution.md
Labels: KC, update content, video

#2500 Remove refs to OSP10 and associated region
  articles/openshift/oshift-ref-no-proxy.md
  articles/openstack/ostack-faq.md
  articles/openstack/ostack-how-use-api-sso.md
  articles/openstack/ostack-how-use-barbican.md
  articles/openstack/ostack-how-use-octavia.md
  articles/openstack/ostack-ref-auto-scaling.md
  articles/openstack/ostack-ref-cli-clients.md
  articles/openstack/ostack-ref-dashboard.md
  articles/openstack/ostack-sco.md
Labels: OpenShift, OpenStack, update content
