Repository UKCloud/documentation, pull requests merged in 2022-02, with the labels that each got.

#2431 Review Dedicated Compute v2 service scope
  articles/dedicated-compute/dc-sco.md
Labels: update content, Private Cloud

#2430 Review kc guidelines
  articles/other/images/home-ukc-logo.png
  articles/other/other-ref-knowledge-guidelines.md
Labels: KC, update content

#2429 Review upgrade edge article
  articles/vmware/images/vmw-vcd10.1-btn-redeploy.png
  articles/vmware/images/vmw-vcd10.1-btn-reset-network.png
  articles/vmware/images/vmw-vcd10.1-btn-reset-vapp-network.png
  articles/vmware/images/vmw-vcd10.1-mnu-vapp-details.png
  articles/vmware/images/vmw-vcd10.1-network-select.png
  articles/vmware/images/vmw-vcd10.1-vapp-network-select.png
  articles/vmware/vmw-how-upgrade-edge.md
Labels: VMware, update content

#2406 Retire VM location article
  articles/other/images/other-vcd-vm-metadata.png
  articles/other/other-faq-billing.md
  articles/vmware/images/vmw-vcd10.1-vm-location-metadata.png
  articles/vmware/vmw-faq-synchronous-protection.md
  articles/vmware/vmw-home.md
  articles/vmware/vmw-how-locate-vdc.md
  articles/vmware/vmw-how-use-vm-location.md
  articles/vmware/vmw-sco-synchronous-protection.md
  docs/articles/vmware/images/vmw-vcd10.1-vm-location-metadata.png
  docs/articles/vmware/vmw-how-use-vm-location.html
Labels: VMware, remove old content

#2401 Review advanced networking articles
  articles/vmware/images/vmw-dfw-overview.png
  articles/vmware/images/vmw-dlr-overview.png
  articles/vmware/images/vmw-vcd10.1-btn-configure-services-security.png
  articles/vmware/images/vmw-vcd10.1-btn-enable-distributed-routing.png
  articles/vmware/images/vmw-vcd10.1-enable-dfw.png
  articles/vmware/images/vmw-vcd10.1-new-network-distributed-edge.png
  articles/vmware/images/vmw-vcd10.1-new-network-general.png
  articles/vmware/images/vmw-vcd91-btn-add-dfw-l3-rule.png
  articles/vmware/images/vmw-vcd91-btn-add-ipset.png
  articles/vmware/images/vmw-vcd91-btn-add-macset.png
  articles/vmware/images/vmw-vcd91-btn-add-security-group.png
  articles/vmware/images/vmw-vcd91-dfw-l3-rule-add-service.png
  articles/vmware/images/vmw-vcd91-dfw-l3-rule-dest-ip.png
  articles/vmware/images/vmw-vcd91-dfw-l3-rule-source-ip.png
  articles/vmware/images/vmw-vcd91-dfw-l3-rule.png
  articles/vmware/images/vmw-vcd91-grouping-objects.png
  articles/vmware/images/vmw-vcd91-save-changes.png
  articles/vmware/images/vmw-vcd91-security-group-dynamic.png
  articles/vmware/images/vmw-vcd91-security-group-include-exclude.png
  articles/vmware/images/vmw-vcd91-security-group.png
  articles/vmware/images/vmw-vcd91-services-ipset.png
  articles/vmware/images/vmw-vcd91-services-macset.png
  articles/vmware/images/vmw-vcd91-tab-grouping-service-groups.png
  articles/vmware/images/vmw-vcd91-tab-grouping-services.png
  articles/vmware/vmw-how-configure-distributed-firewall.md
  articles/vmware/vmw-how-configure-distributed-logical-router.md
  docs/articles/vmware/images/vmw-vcd91-dfw-l3-rule-add-service.png
  docs/articles/vmware/images/vmw-vcd91-dfw-l3-rule-dest-ip.png
  docs/articles/vmware/images/vmw-vcd91-dfw-l3-rule-source-ip.png
  docs/articles/vmware/images/vmw-vcd91-dfw-l3-rule.png
Labels: VMware, update content

#2432 Reinstate delete image
  articles/vmware/images/vmw-vcd91-dfw-l3-rule.png
Labels: fix build issue

#2433 Fix issues in Services at a glance article
  articles/other/other-ref-product-overview.md
Labels: X-platform, minor fix

#2437 Updating Tags for most recent review
  articles/connectivity/conn-ref-internet-access-elevated.md
  articles/connectivity/conn-ref-internet-permitted-ports.md
Labels: Connectivity, no changes

#2436 Review Patching as a Service service scope
  articles/managed-operations/man-sco-patching.md
Labels: Managed Operations, no changes

#2435 MMaaS Updates
  articles/managed-operations/man-faq-monitoring.md
  articles/managed-operations/man-home.md
  articles/managed-operations/man-how-monitoring-use-customer-polling.md
  articles/managed-operations/man-sco-monitoring.md
  articles/managed-operations/man-sd-managed-it-ops.md
Labels: update content, Managed Operations

#2445 Add note to create VPG article
  articles/vmware/vmw-faq-journaling-protection.md
  articles/vmware/vmw-how-zerto-create-vpg.md
Labels: VMware, update content, Zerto

#2442 Update vmw-ref-vmware-tools-installation.md
  articles/vmware/vmw-ref-vmware-tools-installation.md
Labels: VMware, no changes, article review

#2439 Review service definitions article
  articles/other/other-ref-service-definitions.md
Labels: X-platform, update content

#2440 Review VMware options article
  articles/vmware/vmw-ref-service-options.md
Labels: VMware, update content, article review

#2449 Update product status
  articles/other/other-ref-product-status.md
Labels: X-platform, update content

#2398 Adding instructions on using barbican and octavia to secure https endpoints
  articles/openstack/ostack-how-secure-octavia.md
Labels: OpenStack, new article

#2452 Retire edge gateways and ha article
  articles/vmware/vmw-ref-edge-ha.md
  docs/articles/vmware/vmw-ref-edge-ha.html
Labels: VMware, remove old content

#2448 Review oshift-how-publish-routes-on-multiple-networks.md
  articles/openshift/oshift-how-publish-routes-on-multiple-networks.md
Labels: OpenShift, no changes, article review

#2454 Update conn-faq-lecn.md
  articles/connectivity/conn-faq-lecn.md
Labels: Connectivity, update content, article review

#2455 Annual review of PSN flattening article
  articles/connectivity/conn-ref-psn-flattening.md
Labels: Connectivity, no changes, article review
