Repository UKCloud/documentation, pull requests merged in 2022-11, with the labels that each got.

#2880 Review Oracle docs
  articles/oracle/orcl-faq.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-how-build-vm.md
  articles/oracle/orcl-how-enable-ha.md
  articles/oracle/orcl-ref-bug-self-service.md
  articles/oracle/orcl-ref-db-backup.md
  articles/oracle/orcl-ref-licensing.md
  articles/oracle/orcl-ref-rac.md
  articles/oracle/orcl-ref-solaris-aix.md
  articles/oracle/orcl-ref-templates.md
  articles/oracle/orcl-ref-vm-compatibility.md
  articles/oracle/orcl-vid-overview.md
Labels: Oracle, no changes, article review, retired

#2881 Review doc - no changes needed
  articles/vmware/vmw-ref-vrops-trouble.md
Labels: VMware, no changes, article review

#2883 Remove videos
  articles/azure/azs-gs.md
  articles/azure/azs-home.md
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/azs-ref-overview.md
  articles/azure/azs-vid-overview.md
  articles/cloud-storage/cs-home.md
  articles/cloud-storage/cs-how-install-geodrive2-client.md
  articles/cloud-storage/cs-vid-geodrive2-client-overview.md
  articles/daas/daas-home.md
  articles/openshift/oshift-home.md
  articles/openstack/ostack-gs.md
  articles/openstack/ostack-home.md
  articles/openstack/ostack-how-use-triliovault.md
  articles/openstack/ostack-vid-overview.md
  articles/openstack/ostack-vid-trilio.md
  articles/oracle/orcl-gs.md
  articles/oracle/orcl-how-build-vm.md
  articles/oracle/orcl-how-enable-ha.md
  articles/oracle/orcl-vid-overview.md
  articles/other/other-how-contribute-knowledge.md
  articles/other/other-vid-kc-contribution.md
  articles/portal/ptl-gs.md
  articles/portal/ptl-how-signup-notifications.md
  articles/portal/ptl-how-use-my-calls.md
  articles/portal/ptl-ref-raise-escalate-service-request.md
  articles/portal/ptl-vid-mycalls.md
  articles/portal/ptl-vid-portal.md
  articles/pro-services/ps-home.md
  articles/security/draas-vid-zerto-dr.md
  articles/security/sec-home.md
  articles/security/soc-vid-intro.md
  articles/shared/shared-how-license-microsoft.md
  articles/shared/shared-how-setup-kms.md
  articles/shared/shared-ref-overview.md
  articles/shared/shared-vid-licensing-kms.md
  articles/vmware/vmw-home.md
  articles/vmware/vmw-how-configure-distributed-firewall.md
  articles/vmware/vmw-vid-build-vdc-portal.md
  articles/vmware/vmw-vid-dfw.md
  articles/vmware/vmw-vid-l2-vpn.md
  docs/articles/azure/azs-vid-overview.html
  docs/articles/cloud-storage/cs-vid-geodrive2-client-overview.html
  docs/articles/openstack/ostack-vid-overview.html
  docs/articles/openstack/ostack-vid-trilio.html
  docs/articles/oracle/orcl-vid-overview.html
  docs/articles/other/other-vid-kc-contribution.html
  docs/articles/portal/ptl-vid-mycalls.html
  docs/articles/portal/ptl-vid-portal.html
  docs/articles/security/draas-vid-zerto-dr.html
  docs/articles/security/soc-vid-intro.html
  docs/articles/shared/shared-vid-licensing-kms.html
  docs/articles/vmware/vmw-vid-build-vdc-portal.html
  docs/articles/vmware/vmw-vid-dfw.html
  docs/articles/vmware/vmw-vid-l2-vpn.html
Labels: X-platform, remove old content

#2884 Add liquidation disclaimer to home page
  index.md
Labels: KC, update content

#2885 Fix offboarding article
  articles/other/other-ref-offboarding.md
Labels: minor fix, KC

#2887 Edit My Calls article
  articles/portal/ptl-how-use-my-calls.md
  docs/articles/portal/ptl-how-raise-escalate-service-request.html
  docs/articles/portal/ptl-ref-portal-release-notes.html
Labels: Portal, minor fix, Support

#2902 doc review vmw-how-deploy-multiple-vms-from-vapp.md
  articles/vmware/vmw-how-deploy-multiple-vms-from-vapp.md
Labels: VMware, no changes, article review

#2900 doc review enbl-sco-transfer-regions.md
  articles/enablement/enbl-sco-transfer-regions.md
Labels: Enablement, no changes, article review

#2898 doc review vmw-ref-byof-working-firewalls.md
  articles/vmware/vmw-ref-byof-working-firewalls.md
Labels: VMware, no changes, article review

#2897 doc review vmw-ref-shared-secret-issues.md
  articles/vmware/vmw-ref-shared-secret-issues.md
Labels: VMware, no changes, article review

#2896 doc review vmw-how-change-ipsec-vpn-api.md
  articles/vmware/vmw-how-change-ipsec-vpn-api.md
Labels: VMware, no changes, article review

#2894 doc review vmw-ref-ipsec-vpn.md
  articles/vmware/vmw-ref-ipsec-vpn.md
Labels: VMware, no changes, article review

#2892 doc review vmw-ref-virtual-hardware-v14.md
  articles/vmware/vmw-ref-virtual-hardware-v14.md
Labels: VMware, update content, article review

#2891 doc review vmw-how-retrieve-utilisation-metrics.md
  articles/vmware/vmw-how-retrieve-utilisation-metrics.md
Labels: VMware, no changes, article review

#2889 doc review vmw-ref-oversized-vms.md
  articles/vmware/vmw-ref-oversized-vms.md
Labels: VMware, no changes, article review
