Repository UKCloud/documentation, pull requests merged in 2022-05, with the labels that each got.

#2569 Fix review date
  articles/cdsz/cdsz-sco.md
Labels: SRA/CDSZ, minor fix

#2555 New Service Scope for Workspace ONE
  articles/vmware/vmw-sco-vls-ws1.md
Labels: VMware, new article, VLS

#2570 mito updates
  articles/managed-operations/images/man-sd-managed-it-ops.png
  articles/managed-operations/man-how-add-remove-device.md
  articles/managed-operations/man-sd-managed-it-ops.md
  articles/other/other-faq-g12.md
  articles/other/other-ref-products-overview.md
Labels: Managed Operations

#2552 Review services by region article
  articles/other/images/other-sites-regions-zones.png
  articles/other/other-ref-services-by-region.md
Labels: X-platform, update content, article review

#2553 Retire G-Cloud 12 FAQ
  articles/other/other-faq-g12.md
  docs/articles/other/other-faq-g11.html
  docs/articles/other/other-faq-g12.html
Labels: X-platform, G-Cloud, remove old content, article review

#2571 fix broken link to G12 FAQ
  articles/other/other-faq-ukcloud.md
Labels: fix build issue

#2572 Updating metadata for most recent review
  articles/connectivity/conn-faq-hscn.md
  articles/connectivity/conn-faq-n3.md
Labels: no changes, article review

#2573 HSCN FAQ metadata fix
  articles/connectivity/conn-faq-hscn.md
Labels: fix build issue

#2559 Review My Calls articles - April
  articles/managed-operations/man-faq-patching.md
  articles/openshift/oshift-sco.md
  articles/other/other-ref-complaints.md
  articles/other/other-ref-sla-definition.md
  articles/portal/images/ptl-contact-mycalls-access-deselected.png
  articles/portal/images/ptl-contact-mycalls-access-selected.png
  articles/portal/images/ptl-contact-tab-mycalls-permissions.png
  articles/portal/images/ptl-mnu-mycalls.png
  articles/portal/images/ptl-mycalls-btn-add-note-incident.png
  articles/portal/images/ptl-mycalls-btn-add-note-request.png
  articles/portal/images/ptl-mycalls-btn-attach-incident.png
  articles/portal/images/ptl-mycalls-btn-attach-request.png
  articles/portal/images/ptl-mycalls-btn-incident.png
  articles/portal/images/ptl-mycalls-btn-request-submit.png
  articles/portal/images/ptl-mycalls-btn-request.png
  articles/portal/images/ptl-mycalls-btn-roles.png
  articles/portal/images/ptl-mycalls-btn-save-incident-details.png
  articles/portal/images/ptl-mycalls-btn-save-incident.png
  articles/portal/images/ptl-mycalls-btn-save-request.png
  articles/portal/images/ptl-mycalls-btn-submit.png
  articles/portal/images/ptl-mycalls-edit-incident.png
  articles/portal/images/ptl-mycalls-edit-request.png
  articles/portal/images/ptl-mycalls-home.png
  articles/portal/images/ptl-mycalls-incident-close.png
  articles/portal/images/ptl-mycalls-incident-reopen.png
  articles/portal/images/ptl-mycalls-link.png
  articles/portal/images/ptl-mycalls-new-incident.png
  articles/portal/images/ptl-mycalls-new-request.png
  articles/portal/images/ptl-mycalls-service-catalog.png
  articles/portal/images/ptl-mycalls-survey-incident.png
  articles/portal/images/ptl-mycalls-survey-request.png
  articles/portal/images/ptl-mycalls-survey.png
  articles/portal/images/ptl-mycalls-tab-admin.png
  articles/portal/images/ptl-mycalls-tab-catalog.png
  articles/portal/images/ptl-mycalls-tab-request-details.png
  articles/portal/images/ptl-mycalls-template-incident.png
  articles/portal/images/ptl-mycalls-template-request.png
  articles/portal/images/ptl-mycalls-tile.png
  articles/portal/images/ptl-mycalls-user.png
  articles/portal/ptl-how-manage-my-calls.md
  articles/portal/ptl-how-use-my-calls.md
  articles/portal/ptl-ref-multiple-accounts.md
  articles/portal/ptl-ref-raise-escalate-service-request.md
  articles/portal/ptl-vid-mycalls.md
  articles/vmware/vmw-sco-snapshot-protection.md
  docs/articles/portal/images/ptl-mycalls-btn-request-submit.png
  docs/articles/portal/images/ptl-mycalls-incident-reopen.png
  docs/articles/portal/images/ptl-mycalls-new-request.png
  docs/articles/portal/images/ptl-mycalls-template-incident.png
  docs/articles/portal/images/ptl-mycalls-template-request.png
Labels: Portal, Support, update content, article review

#2582 Doc review update
  articles/openshift/oshift-ref-scaling.md
Labels: OpenShift, no changes, article review

#2583 Annual review of VMware FAQ
  articles/vmware/vmw-faq.md
Labels: VMware, update content, article review

#2581 Update Portal overview video article
  articles/portal/ptl-vid-portal.md
Labels: Portal, update content, article review

#2580 Annual review - monitoring
  articles/other/other-ref-ukcloud-monitoring.md
Labels: X-platform, Support, no changes, article review

#2579 Annual review - complaints process
  articles/other/other-ref-complaints.md
Labels: X-platform, Support, no changes, article review

#2578 Review offboarding article
  articles/other/other-ref-offboarding.md
Labels: X-platform, remove old content, article review

#2577 Annual review - MS licensing
  articles/shared/shared-how-license-microsoft.md
Labels: no changes, Shared Services, article review

#2574 VLS - change email address for offboarding
  articles/vmware/vmw-sco-vls.md
Labels: VMware, update content, VLS

#2584 Update references to Protective Monitoring
  articles/azure/azs-faq.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-faq.md
  articles/cdsz/cdsz-sco.md
  articles/cloud-storage/cs-faq.md
  articles/cloud-storage/cs-sco.md
  articles/managed-operations/man-faq-adv-support-svcs.md
  articles/managed-operations/man-faq-antivirus.md
  articles/managed-operations/man-faq-monitoring.md
  articles/managed-operations/man-faq-patching.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-faq.md
  articles/oracle/orcl-sco.md
  articles/other/other-ref-glossary.md
  articles/portal/ptl-gs.md
  articles/shared/shared-ref-access-to-vms.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-faq.md
  articles/vmware/vmw-sco.md
Labels: update content, Security

#2585 Annual review of protective monitoring article
  articles/other/other-ref-promon.md
Labels: X-platform, update content, article review, Security

#2575 Replace refs to RLI
  articles/azure/azs-faq.md
  articles/azure/azs-gs.md
  articles/azure/azs-how-create-vm-cli.md
  articles/azure/azs-how-create-vm-portal.md
  articles/azure/azs-how-create-vm-ps.md
  articles/azure/azs-ref-overview.md
  articles/azure/azs-sco.md
  articles/cdsz/cdsz-gs-walled-garden.md
  articles/cdsz/cdsz-ref-bp-overview.md
  articles/cloud-storage/cs-sco.md
  articles/connectivity/conn-faq-lecn.md
  articles/connectivity/conn-faq.md
  articles/draas/draas-faq.md
  articles/managed-operations/man-sco-ad.md
  articles/managed-operations/man-sco-antivirus.md
  articles/managed-operations/man-sco-monitoring.md
  articles/managed-operations/man-sco-patching.md
  articles/managed-operations/man-sco-sqlserver.md
  articles/managed-operations/man-sco-webserver.md
  articles/openshift/oshift-ref-pricing.md
  articles/openshift/oshift-sco.md
  articles/openstack/ostack-sco.md
  articles/oracle/orcl-faq.md
  articles/other/other-ref-glossary.md
  articles/other/other-ref-promon.md
  articles/other/other-ref-services-by-region.md
  articles/private-cloud/prc-sco.md
  articles/sra/sra-sco.md
  articles/vmware/vmw-ref-connectivity-options.md
  articles/vmware/vmw-ref-service-options.md
  articles/vmware/vmw-sco.md
Labels: Connectivity, update content

#2611 Annual review Portal release notes
  articles/portal/ptl-ref-release-notes.md
Labels: Portal, no changes, article review
